<section class="about-bank">
    <div class="container">
        <div class="inner-container">
            <div class="article__categories">
                <div class="tabs-nav tabs-nav--compact">
                    <a href="#" class="tabs-nav__link active">
                        О банке
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Реквизиты банка
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Лицензии и руководство банка
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Открытая информация
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Вакансии
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Устав
                    </a>
                </div>
            </div>
            <div class="about-bank__content">
                <div class="about-bank__header-image-container">
                    <img src="img/about-bank.jpg" alt="" class="about-bank__header-image" />
                    <h3 class="about-bank__header-title">
                        Миссия банка
                    </h3>
                    <div class="about-bank__header-text">
                        <p>
                            Мы делаем обращение с деньгами простым и естественным
                        </p>
                    </div>
                </div>
                <div class="about-bank__history">
                    <p>
                        ООО КБЭР ”Банк Казани” - универсальный региональный коммерческий банк, основанный в 1990 году и являющийся старейшим финансовым учреждением столицы Татарстана
                    </p>
                </div>
                <div class="about-bank__achievments">
                    <ul class="about-bank__achievments-list">
                        <li class="about-bank__achievments-list-item">
                            <div class="about-bank__achievments-card">
                                <h4 class="about-bank__achievments-card-title">
                                    Капитал
                                </h4>
                                <div class="about-bank__achievments-card-icon-container">
                                    <img src="img/achievments/1.svg" alt="" class="about-bank__achievments-card-icon" />
                                </div>

                                <div class="about-bank__achievments-card-place">
                                    2,2 млрд
                                </div>
                            </div>
                        </li>
                        <li class="about-bank__achievments-list-item">
                            <div class="about-bank__achievments-card">
                                <h4 class="about-bank__achievments-card-title">
                                    Активы
                                </h4>
                                <div class="about-bank__achievments-card-icon-container">
                                    <img src="img/achievments/2.svg" alt="" class="about-bank__achievments-card-icon" />
                                </div>
                                <div class="about-bank__achievments-card-place">
                                    175-е место
                                </div>
                            </div>
                        </li>
                        <li class="about-bank__achievments-list-item">
                            <div class="about-bank__achievments-card">
                                <h4 class="about-bank__achievments-card-title">
                                    Развитие сети
                                </h4>
                                <div class="about-bank__achievments-card-icon-container">
                                    <img src="img/achievments/3.svg" alt="" class="about-bank__achievments-card-icon" />
                                </div>
                                <div class="about-bank__achievments-card-place">
                                    15 офисов
                                </div>
                                <div class="about-bank__achievments-card-remark">
                                    Казань, Наб. Челны., Нижнекамск, Москва, Нижний Новгород
                                </div>
                            </div>
                        </li>
                        <li class="about-bank__achievments-list-item">
                            <div class="about-bank__achievments-card">
                                <h4 class="about-bank__achievments-card-title">
                                    Прибыль
                                </h4>
                                <div class="about-bank__achievments-card-icon-container">
                                    <img src="img/achievments/1.svg" alt="" class="about-bank__achievments-card-icon" />
                                </div>
                                <div class="about-bank__achievments-card-place">
                                    47,5 млн
                                </div>
                                <div class="about-bank__achievments-card-remark">
                                    Чистая прибыль за 1 полугодие 2020 года
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="about-bank__text">
                    <p>
                        Основные продукты — комплексное банковское обслуживание предпринимателей и юридических лиц, платёжные операции, депозиты, а также целевое и потребительское кредитование, вклады и переводы
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="advantages">
    <div class="container">
        <div class="inner-container">
            <ul class="advantages__list">
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Надежность
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/verified.svg" alt="" class="advantages__card-btns-icon" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Доходность
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/money.svg" alt="" class="advantages__card-btns-icon" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Развитие 
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/computer.svg" alt="" class="advantages__card-btns-icon" />
                            </div>
                        </div>
                    </a>
                </li>
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Лояльность
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/heart.svg" alt="" class="advantages__card-btns-icon" />
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
