<section class="additional-info">
    <div class="container">
        <div class="inner-container">
            <h2 class="additional-info__heading">
                Дополнительная информация
            </h2>
            <div class="additional-info__content">
                <div class="additional-info__accordion js-accordion">
                    <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                        <span class="additional-info__accordion-btn-arrow">
                            <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </span>
                        Аффилированные лица и участники банка
                    </a>
                    <div class="additional-info__accordion-content js-accordion-content">
                        <div class="additional-info__accordion-content-inner">
                            <ul class="additional-info__docs-list">
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="additional-info__inner-accordion js-additional-info-inner-accordion">
                                <a href="#" class="additional-info__inner-accordion-btn js-additional-info-inner-accordion-btn">
                                    <span class="additional-info__inner-accordion-btn-arrow">
                                        <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                            <use xlink:href="#arrow-down" />
                                        </svg>
                                    </span>
                                    Внутренний аккордеон
                                </a>
                                <div class="additional-info__inner-accordion-content js-additional-info-inner-accordion-content">
                                    <div class="additional-info__inner-accordion-content-inner">
                                        <ul class="additional-info__docs-list">
                                            <li class="additional-info__docs-list-item">
                                                <a href="#" class="additional-info__docs-card">
                                                    <span class="additional-info__docs-card-icon-container">
                                                        <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                            <use xlink:href="#doc" />
                                                        </svg>
                                                    </span>
                                                    <div class="additional-info__docs-card-content">
                                                        <p>
                                                            Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                            <span class="additional-info__docs-card-meta-size">
                                                                pdf, 2,5mb
                                                            </span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="additional-info__docs-list-item">
                                                <a href="#" class="additional-info__docs-card">
                                                    <span class="additional-info__docs-card-icon-container">
                                                        <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                            <use xlink:href="#doc" />
                                                        </svg>
                                                    </span>
                                                    <div class="additional-info__docs-card-content">
                                                        <p>
                                                            Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                            <span class="additional-info__docs-card-meta-size">
                                                                pdf, 2,5mb
                                                            </span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="additional-info__docs-list-item">
                                                <a href="#" class="additional-info__docs-card">
                                                    <span class="additional-info__docs-card-icon-container">
                                                        <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                            <use xlink:href="#doc" />
                                                        </svg>
                                                    </span>
                                                    <div class="additional-info__docs-card-content">
                                                        <p>
                                                            Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                            <span class="additional-info__docs-card-meta-size">
                                                                pdf, 2,5mb
                                                            </span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="additional-info__docs-list-item">
                                                <a href="#" class="additional-info__docs-card">
                                                    <span class="additional-info__docs-card-icon-container">
                                                        <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                            <use xlink:href="#doc" />
                                                        </svg>
                                                    </span>
                                                    <div class="additional-info__docs-card-content">
                                                        <p>
                                                            Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                            <span class="additional-info__docs-card-meta-size">
                                                                pdf, 2,5mb
                                                            </span>
                                                        </p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="additional-info__accordion js-accordion">
                    <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                        <span class="additional-info__accordion-btn-arrow">
                            <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </span>
                        Квартальная отчётность
                    </a>
                    <div class="additional-info__accordion-content js-accordion-content">
                        <div class="additional-info__accordion-content-inner">
                            <ul class="additional-info__docs-list">
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="additional-info__accordion js-accordion">
                    <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                        <span class="additional-info__accordion-btn-arrow">
                            <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </span>
                        Отчётность по РСБУ
                    </a>
                    <div class="additional-info__accordion-content js-accordion-content">
                        <div class="additional-info__accordion-content-inner">
                            <ul class="additional-info__docs-list">
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="additional-info__accordion js-accordion">
                    <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                        <span class="additional-info__accordion-btn-arrow">
                            <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </span>
                        Отчётность по МСФО
                    </a>
                    <div class="additional-info__accordion-content js-accordion-content">
                        <div class="additional-info__accordion-content-inner">
                            <ul class="additional-info__docs-list">
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="additional-info__accordion js-accordion">
                    <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                        <span class="additional-info__accordion-btn-arrow">
                            <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </span>
                        Аффилированные лица и участники банка
                    </a>
                    <div class="additional-info__accordion-content js-accordion-content">
                        <div class="additional-info__accordion-content-inner">
                            <ul class="additional-info__docs-list">
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li class="additional-info__docs-list-item">
                                    <a href="#" class="additional-info__docs-card">
                                        <span class="additional-info__docs-card-icon-container">
                                            <svg width="22" height="28" aria-hidden="true" class="icon-doc">
                                                <use xlink:href="#doc" />
                                            </svg>
                                        </span>
                                        <div class="additional-info__docs-card-content">
                                            <p>
                                                Лицензия на осуществление банковской деятельности с физическими лицами № 708 от 27 мая 2016 г.
                                                <span class="additional-info__docs-card-meta-size">
                                                    pdf, 2,5mb
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
