<section class="advantages">
    <div class="container">
        <div class="inner-container">
            <h2 class="products__heading">
                Преимущества
            </h2>
            <ul class="advantages__list">
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Оптимальные проценты
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right" />
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/fire.svg" alt="" class="advantages__card-btns-icon">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Индивидуальные кредитные условия
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right" />
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/ok.svg" alt="" class="advantages__card-btns-icon">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Персональный менеджер
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right" />
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/bubble.svg" alt="" class="advantages__card-btns-icon">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="advantages__list-item">
                    <a href="#" class="advantages__card">
                        <h4 class="advantages__card-title">
                            Персональный менеджер
                        </h4>
                        <div class="advantages__card-text">
                            <p>
                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                            </p>
                        </div>
                        <div class="advantages__card-btns">
                            <div class="advantages__card-btns-arrow">
                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right" />
                                </svg>
                            </div>
                            <div class="advantages__card-btns-icon-container">
                                <img src="img/for-business/bubble.svg" alt="" class="advantages__card-btns-icon">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
