<section class="announcement">
    <div class="container">
        <a href="#" class="announcement__card">
            <img src="img/announcement.jpg" alt="" class="announcement__card-image">
            <h2 class="announcement__card-heading">
                Оформите расчетный счет онлайн бесплатно
            </h2>
            <div class="announcement__card-description">
                <p>
                    Всего за 5 минут вы получите зарезервированный номер счета
                </p>
            </div>
            <span class="announcement__btn">
                Оформить заявку
            </span>
        </a>
    </div>
</section>
