<div class="application-steps">
    <div class="container">
        <div class="inner-container">
            <ul class="application-steps__items">
                <li class="application-steps__item">
                    <div class="application-steps__card">
                        <div class="application-steps__card-number">
                            1
                        </div>
                        <h4 class="application-steps__card-heading">
                            Оставьте заявку
                        </h4>
                        <div class="application-steps__card-text">
                            <p>
                                Заполните данные на сайте для получения кредита
                            </p>
                        </div>
                    </div>
                </li>
                <li class="application-steps__item">
                    <div class="application-steps__card">
                        <div class="application-steps__card-number">
                            2
                        </div>
                        <h4 class="application-steps__card-heading">
                            Дождитесь ответа
                        </h4>
                        <div class="application-steps__card-text">
                            <p>
                                Вы получите SMS-сообщения с решением банка
                            </p>
                        </div>
                    </div>
                </li>
                <li class="application-steps__item">
                    <div class="application-steps__card">
                        <div class="application-steps__card-number">
                            3
                        </div>
                        <h4 class="application-steps__card-heading">
                            Получите кредит
                        </h4>
                        <div class="application-steps__card-text">
                            <p>
                                Получите кредит в выбранном отеделении банка
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
