<section class="article">
    <div class="container">
        <div class="inner-container">
           
            <a href="#" class="article__go-back article__go-back--grey">
                <svg width="14" height="10" aria-hidden="true" class="icon-arrow-up">
                    <use xlink:href="#arrow-up" />
                </svg>
                К списку новостей</a
            >
            <h1 class="article__main-heading">
                О внесении в единый реестр инвестиционных советников сведений об ООО КБЭР «Банк Казани»
            </h1>
            <span class="article__date">12 мая 2020 </span>
            <div class="article__description article__description--light">
                <p>
                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                </p>
            </div>
            
            <div class="article__content">
                <figure>
                    <img src="img/article-content-image.jpg" alt="" />
                    <figcaption class="centered">Подпись к фотографии</figcaption>
                </figure>
                <h2>
                    Заголовок H2
                </h2>
                <p>Оформление <a href="#">финансируемого контракта</a> (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.</p>
                <p>
                    До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы, Клиентом
                    направляется реестр планируемого расходования средств.
                </p>
                <p>
                    Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                </p>
                <div class="article__info-table">
                    <h2>
                        Заголовок H2
                    </h2>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Название столбца
                                </th>
                                <th>
                                    Название второго столбца
                                </th>
                                <th>
                                    Название третьего столбца
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    минимальная сумма
                                </th>
                                <td>
                                    <div class="text">
                                        <span class="amount">
                                            500 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                    Максимальная сумма
                                </th>
                                <td>
                                    <span class="text">
                                        <span class="amount">
                                            2 000 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                        <p>
                                            Без обеспечения
                                        </p>
                                    </span>
                                </td>
                                <td>
                                    <span class="text">
                                        <span class="amount">
                                            10 000 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                        <p>
                                            при поручительстве субъектов поддержки предпринимательства
                                        </p>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Срок кредита
                                </th>
                                <td>
                                    <div class="text">
                                        <b>6 месяцев</b>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                    Процентная ставка по кредиту
                                </th>
                                <td>
                                    <div class="text">
                                        <b>
                                            13,5 % годовых
                                        </b>
                                       
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                    Процентная ставка по кредиту
                                </th>
                                <td>
                                    <div class="text">
                                        <b>
                                            0,3%, но не менее 5 000 рублей
                                        </b>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                   
                </div>
                <h2>Заголовок H2</h2>
                <ul>
                    <li>
                        Пункт списка номер один

                    </li>
                    <li>
                        Второй пункт списка

                    </li>
                    <li>
                        Третий пункт списка

                    </li>
                    <li>
                        Четвертый пункт списка
                    </li>
                </ul>
                <h2>Заголовок H2</h2>
                <ol>
                    <li>
                        Пункт списка номер один

                    </li>
                    <li>
                        Второй пункт списка

                    </li>
                    <li>
                        Третий пункт списка

                    </li>
                    <li>
                        Четвертый пункт списка
                    </li>
                </ol>

                
            </div>

            <div class="article__bottom">
                <div class="article__bottom-date">
                    12 мая 2020 
                </div>
                <div class="article__bottom-share">
                    <div class="article__bottom-share-text">
                        Поделиться
                    </div>
                    <ul class="article__share-list">
                        <li class="article__share-list-item">
                            <a href="#" class="article__share-link article__share-link--facebook">
                                <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook" />
                                </svg>
                            </a>
                        </li>
                        <li class="article__share-list-item">
                            <a href="#" class="article__share-link article__share-link--vk">
                                <svg width="14" height="14" aria-hidden="true" class="icon-vkontakte">
                                    <use xlink:href="#vkontakte" />
                                </svg>
                            </a>
                        </li>
                        <li class="article__share-list-item">
                            <a href="#" class="article__share-link article__share-link--instagram">
                                <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                    <use xlink:href="#instagram" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
