<section class="article">
    <div class="container">
        <div class="inner-container">
            <div class="article__categories">
                <div class="tabs-nav tabs-nav--compact">
                    <a href="#" class="tabs-nav__link active">
                        О банке
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Реквизиты банка
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Лицензии и руководство банка
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Открытая информация
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Вакансии
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Устав
                    </a>
                </div>
            </div>
            <a href="#" class="article__go-back">
                <svg width="14" height="10" aria-hidden="true" class="icon-arrow-up">
                    <use xlink:href="#arrow-up" />
                </svg>
                Вернуться</a
            >
            <h1 class="article__main-heading">
                Заголовок страницы H1
            </h1>
            <div class="article__description">
                <p>
                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                </p>
            </div>
            <div class="article__links">
                <a href="#" class="product-navigation__link">
                    заявка на кредит
                </a>
                <a href="#" class="product-navigation__link product-navigation__link--violet">
                    калькулятор кредита
                </a>
            </div>
            <div class="article__content">
                <div class="article__image-block">
                    <div class="article__image-block-row">
                        <div class="article__image-block-left-col">
                            <h2>
                                Заголовок H2
                            </h2>
                            <p>Оформление <a href="#">финансируемого контракта</a> (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.</p>
                            <p>
                                До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы, Клиентом
                                направляется реестр планируемого расходования средств.
                            </p>
                            <p>
                                Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                            </p>
                        </div>
                        <div class="article__image-block-right-col">
                            <figure>
                                <img src="img/article-image-block.jpg" alt="" />
                                <figcaption>Подпись к фотографии</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis ducimus nihil dolore? Distinctio doloribus culpa, consectetur incidunt iure aliquid!
                </p>
                <div class="article__info-table">
                    <h3>
                        Заголовок H3
                    </h3>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Название столбца
                                </th>
                                <th>
                                    Название второго столбца
                                </th>
                                <th>
                                    Название третьего столбца
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    минимальная сумма
                                </th>
                                <td>
                                    <div class="text">
                                        <span class="amount">
                                            500 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                    Максимальная сумма
                                </th>
                                <td>
                                    <span class="text">
                                        <span class="amount">
                                            2 000 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                        <p>
                                            Без обеспечения
                                        </p>
                                    </span>
                                </td>
                                <td>
                                    <span class="text">
                                        <span class="amount">
                                            10 000 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                        <p>
                                            при поручительстве субъектов поддержки предпринимательства
                                        </p>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Срок кредита
                                </th>
                                <td>
                                    <div class="text">
                                        <b>6 месяцев</b>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                    Процентная ставка по кредиту
                                </th>
                                <td>
                                    <div class="text">
                                        <b>
                                            13,5 % годовых
                                        </b>
                                        <svg width="20" height="20" aria-hidden="true" class="icon-info">
                                            <use xlink:href="#info"></use>
                                        </svg>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>
                                    Процентная ставка по кредиту
                                </th>
                                <td>
                                    <div class="text">
                                        <b>
                                            0,3%, но не менее 5 000 рублей
                                        </b>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        ¹ Не применяется при наличии положительной кредитной истории
                    </p>
                    <p>
                        ² В случае, если клиент не относится к категории клиентов с положительной кредитной истории, при условии отсутствия отрицательной кредитной истории
                    </p>
                    <p>
                        ³ ПАО Сбербанк, Банк ВТБ (ПАО), ПАО «Промсвязьбанк», ПАО «АК БАРС» БАНК, АО «Альфа-Банк», ПАО Банк «ФК Открытие»
                    </p>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum iste ea molestiae nostrum doloremque, ut atque aspernatur nulla adipisci vero minima placeat accusantium neque nisi officia ipsa labore enim voluptate, quisquam facere
                    minus totam, voluptas quis eos. Repudiandae delectus minus dolor ipsum! Ea, nam! Quas recusandae hic alias. Harum accusantium voluptate earum quae libero reiciendis laborum temporibus. Obcaecati, quos. Quia consectetur minus
                    consequatur dignissimos recusandae delectus, dolore a esse voluptatem?
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam rem adipisci porro non modi optio quidem voluptatem qui cum, vitae suscipit veniam sunt vero natus magni hic eaque perferendis delectus. Minus exercitationem
                    officiis sapiente aspernatur at ad consectetur molestiae vel.
                </p>
                <div class="article__lists-group">
                    <ul>
                        <li>
                            Пункт списка номер один
                        </li>
                        <li>
                            Второй пункт списка
                        </li>
                        <li>
                            Третий пункт списка
                        </li>
                        <li>
                            Четвертый пункт списка
                        </li>
                    </ul>
                    <ol>
                        <li>
                            Пункт списка номер один
                        </li>
                        <li>
                            Второй пункт списка
                        </li>
                        <li>
                            Третий пункт списка
                        </li>
                        <li>
                            Четвертый пункт списка
                        </li>
                    </ol>
                </div>

                <div class="article__questions">
                    <h3>
                        Вопрос-ответы
                    </h3>
                    <div class="additional-info__content">
                        <div class="additional-info__accordion js-accordion">
                            <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                                <span class="additional-info__accordion-btn-arrow">
                                    <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </span>
                                Текст вопроса является ссылкой, на которую можно нажать?
                            </a>
                            <div class="additional-info__accordion-content js-accordion-content">
                                <div class="additional-info__accordion-content-inner">
                                    <p>
                                        До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы,
                                        Клиентом направляется реестр планируемого расходования средств.
                                    </p>
                                    <p>
                                        Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="additional-info__accordion js-accordion">
                            <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                                <span class="additional-info__accordion-btn-arrow">
                                    <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </span>
                                Текст вопроса является ссылкой, на которую можно нажать?
                            </a>
                            <div class="additional-info__accordion-content js-accordion-content">
                                <div class="additional-info__accordion-content-inner">
                                    <p>
                                        До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы,
                                        Клиентом направляется реестр планируемого расходования средств.
                                    </p>
                                    <p>
                                        Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="additional-info__accordion js-accordion">
                            <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                                <span class="additional-info__accordion-btn-arrow">
                                    <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </span>
                                Текст вопроса является ссылкой, на которую можно нажать?
                            </a>
                            <div class="additional-info__accordion-content js-accordion-content">
                                <div class="additional-info__accordion-content-inner">
                                    <p>
                                        До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы,
                                        Клиентом направляется реестр планируемого расходования средств.
                                    </p>
                                    <p>
                                        Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="additional-info__accordion js-accordion">
                            <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                                <span class="additional-info__accordion-btn-arrow">
                                    <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </span>
                                Текст вопроса является ссылкой, на которую можно нажать?
                            </a>
                            <div class="additional-info__accordion-content js-accordion-content">
                                <div class="additional-info__accordion-content-inner">
                                    <p>
                                        До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы,
                                        Клиентом направляется реестр планируемого расходования средств.
                                    </p>
                                    <p>
                                        Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="additional-info__accordion js-accordion">
                            <a href="#" class="additional-info__accordion-btn js-accordion-btn">
                                <span class="additional-info__accordion-btn-arrow">
                                    <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </span>
                                Текст вопроса является ссылкой, на которую можно нажать?
                            </a>
                            <div class="additional-info__accordion-content js-accordion-content">
                                <div class="additional-info__accordion-content-inner">
                                    <p>
                                        До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы,
                                        Клиентом направляется реестр планируемого расходования средств.
                                    </p>
                                    <p>
                                        Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="article__advantages">
                    <h3>
                        Преимущества
                    </h3>
                    <div class="article__advantages-slider js-article-advantages">
                        <button class="article__advantages-arrow article__advantages-arrow--prev">
                            <span class="article__advantages-arrow-content">
                                <svg width="15" height="24" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left" />
                                </svg>
                            </span>
                        </button>
                        <button class="article__advantages-arrow article__advantages-arrow--next">
                            <span class="article__advantages-arrow-content">
                                <svg width="15" height="24" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right" />
                                </svg>
                            </span>
                        </button>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="article__advantages-card">
                                        <h5 class="article__advantages-card-title">
                                            Оптимальные проценты
                                        </h5>
                                        <div class="article__advantages-card-text">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                            </p>
                                        </div>
                                        <div class="article__advantages-card-bottom-row">
                                            <span class="article__advantages-card-arrow">
                                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </span>
                                            <div class="article__advantages-card-icon">
                                                <img src="img/for-business/fire.svg" alt="" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article__advantages-card">
                                        <h5 class="article__advantages-card-title">
                                            Индивидуальные кредитные условия
                                        </h5>
                                        <div class="article__advantages-card-text">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                            </p>
                                        </div>
                                        <div class="article__advantages-card-bottom-row">
                                            <span class="article__advantages-card-arrow">
                                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </span>
                                            <div class="article__advantages-card-icon">
                                                <img src="img/for-business/ok.svg" alt="" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article__advantages-card">
                                        <h5 class="article__advantages-card-title">
                                            Персональный менеджер
                                        </h5>
                                        <div class="article__advantages-card-text">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                            </p>
                                        </div>
                                        <div class="article__advantages-card-bottom-row">
                                            <span class="article__advantages-card-arrow">
                                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </span>
                                            <div class="article__advantages-card-icon">
                                                <img src="img/for-business/bubble.svg" alt="" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article__advantages-card">
                                        <h5 class="article__advantages-card-title">
                                            Персональный менеджер
                                        </h5>
                                        <div class="article__advantages-card-text">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                            </p>
                                        </div>
                                        <div class="article__advantages-card-bottom-row">
                                            <span class="article__advantages-card-arrow">
                                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </span>
                                            <div class="article__advantages-card-icon">
                                                <img src="img/for-business/bubble.svg" alt="" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="article__advantages-card">
                                        <h5 class="article__advantages-card-title">
                                            Персональный менеджер
                                        </h5>
                                        <div class="article__advantages-card-text">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                            </p>
                                        </div>
                                        <div class="article__advantages-card-bottom-row">
                                            <span class="article__advantages-card-arrow">
                                                <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </span>
                                            <div class="article__advantages-card-icon">
                                                <img src="img/for-business/bubble.svg" alt="" />
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
