<section class="calculate-credit" id="calc">
    <div class="container">
        <div class="calculate-credit__content">
            <div class="inner-container">
                <div class="calculate-credit__card">
                    <h2 class="calculate-credit__heading">
                        Рассчитать кредит
                    </h2>
                    <div class="calculate-credit__card-row">
                        <div class="calculate-credit__card-left-col">
                            <div class="calculate-credit__amount-row">
                                <div class="calculate-credit__amount-text">
                                    Сумма кредита, рубли
                                </div>
                                <div class="calculate-credit__amount-range">
                                    <div class="range-slider js-range-slider">
                                        <input type="range" name="first-currency-amount" step="10000" min="90000" max="2000000" class="range-slider__input" value="500000" />
                                        <div class="range-slider__element-wrapper">
                                            <input type="tel" class="range-slider__amount js-only-numeric" value="500000" />
                                            <div class="range-slider__element"></div>
                                        </div>
                                        <div class="range-slider__min-max">
                                            <div class="range-slider__min">
                                                90 000
                                            </div>
                                            <div class="range-slider__max">
                                                2 000 000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calculate-credit__amount-row">
                                <div class="calculate-credit__amount-text">
                                    Срок кредита, мес.
                                </div>
                                <div class="calculate-credit__amount-range">
                                    <div class="range-slider js-range-slider">
                                        <input type="range" name="first-currency-amount" step="1" min="1" max="36" class="range-slider__input" value="12" data-units="months" />
                                        <div class="range-slider__element-wrapper">
                                            <input type="tel" class="range-slider__amount js-only-numeric" value="12" />
                                            <div class="range-slider__element"></div>
                                        </div>
                                        <div class="range-slider__min-max">
                                            <div class="range-slider__min">
                                                1 месяц
                                            </div>
                                            <div class="range-slider__max">
                                                36 месяцев
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="calculate-credit__card-total-info">
                                Расчет платежа приведен с учетом финансовой защиты. Не является офертой.
                            </div>
                        </div>
                        <div class="calculate-credit__card-right-col">
                            <div class="calculate-credit__card-total">
                                <div class="calculate-credit__card-total-card">
                                    <div class="calculate-credit__card-total-card-key">
                                        35 351 ₽
                                    </div>
                                    <div class="calculate-credit__card-total-card-value">
                                        Ежемесячный платеж
                                    </div>
                                </div>
                                <div class="calculate-credit__card-total-card">
                                    <div class="calculate-credit__card-total-card-key">
                                        8.99%
                                    </div>
                                    <div class="calculate-credit__card-total-card-value">
                                        Ставка по кредиту
                                    </div>
                                </div>
                                <a href="#" class="calculate-credit__card-btn">
                                    Оформить заявку
                                    <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
