<section class="catalog">
    <div class="container">
        <div class="catalog__layout-row">
            <div class="catalog__left-col">
                <div class="catalog__menu">
                    <a href="#" class="catalog__menu-link">
                        Расчетно-кассовое обслуживание
                    </a>
                    <a href="#" class="catalog__menu-link active">
                        Кредиты бизнеcу
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Депозиты бизнесу
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Банковские гарантии
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Пластиковые карты
                    </a>
                </div>
            </div>
            <div class="catalog__right-col">
                <h1 class="catalog__main-heading">
                    Онлайн страхование
                </h1>

                <div class="catalog-products">
                    <ul class="catalog-products__list">
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Жизнь
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Накопительное страхование жизни
                                </h4>
                            </a>
                        </li>
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Жизнь
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Инвестиционное страхование жизни
                                </h4>
                            </a>
                        </li>
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Имущество
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Страхование имущества физических лиц
                                </h4>
                            </a>
                        </li>
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Здоровье
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Страхование от несчастных случаев и болезни №СО-3.0» (Защита от COVID-19)
                                </h4>
                            </a>
                        </li>
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Жизнь
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Накопительное страхование жизни
                                </h4>
                            </a>
                        </li>
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Жизнь
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Инвестиционное страхование жизни
                                </h4>
                            </a>
                        </li>
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Имущество
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Страхование имущества физических лиц
                                </h4>
                            </a>
                        </li>
                        <li class="catalog-products__list-item">
                            <a href="#" class="catalog-products__card">
                                <div class="catalog-products__tags">
                                    <div class="catalog-products__tag">
                                        Здоровье
                                    </div>
                                </div>
                                <h4 class="catalog-products__card-title">
                                    Страхование от несчастных случаев и болезни №СО-3.0» (Защита от COVID-19)
                                </h4>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
