<section class="catalog">
    <div class="container">
        <div class="catalog__layout-row">
            <div class="catalog__left-col">
                <div class="catalog__menu">
                    <a href="#" class="catalog__menu-link">
                        Расчетно-кассовое обслуживание
                    </a>
                    <a href="#" class="catalog__menu-link active">
                        Кредиты бизнеcу
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Депозиты бизнесу
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Банковские гарантии
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Пластиковые карты
                    </a>
                </div>
            </div>
            <div class="catalog__right-col">
                <h1 class="catalog__main-heading">
                    Дебетовые карты
                </h1>
                <div class="catalog__cards">
                    <ul class="catalog__cards-list">
                        <li class="catalog__cards-list-item">
                            <div class="catalog__cards-block">
                                <img src="img/catalog-cards/card-1.png" alt="" class="catalog__cards-image" />
                                <div class="catalog__cards-block-content">
                                    <h3 class="catalog__cards-block-title">
                                        VISA Gold
                                    </h3>
                                    <div class="catalog__cards-block-description">
                                        Удобная карта для ежедневного использования
                                    </div>
                                    <ul class="catalog__cards-block-features-list">
                                        <li class="catalog__cards-block-features-list-item">
                                            <div class="catalog__cards-block-features-item-key">
                                                Бесплатно
                                            </div>
                                            <div class="catalog__cards-block-features-item-value">
                                                Интернет-банк и мобильный банк
                                            </div>
                                        </li>
                                        <li class="catalog__cards-block-features-list-item">
                                            <div class="catalog__cards-block-features-item-key">
                                                Персональное обслуживание
                                            </div>
                                            <div class="catalog__cards-block-features-item-value">
                                                Интернет-банк и мобильный банк
                                            </div>
                                        </li>
                                        <li class="catalog__cards-block-features-list-item">
                                            <div class="catalog__cards-block-features-item-key">
                                                Дополнительные карты
                                            </div>
                                            <div class="catalog__cards-block-features-item-value">
                                                Оформление дополнительных карт
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="catalog__cards-block-btns">
                                        <a href="#" class="catalog__cards-block-btn-link-filled">
                                            оформить карту
                                        </a>
                                        <a href="#" class="catalog__cards-block-btn-link">
                                            узнать больше
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="catalog__cards-list-item">
                            <div class="catalog__cards-block">
                                <img src="img/catalog-cards/card-2.png" alt="" class="catalog__cards-image" />
                                <div class="catalog__cards-block-content">
                                    <h3 class="catalog__cards-block-title">
                                        VISA Infinite
                                    </h3>
                                    <div class="catalog__cards-block-description">
                                        Премиальная карта
                                    </div>
                                    <ul class="catalog__cards-block-features-list">
                                        <li class="catalog__cards-block-features-list-item">
                                            <div class="catalog__cards-block-features-item-key">
                                                Бесплатно
                                            </div>
                                            <div class="catalog__cards-block-features-item-value">
                                                Интернет-банк и мобильный банк
                                            </div>
                                        </li>
                                        <li class="catalog__cards-block-features-list-item">
                                            <div class="catalog__cards-block-features-item-key">
                                                Повышенный расходный лимит
                                            </div>
                                            <div class="catalog__cards-block-features-item-value">
                                                Интернет-банк и мобильный банк
                                            </div>
                                        </li>
                                        <li class="catalog__cards-block-features-list-item">
                                            <div class="catalog__cards-block-features-item-key">
                                                Экстренные услуги
                                            </div>
                                            <div class="catalog__cards-block-features-item-value">
                                                Оформление дополнительных карт
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="catalog__cards-block-btns">
                                        <a href="#" class="catalog__cards-block-btn-link-filled">
                                            оформить карту
                                        </a>
                                        <a href="#" class="catalog__cards-block-btn-link">
                                            узнать больше
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="catalog__cards-list-item" id="mir">
                            <div class="catalog__cards-tabs js-tabs">
                                <div class="catalog__cards-tabs-nav">
                                    <div class="tabs-nav">
                                        <a href="#" class="tabs-nav__link js-tabs-nav active">
                                            Классическая
                                        </a>
                                        <a href="#" class="tabs-nav__link js-tabs-nav">
                                            Для пенсионеров
                                        </a>
                                    </div>
                                </div>
                                <div class="catalog__cards-tabs-items">
                                    <div class="tab-items">
                                        <div class="tab-items__item js-tabs-item active">
                                            <div class="catalog__cards-block">
                                                <img src="img/catalog-cards/card-2.png" alt="" class="catalog__cards-image" />
                                                <div class="catalog__cards-block-content">
                                                    <h3 class="catalog__cards-block-title">
                                                        МИР Привилегия
                                                    </h3>
                                                    <div class="catalog__cards-block-description">
                                                        Оптимальная карта для ежедневного пользования
                                                    </div>
                                                    <ul class="catalog__cards-block-features-list">
                                                        <li class="catalog__cards-block-features-list-item">
                                                            <div class="catalog__cards-block-features-item-key">
                                                                Бесплатно
                                                            </div>
                                                            <div class="catalog__cards-block-features-item-value">
                                                                Снятие денежных средств по всей России
                                                            </div>
                                                        </li>
                                                        <li class="catalog__cards-block-features-list-item">
                                                            <div class="catalog__cards-block-features-item-key">
                                                                Стоимость обслуживания
                                                            </div>
                                                            <div class="catalog__cards-block-features-item-value">
                                                                300 рублей в год
                                                            </div>
                                                        </li>
                                                        <li class="catalog__cards-block-features-list-item">
                                                            <div class="catalog__cards-block-features-item-key">
                                                                Бесплатно
                                                            </div>
                                                            <div class="catalog__cards-block-features-item-value">
                                                                Интернет-банки мобильный банк
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="catalog__cards-block-btns">
                                                        <a href="#" class="catalog__cards-block-btn-link-filled">
                                                            оформить карту
                                                        </a>
                                                        <a href="#" class="catalog__cards-block-btn-link">
                                                            узнать больше
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-items__item js-tabs-item">
                                            <div class="catalog__cards-block">
                                                <img src="img/catalog-cards/card-2.png" alt="" class="catalog__cards-image" />
                                                <div class="catalog__cards-block-content">
                                                    <h3 class="catalog__cards-block-title">
                                                        МИР Привилегия
                                                    </h3>
                                                    <div class="catalog__cards-block-description">
                                                        Оптимальная карта для ежедневного пользования
                                                    </div>
                                                    <ul class="catalog__cards-block-features-list">
                                                        <li class="catalog__cards-block-features-list-item">
                                                            <div class="catalog__cards-block-features-item-key">
                                                                Бесплатно
                                                            </div>
                                                            <div class="catalog__cards-block-features-item-value">
                                                                Снятие денежных средств по всей России
                                                            </div>
                                                        </li>
                                                        <li class="catalog__cards-block-features-list-item">
                                                            <div class="catalog__cards-block-features-item-key">
                                                                Стоимость обслуживания
                                                            </div>
                                                            <div class="catalog__cards-block-features-item-value">
                                                                300 рублей в год
                                                            </div>
                                                        </li>
                                                        <li class="catalog__cards-block-features-list-item">
                                                            <div class="catalog__cards-block-features-item-key">
                                                                Бесплатно
                                                            </div>
                                                            <div class="catalog__cards-block-features-item-value">
                                                                Интернет-банки мобильный банк
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="catalog__cards-block-btns">
                                                        <a href="#" class="catalog__cards-block-btn-link-filled">
                                                            оформить карту
                                                        </a>
                                                        <a href="#" class="catalog__cards-block-btn-link">
                                                            узнать больше
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
