<section class="contact-bank">
    <div class="contact-bank__inner">
        <div class="contact-bank__bg">
            <img src="img/contact-bank-bg.jpg" alt="" class="contact-bank__bg-image" />
        </div>
        <div class="container">
            <div class="contact-bank__row">
                <div class="contact-bank__left-col">
                    <h2 class="contact-bank__heading">
                        Связаться с банком
                    </h2>
                </div>
                <div class="contact-bank__right-col">
                    <div class="contact-bank__content">
                        <h5 class="contact-bank__call-us">
                            Позвоните нам
                        </h5>
                        <a href="tel:+78007751877" class="contact-bank__phone-link">8 (800) 77-518-77</a>

                        <h5 class="contact-bank__leave-request">
                            Или оставьте заявку и мы вам перезовним
                        </h5>
                        <form action="/" method="POST" class="contact-bank__form" data-need-validation>
                            <div class="contact-bank__input-wrapper">
                                <input type="tel" name="phone" class="contact-bank__input js-phone-input" placeholder="+7" required/>
                            </div>
                            <button type="submit" class="contact-bank__submit-btn">
                                перезвоните мне
                            </button>
                            <label class="open-account__privacy-policy-checkbox contact-bank__checkbox">
                                <input type="checkbox" name="policy" class="open-account__privacy-policy-checkbox-input" checked="" required="" data-parsley-multiple="policy">
                                <span class="open-account__privacy-policy-checkbox-mark open-account__privacy-policy-checkbox-mark--white">
                                    <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark"></use>
                                    </svg>
                                </span>
                                <span class="open-account__privacy-policy-checkbox-text">
                                    Нажимая кнопку "Отправить", я соглашаюсь с условиями обработки персональных данных
                                </span>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
