<section class="s-curexc-main" style="background-image: url(img/currency-exchange/main-bg.jpg);">
	<div class="container">

		<div class="product-navigation__logo-bar">
			<a href="index.html" class="product-navigation__logo-link">
				<img src="img/logo-white.svg" alt="" class="product-navigation__logo-image" />
				<img src="img/logo-violet.svg" alt="" class="product-navigation__logo-image" />
			</a>
		</div>

		<div class="container-inner">

			<div class="curexc-main-back">
				<a href="#" class="product-navigation__main-info-back-link">
					<svg width="8" height="14" aria-hidden="true" class="icon-arrow-left">
						<use xlink:href="#arrow-left"></use>
					</svg>
					Вернуться назад
				</a>
			</div>

			<div class="curexc-title">
				<h1 class="product-navigation__main-info-heading">Зафиксируйте курс сейчас и заберите деньги, когда удобно</h1>
			</div>

			<div class="curexc-cards">

				<ul class="advantages__list">
					<li class="advantages__list-item">
						<a href="#" class="advantages__card">
							<h4 class="advantages__card-title">
								Выгодный курс 
							</h4>
							<div class="advantages__card-text">
								<p>
									Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении.
								</p>
							</div>
							<div class="advantages__card-btns">
								<div class="advantages__card-more">Подробнее</div>
								<div class="advantages__card-btns-icon-container">
									<img src="img/currency-exchange/icons/money-exchange.svg" alt="" class="advantages__card-btns-icon" />
								</div>
							</div>
							<div class="curexc-adv-item-for-popup-text">
								<p>
									Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
								</p>
							</div>
						</a>
					</li>
					<li class="advantages__list-item">
						<a href="#" class="advantages__card">
							<h4 class="advantages__card-title">
								Без переплаты за фиксацию 
							</h4>
							<div class="advantages__card-text">
								<p>
									Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
								</p>
							</div>
							<div class="advantages__card-btns">
								<div class="advantages__card-more">Подробнее</div>
								<div class="advantages__card-btns-icon-container">
									<img src="img/currency-exchange/icons/benefits.svg" alt="" class="advantages__card-btns-icon" />
								</div>
							</div>
							<div class="curexc-adv-item-for-popup-text">
								<p>
									Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
								</p>
							</div>
						</a>
					</li>
					<li class="advantages__list-item">
						<a href="#" class="advantages__card">
							<h4 class="advantages__card-title">
								Фиксация курса по карте любого банка 
							</h4>
							<div class="advantages__card-text">
								<p>
									Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
								</p>
							</div>
							<div class="advantages__card-btns">
								<div class="advantages__card-more">Подробнее</div>
								<div class="advantages__card-btns-icon-container">
									<img src="img/currency-exchange/icons/credit-card.svg" alt="" class="advantages__card-btns-icon" />
								</div>
							</div>
							<div class="curexc-adv-item-for-popup-text">
								<p>
									Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
								</p>
							</div>
						</a>
					</li>
					<li class="advantages__list-item">
						<a href="#" class="advantages__card">
							<h4 class="advantages__card-title">
								Персональный менеджер
							</h4>
							<div class="advantages__card-text">
								<p>
									Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
								</p>
							</div>
							<div class="advantages__card-btns">
								<div class="advantages__card-more">Подробнее</div>
								<div class="advantages__card-btns-icon-container">
									<img src="img/currency-exchange/icons/message.svg" alt="" class="advantages__card-btns-icon" />
								</div>
							</div>
							<div class="curexc-adv-item-for-popup-text">
								<p>
									Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
								</p>
							</div>
						</a>
					</li>
				</ul>

			</div>

		</div>

	</div>
</section>

<section class="s-curexс">
	<div class="container-inner">
		
		<div class="curexc-steps-nav">
			<div class="application__steps-new">
				<ul class="application__steps-new-list">
					<li class="application__steps-new-list-item active">
						<div class="application__steps-card">
							<div class="application__steps-card-number">
								1
							</div>
							<h4 class="application__steps-card-title">Выберите валюту и сумму для обмена</h4>
						</div>
					</li>
					<li class="application__steps-new-list-item">
						<div class="application__steps-card">
							<div class="application__steps-card-number">
								2
							</div>
							<h4 class="application__steps-card-title">Перечислите обеспечительный платеж</h4>
						</div>
					</li>
					<li class="application__steps-new-list-item">
						<div class="application__steps-card">
							<div class="application__steps-card-number">
								3
							</div>
							<h4 class="application__steps-card-title">Придите в отделение банка для завершения операции</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="curexc-form">
			<div class="application__form">

				<div class="application__form-progress">
					<div class="application__form-progress-bar"></div>
				</div>

				<div class="curexc-wrapper">

					<div class="curexc-left">
						<div class="application__form-steps-layers">

							<div class="application__form-steps-layer active" data-step="1">

								<div class="application__form-steps-numbers">Шаг 1 из 3</div>

								<h2 class="application__form-heading">Зафиксировать текущий курс</h2>

								<div class="application__form-mob-text">Выберите валюту и сумму для обмена</div>

								<div class="application__form-fields">
									<div class="application__form-fields-group">
										<div class="application__form-label">
											<div class="appliaction__form-label-text">
												Тип операции
											</div>
											<div class="application__form-input-wrapper">
												<div class="select-operations-type">
													<label class="select-operations-type-label">
														<input type="radio" name="operations-type" value="0" checked>
														<span>Купить</span>
													</label>
													<label class="select-operations-type-label">
														<input type="radio" name="operations-type" value="1">
														<span>Продать</span>
													</label>
												</div>
											</div>
										</div>
									</div>
									<div class="application__form-fields-group">
										<div class="application__form-label">
											<div class="appliaction__form-label-text">
												Город
											</div>
											<div class="application__form-input-wrapper">
												<div class="custom-select default-full-select">
													<select class="custom-select__input js-custom-select">
														<option value="Казань">Казань</option>
														<option value="Москва">Москва</option>
														<option value="Альметьевск">Альметьевск</option>
														<option value="Набережные челны">Набережные челны</option>
														<option value="Бугульма">Бугульма</option>
														<option value="Елабгу">Елабгу</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="application__form-fields-group">
										<div class="application__form-label">
											<div class="appliaction__form-label-text">
												Отделение банка <a href="#" class="open-map">на карте</a>
											</div>
											<div class="application__form-input-wrapper">
												<div class="select-location-group">
													<div class="selected-location muted danger">Выберите отделение</div>
													<div class="select-location-drop">
														<div class="select-location-item selected">
															<div class="select-location-item-main">Казань, улица Кремлевская, д.2а/6</div>
															<div class="select-location-item-second">ДО "Декабристов"</div>
															<div class="select-location-item-icon">
																<div class="show-more-info">
																	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C15.514 20 20 15.514 20 10C20 4.486 15.514 0 10 0ZM10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C14.411 2 18 5.589 18 10C18 14.411 14.411 18 10 18Z" fill="#D9D9D9"/>
																		<path d="M11 5H9V10.414L12.293 13.707L13.707 12.293L11 9.586V5Z" fill="#D9D9D9"/>
																	</svg>
																	<div class="show-more-info__dropdown">
																		<div class="show-more-info__dropdown-inner">
																			<p>
																				Время работы: 9:00-19:00
																			</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="select-location-item">
															<div class="select-location-item-main">Казань, улица Кремлевская, д.2а/6</div>
															<div class="select-location-item-second">ДО "Декабристов"</div>
															<div class="select-location-item-icon">
																<div class="show-more-info">
																	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C15.514 20 20 15.514 20 10C20 4.486 15.514 0 10 0ZM10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C14.411 2 18 5.589 18 10C18 14.411 14.411 18 10 18Z" fill="#D9D9D9"/>
																		<path d="M11 5H9V10.414L12.293 13.707L13.707 12.293L11 9.586V5Z" fill="#D9D9D9"/>
																	</svg>
																	<div class="show-more-info__dropdown">
																		<div class="show-more-info__dropdown-inner">
																			<p>
																				Время работы: 9:00-19:00
																			</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="select-location-item">
															<div class="select-location-item-main">Казань, улица Кремлевская, д.2а/6</div>
															<div class="select-location-item-second">ДО "Декабристов"</div>
															<div class="select-location-item-icon">
																<div class="show-more-info">
																	<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C15.514 20 20 15.514 20 10C20 4.486 15.514 0 10 0ZM10 18C5.589 18 2 14.411 2 10C2 5.589 5.589 2 10 2C14.411 2 18 5.589 18 10C18 14.411 14.411 18 10 18Z" fill="#D9D9D9"/>
																		<path d="M11 5H9V10.414L12.293 13.707L13.707 12.293L11 9.586V5Z" fill="#D9D9D9"/>
																	</svg>
																	<div class="show-more-info__dropdown">
																		<div class="show-more-info__dropdown-inner">
																			<p>
																				Время работы: 9:00-19:00
																			</p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="map-slide-container">
										<div class="offices-map-container">
											<div id="offices-map" class="offices-map-frame"></div>
										</div>
										<div class="offices-map-ballon"></div>
									</div>

									<script>
										var valuteJSON = [
											{
												base: 'USD',
												coef: {
													RUB: 74.79,
													USD: 1,
													EUR: 0.83,
												}
											},
											{
												base: 'RUB',
												coef: {
													RUB: 1,
													USD: 0.013,
													EUR: 0.011,
												}
											},
											{
												base: 'EUR',
												coef: {
													RUB: 90.57,
													USD: 1.21,
													EUR: 1,
												}
											},
										]
									</script>

									<div class="curexc-buy-sell-group">

										<div class="application__form-fields-group">
											<div class="application__form-label">
												<div class="appliaction__form-label-text" data-rotate-text="Я получу">
													<span>Я покупаю</span>
												</div>
												<div class="application__form-input-wrapper">
													<div class="curexc-converter with-icon">
														<div class="currency__card-calculate-widget-item currency__card-calculate-widget-item--top">
															<div class="currency__card-calculate-widget-range-wrapper">
																<div class="range-slider range-slider--no-right-radius js-range-slider">
																	<input type="range" name="first-currency-amount" step="0" min="100" max="10000" class="range-slider__input curexc-value-from" value="1000" />
																	<div class="range-slider__element-wrapper">
																		<input type="tel" class="range-slider__amount js-only-numeric" value="14000" />
																		<div class="range-slider__element"></div>
																	</div>
																</div>
															</div>
															<div class="currency__card-calculate-widget-select-wrapper">
																<div class="custom-select custom-select--no-left-radius">
																	<select name="first-currency-name" class="custom-select__input js-custom-select curexc-valute-type-from">
																		<option value="RUB">RUB</option>
																		<option value="USD">USD</option>
																		<option value="EUR" selected>EUR</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="range-slider__min-max">
															<div class="range-slider__min">
																100
															</div>
															<div class="range-slider__max">
																10 000
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="application__form-fields-group">
											<div class="application__form-label">
												<div class="appliaction__form-label-text" data-rotate-text="Я продаю">
													<span>Я заплачу</span>
												</div>
												<div class="application__form-input-wrapper">
													<div class="curexc-converter">
														<div class="currency__card-calculate-widget-item currency__card-calculate-widget-item--top">
															<div class="currency__card-calculate-widget-range-wrapper">
																<div class="range-slider range-slider--no-right-radius js-range-slider">
																	<input type="range" name="first-currency-amount" step="0" min="100" max="1000000" class="range-slider__input curexc-value-to" value="89390" />
																	<div class="range-slider__element-wrapper">
																		<input type="tel" class="range-slider__amount js-only-numeric" value="14000" />
																		<div class="range-slider__element"></div>
																	</div>
																</div>
															</div>
															<div class="currency__card-calculate-widget-select-wrapper">
																<div class="custom-select custom-select--no-left-radius">
																	<select name="first-currency-name" class="custom-select__input js-custom-select curexc-valute-type-to">
																		<option value="RUB" selected>RUB</option>
																		<option value="USD">USD</option>
																		<option value="EUR">EUR</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="range-slider__min-max">
															<div class="range-slider__min">
																100
															</div>
															<div class="range-slider__max">
																1 000 000
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>

							<div class="application__form-steps-layer" data-step="2">

								<div class="application__form-steps-numbers">Шаг 2 из 3</div>

								<h2 class="application__form-heading">Зафиксировать текущий курс</h2>

								<div class="application__form-mob-text">Перечислите обеспечительный платеж</div>

								<div class="application__form-fields">

									<div class="curexc-table">
										<table>
											<tr>
												<td>Покупка</td>
												<td>
													<div class="curexc-table-price"><span>1 000</span> евро</div>
												</td>
											</tr>
											<tr>
												<td>По курсу</td>
												<td>
													<div class="curexc-table-price"><span>89,7</span> рублей</div>
												</td>
											</tr>
											<tr>
												<td>На сумму</td>
												<td>
													<div class="curexc-table-price"><span>89 700</span> рублей</div>
												</td>
											</tr>
											<tr>
												<td>Отделение банка</td>
												<td>
													<div class="curexc-total-info">
														<div class="h4">ДО "Кремлевский"</div>
														<p>Казань, улица Кремлевская, д.2а/6 (на пересечении улиц Кремлевская и Чернышевского)</p>
														<br>
														<p>Время работы</p>
														<p><span>ПН-ПТ – с 09:00 до 17:00<br>СБ – нерабочий день</span></p>
													</div>
												</td>
											</tr>
											<tr>
												<td>Бронь действительна</td>
												<td>
													<div class="curexc-total-info">
														<div class="h4">18.02.2021 - 22.02.2021 17:00</div>
														<p>Операция может занять до 30 минут</p>
													</div>
												</td>
											</tr>
										</table>
									</div>

									<div class="curexc-steps-mob-total">
										<div class="curexc-total active">
											<div class="h3">К оплате</div>
											<div class="curexc-total-body">
												<div class="curexc-total-price">
													<div class="curexc-total-price-value">₽ 89 900</div>
													<div class="show-more-info">
														<svg width="14" height="14" aria-hidden="true" class="icon-info">
															<use xlink:href="#info"></use>
														</svg>
														<div class="show-more-info__dropdown">
															<div class="show-more-info__dropdown-inner">
																<p>
																	Текст выпадашки
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="curexc-total-text">Комиссия 200 рублей</div>
											</div>
										</div>
									</div>

									<div class="application__form-fields-group">
										<div class="application__form-label">
											<div class="appliaction__form-label-text">
												Номер телефона
											</div>
											<div class="application__form-input-wrapper">
												<div class="input-group">
													<input type="tel" class="application__form-input js-phone-input" id="curexc-phone-input" placeholder="+7">
												</div>
												<div class="form-text">На этот номер придет СМС с кодом подтверждения</div>
											</div>
										</div>
									</div>

									<div class="application__form-fields-group">
										<div class="application__form-label">
											<div class="appliaction__form-label-text">
												Обеспечительный платеж
											</div>
											<div class="application__form-input-wrapper">
												<div class="input-group">
													<input type="text" class="application__form-input bold" value="370 ₽ " readonly>
													<div class="show-more-info">
														<svg width="14" height="14" aria-hidden="true" class="icon-info">
															<use xlink:href="#info"></use>
														</svg>
														<div class="show-more-info__dropdown">
															<div class="show-more-info__dropdown-inner">
																<p>
																	Текст выпадашки
																</p>
															</div>
														</div>
													</div>
												</div>
												<div class="form-text">После совершения обмена валюты в отделении Банка сумма вернется на карту. Внимание! В отделении Банка Вам необходимо при себе иметь полную сумму валютообменной операции</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>

							<div class="application__form-steps-layer" data-step="3">

								<div class="application__form-steps-numbers">Шаг 3 из 3</div>

								<h2 class="application__form-heading">Ждем Вас в отделении</h2>

								<div class="application__form-mob-text">Придите в отделение банка для завершения операции</div>

								<div class="application__form-fields">

									<div class="curexc-thanks">
										<div class="curexc-thanks-icon">
											<img src="img/icons/checkmark-circle.svg" alt="">
										</div>
										<div class="h2">Спасибо, курс забронирован</div>
										<p>Ждем вас в отделении банка</p>
									</div>

									<div class="curexc-table curexc-table--total">
										<table>
											<tr>
												<td>Покупка</td>
												<td>
													<div class="curexc-table-price"><span>1 000</span> евро</div>
												</td>
											</tr>
											<tr>
												<td>По курсу</td>
												<td>
													<div class="curexc-table-price"><span>89,7</span> рублей</div>
												</td>
											</tr>
											<tr>
												<td>На сумму</td>
												<td>
													<div class="curexc-table-price"><span>89 700</span> рублей</div>
												</td>
											</tr>
											<tr>
												<td>Отделение банка</td>
												<td>
													<div class="curexc-total-info">
														<div class="h4">ДО "Кремлевский"</div>
														<p>Казань, улица Кремлевская, д.2а/6 (на пересечении улиц Кремлевская и Чернышевского)</p>
														<br>
														<p>Время работы</p>
														<p><span>ПН-ПТ – с 09:00 до 17:00<br>СБ – нерабочий день</span></p>
													</div>
												</td>
											</tr>
											<tr>
												<td>Обеспечительный платеж</td>
												<td>
													<div class="curexc-table-price-with-info">
														<div class="curexc-table-price"><span>370</span> рублей</div>
														<div class="show-more-info">
															<svg width="14" height="14" aria-hidden="true" class="icon-info">
																<use xlink:href="#info"></use>
															</svg>
															<div class="show-more-info__dropdown">
																<div class="show-more-info__dropdown-inner">
																	<p>
																		Текст выпадашки
																	</p>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>К оплате</td>
												<td>
													<div class="curexc-table-price-with-info">
														<div class="curexc-table-price"><span>89 900</span> рублей</div>
														<div class="show-more-info">
															<svg width="14" height="14" aria-hidden="true" class="icon-info">
																<use xlink:href="#info"></use>
															</svg>
															<div class="show-more-info__dropdown">
																<div class="show-more-info__dropdown-inner">
																	<p>
																		Текст выпадашки
																	</p>
																</div>
															</div>
														</div>
													</div>
												</td>
											</tr>
											<tr>
												<td>Бронь действительна</td>
												<td>
													<div class="curexc-total-info">
														<div class="h4">18.02.2021 - 22.02.2021 17:00</div>
														<p>Операция может занять до 30 минут</p>
													</div>
												</td>
											</tr>
										</table>
									</div>
									
								</div>
							</div>

						</div>
					</div>

					<div class="curexc-right">
						<div class="actual-course">
							<div class="h3">Актуальный курс</div>
							<div class="actual-course-progressbar">
								<span style="width: 0;"></span>
							</div>
							<div class="actual-course-timer">Обновится через: <span class="timer" data-time="120"><span class="minutes">2</span>:<span class="seconds">00</span></span></div>
							<div class="actual-course-table">
								<div class="currency__card-rates-table-wrapper">
									<table>
										<tbody>
											<tr>
												<td>
													<span class="currency-name">
														USD
													</span>
												</td>
												<td>
													<span class="rate down">
														75,13
														<svg width="10" height="14" aria-hidden="true" class="icon-trend">
															<use xlink:href="#trend"></use>
														</svg>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span class="currency-name">
														EUR
													</span>
												</td>
												<td>
													<span class="rate">
														89,70
														<svg width="10" height="14" aria-hidden="true" class="icon-trend">
															<use xlink:href="#trend"></use>
														</svg>
													</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="curexc-total">
							<div class="h3">К оплате</div>
							<div class="curexc-total-price">
								<div class="curexc-total-price-value">₽ 89 900</div>
								<div class="show-more-info">
									<svg width="14" height="14" aria-hidden="true" class="icon-info">
										<use xlink:href="#info"></use>
									</svg>
									<div class="show-more-info__dropdown">
										<div class="show-more-info__dropdown-inner">
											<p>
												Текст выпадашки
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="curexc-total-text">Комиссия 200 рублей</div>
						</div>
					</div>

				</div>

				<div class="curexc-footer">
					<div class="curexc-footer-checkboxes">
						<div class="curexc-footer-checkboxes-item">
							<label class="curexc-footer-checkboxes-label">
								<input type="checkbox">
								<span>Я уведомлен о возможной необходимости предоставления паспорта и <a href="#">источника происхождения средств</a></span>
							</label>
							<div class="show-more-info">
								<svg width="14" height="14" aria-hidden="true" class="icon-info">
									<use xlink:href="#info"></use>
								</svg>
								<div class="show-more-info__dropdown">
									<div class="show-more-info__dropdown-inner">
										<p>
											Текст выпадашки
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="curexc-footer-checkboxes-item">
							<label class="curexc-footer-checkboxes-label">
								<input type="checkbox">
								<span>Нажимая кнопку "Далее", я соглашаюсь с условиями обработки <a href="#">персональных данных</a></span>
							</label>
						</div>
					</div>
					<div class="curexc-footer-btns">
						<button type="button" class="application__form-submit curexc-prev">
							<span class="application__form-submit-content">
								<svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
									<use xlink:href="#arrow-left"></use>
								</svg>
								Назад
							</span>
						</button>
						<button type="button" class="application__form-submit curexc-first-step">
							<span class="application__form-submit-content">
								<svg width="16" height="16" aria-hidden="true" class="icon-arrow-left">
									<use xlink:href="#arrow-left"></use>
								</svg>
								К шагу 1
							</span>
						</button>
						<button type="button" class="application__form-submit curexc-next" disabled>
							<span class="application__form-submit-content">
								Далее
								<svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
									<use xlink:href="#arrow-right"></use>
								</svg>
							</span>
						</button>
						<a href="#" class="application__form-submit curexc-to-main">
							<span class="application__form-submit-content">
								На главную
								<svg width="16" height="16" aria-hidden="true" class="icon-arrow-right">
									<use xlink:href="#arrow-right"></use>
								</svg>
							</span>
						</a>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>

<section class="s-curexc-info">
	<div class="container-inner">
		
		<div class="curexc-info-tabs-wrapper js-tabs">

			<div class="curexc-info-nav">
				<div class="calculator__nav">
					<div class="tabs-nav">
						<a href="#" class="tabs-nav__link js-tabs-nav active">
							Вопрос-ответы
						</a>
						<a href="#" class="tabs-nav__link js-tabs-nav">
							Преимущества
						</a>
						<a href="#" class="tabs-nav__link js-tabs-nav">
							Документы
						</a>
					</div>
				</div>
			</div>

			<div class="curexc-info-tabs-tabs">
				<div class="calculator__tabs">
					<div class="tab-items">
						<div class="tab-items__item js-tabs-item active">
							<div class="new-about-bank-products--dark-text">
								<ol class="new-about-bank-products__list">
									<li class="new-about-bank-products__list-item">
										<div class="new-about-bank-products__accordion js-accordion">
											<div class="new-about-bank-products__accordion-btn js-accordion-btn">
												SQL разработчик

												<svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
													<use xlink:href="#arrow-down" />
												</svg>
											</div>
											<div class="new-about-bank-products__accordion-content js-accordion-content">
												<div class="new-about-bank-products__accordion-text">
													<h4>
														Что будем делать
													</h4>
													<ul>
														<li>
															Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
														</li>
														<li>
															Настройка АБС "Новая Афина"
														</li>
														<li>
															Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
														</li>
													</ul>
													<h4>
														Что мы ожидаем от вас
													</h4>
													<ul>
														<li>
															Высшее техническое образование,
														</li>
														<li>
															Знание языка SQL, опыт написания сложных запросов к базе данных,
														</li>
														<li>
															Желательно понимание принципов работы финансовой организации
														</li>
													</ul>
													<h4>
														Что мы за это предлагаем
													</h4>
													<ul>
														<li>
															Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
														</li>
														<li>
															Просторный офис, оборудованное рабочее место
														</li>
														<li>
															Поддержку в период адаптации (система наставничества)
														</li>
														<li>
															Оборудованная комната приема пищи, автоматы с кофе и снеками
														</li>
														<li>
															Официальное оформление с 1-го рабочего дня
														</li>
														<li>
															График работы: 5/2, c 8.30-17.30 ч.
														</li>
														<li>
															Место работы: ул. Солдатская (ст.м. Козья Слобода)
														</li>
														<li>
															Заработная плата: оклад + ежеквартальные премии
														</li>
														<li>
															Возможность карьерного роста и профессионального развития в стабильном Банке
														</li>
														<li>
															Корпоративное обучение
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="new-about-bank-products__list-item">
										<div class="new-about-bank-products__accordion js-accordion">
											<div class="new-about-bank-products__accordion-btn js-accordion-btn">
												Администратор по информационной безопасности

												<svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
													<use xlink:href="#arrow-down" />
												</svg>
											</div>
											<div class="new-about-bank-products__accordion-content js-accordion-content">
												<div class="new-about-bank-products__accordion-text">
													<h4>
														Что будем делать
													</h4>
													<ul>
														<li>
															Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
														</li>
														<li>
															Настройка АБС "Новая Афина"
														</li>
														<li>
															Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
														</li>
													</ul>
													<h4>
														Что мы ожидаем от вас
													</h4>
													<ul>
														<li>
															Высшее техническое образование,
														</li>
														<li>
															Знание языка SQL, опыт написания сложных запросов к базе данных,
														</li>
														<li>
															Желательно понимание принципов работы финансовой организации
														</li>
													</ul>
													<h4>
														Что мы за это предлагаем
													</h4>
													<ul>
														<li>
															Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
														</li>
														<li>
															Просторный офис, оборудованное рабочее место
														</li>
														<li>
															Поддержку в период адаптации (система наставничества)
														</li>
														<li>
															Оборудованная комната приема пищи, автоматы с кофе и снеками
														</li>
														<li>
															Официальное оформление с 1-го рабочего дня
														</li>
														<li>
															График работы: 5/2, c 8.30-17.30 ч.
														</li>
														<li>
															Место работы: ул. Солдатская (ст.м. Козья Слобода)
														</li>
														<li>
															Заработная плата: оклад + ежеквартальные премии
														</li>
														<li>
															Возможность карьерного роста и профессионального развития в стабильном Банке
														</li>
														<li>
															Корпоративное обучение
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="new-about-bank-products__list-item">
										<div class="new-about-bank-products__accordion js-accordion">
											<div class="new-about-bank-products__accordion-btn js-accordion-btn">
												Главный специалист Службы анализа банковских рисков

												<svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
													<use xlink:href="#arrow-down" />
												</svg>
											</div>
											<div class="new-about-bank-products__accordion-content js-accordion-content">
												<div class="new-about-bank-products__accordion-text">
													<h4>
														Что будем делать
													</h4>
													<ul>
														<li>
															Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
														</li>
														<li>
															Настройка АБС "Новая Афина"
														</li>
														<li>
															Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
														</li>
													</ul>
													<h4>
														Что мы ожидаем от вас
													</h4>
													<ul>
														<li>
															Высшее техническое образование,
														</li>
														<li>
															Знание языка SQL, опыт написания сложных запросов к базе данных,
														</li>
														<li>
															Желательно понимание принципов работы финансовой организации
														</li>
													</ul>
													<h4>
														Что мы за это предлагаем
													</h4>
													<ul>
														<li>
															Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
														</li>
														<li>
															Просторный офис, оборудованное рабочее место
														</li>
														<li>
															Поддержку в период адаптации (система наставничества)
														</li>
														<li>
															Оборудованная комната приема пищи, автоматы с кофе и снеками
														</li>
														<li>
															Официальное оформление с 1-го рабочего дня
														</li>
														<li>
															График работы: 5/2, c 8.30-17.30 ч.
														</li>
														<li>
															Место работы: ул. Солдатская (ст.м. Козья Слобода)
														</li>
														<li>
															Заработная плата: оклад + ежеквартальные премии
														</li>
														<li>
															Возможность карьерного роста и профессионального развития в стабильном Банке
														</li>
														<li>
															Корпоративное обучение
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="new-about-bank-products__list-item">
										<div class="new-about-bank-products__accordion js-accordion">
											<div class="new-about-bank-products__accordion-btn js-accordion-btn">
												SQL разработчик

												<svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
													<use xlink:href="#arrow-down" />
												</svg>
											</div>
											<div class="new-about-bank-products__accordion-content js-accordion-content">
												<div class="new-about-bank-products__accordion-text">
													<h4>
														Что будем делать
													</h4>
													<ul>
														<li>
															Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
														</li>
														<li>
															Настройка АБС "Новая Афина"
														</li>
														<li>
															Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
														</li>
													</ul>
													<h4>
														Что мы ожидаем от вас
													</h4>
													<ul>
														<li>
															Высшее техническое образование,
														</li>
														<li>
															Знание языка SQL, опыт написания сложных запросов к базе данных,
														</li>
														<li>
															Желательно понимание принципов работы финансовой организации
														</li>
													</ul>
													<h4>
														Что мы за это предлагаем
													</h4>
													<ul>
														<li>
															Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
														</li>
														<li>
															Просторный офис, оборудованное рабочее место
														</li>
														<li>
															Поддержку в период адаптации (система наставничества)
														</li>
														<li>
															Оборудованная комната приема пищи, автоматы с кофе и снеками
														</li>
														<li>
															Официальное оформление с 1-го рабочего дня
														</li>
														<li>
															График работы: 5/2, c 8.30-17.30 ч.
														</li>
														<li>
															Место работы: ул. Солдатская (ст.м. Козья Слобода)
														</li>
														<li>
															Заработная плата: оклад + ежеквартальные премии
														</li>
														<li>
															Возможность карьерного роста и профессионального развития в стабильном Банке
														</li>
														<li>
															Корпоративное обучение
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="new-about-bank-products__list-item">
										<div class="new-about-bank-products__accordion js-accordion">
											<div class="new-about-bank-products__accordion-btn js-accordion-btn">
												Администратор по информационной безопасности

												<svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
													<use xlink:href="#arrow-down" />
												</svg>
											</div>
											<div class="new-about-bank-products__accordion-content js-accordion-content">
												<div class="new-about-bank-products__accordion-text">
													<h4>
														Что будем делать
													</h4>
													<ul>
														<li>
															Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
														</li>
														<li>
															Настройка АБС "Новая Афина"
														</li>
														<li>
															Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
														</li>
													</ul>
													<h4>
														Что мы ожидаем от вас
													</h4>
													<ul>
														<li>
															Высшее техническое образование,
														</li>
														<li>
															Знание языка SQL, опыт написания сложных запросов к базе данных,
														</li>
														<li>
															Желательно понимание принципов работы финансовой организации
														</li>
													</ul>
													<h4>
														Что мы за это предлагаем
													</h4>
													<ul>
														<li>
															Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
														</li>
														<li>
															Просторный офис, оборудованное рабочее место
														</li>
														<li>
															Поддержку в период адаптации (система наставничества)
														</li>
														<li>
															Оборудованная комната приема пищи, автоматы с кофе и снеками
														</li>
														<li>
															Официальное оформление с 1-го рабочего дня
														</li>
														<li>
															График работы: 5/2, c 8.30-17.30 ч.
														</li>
														<li>
															Место работы: ул. Солдатская (ст.м. Козья Слобода)
														</li>
														<li>
															Заработная плата: оклад + ежеквартальные премии
														</li>
														<li>
															Возможность карьерного роста и профессионального развития в стабильном Банке
														</li>
														<li>
															Корпоративное обучение
														</li>
													</ul>
												</div>
											</div>
										</div>
									</li>
								</ol>
							</div>
						</div>
						<div class="tab-items__item js-tabs-item">
							<ul class="text-block-advantages__list">
								<li class="text-block-advantages__list-item">
									<div class="text-block-advantages__card">
										<img src="img/currency-exchange/icons/money-exchange.svg" alt="" class="text-block-advantages__card-icon">
										<h3 class="text-block-advantages__card-title">
											Выгодный курс
										</h3>
										<div class="text-block-advantages__card-text">
											<p>
												Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
											</p>
										</div>
									</div>
								</li>
								<li class="text-block-advantages__list-item">
									<div class="text-block-advantages__card">
										<img src="img/currency-exchange/icons/benefits.svg" alt="" class="text-block-advantages__card-icon">
										<h3 class="text-block-advantages__card-title">
											Без переплаты за фиксацию
										</h3>
										<div class="text-block-advantages__card-text">
											<p>
												Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
											</p>
										</div>
									</div>
								</li>
								<li class="text-block-advantages__list-item">
									<div class="text-block-advantages__card">
										<img src="img/currency-exchange/icons/credit-card.svg" alt="" class="text-block-advantages__card-icon">
										<h3 class="text-block-advantages__card-title">
											Фиксация курса по карте любого банка
										</h3>
										<div class="text-block-advantages__card-text">
											<p>
												Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
											</p>
										</div>
									</div>
								</li>
								<li class="text-block-advantages__list-item">
									<div class="text-block-advantages__card">
										<img src="img/currency-exchange/icons/message.svg" alt="" class="text-block-advantages__card-icon">
										<h3 class="text-block-advantages__card-title">
											Персональный менеджер
										</h3>
										<div class="text-block-advantages__card-text">
											<p>
												Сумму обеспечительного платежа за фиксацию курса мы вернем после обмена валюты в отделении. Если вы не подойдете в отделение и не заберете деньги, то сумма спишется в качестве комиссии.
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab-items__item js-tabs-item">
							<ul class="personel__docs-list">
								<li class="personel__docs-list-item">
									<a href="#" class="documents__card">
										<svg width="40" height="40" aria-hidden="true" class="icon-doc">
											<use xlink:href="#doc"></use>
										</svg>
										<div class="documents__card-content">
											<h4 class="documents__card-title">
												Анкета кредит «Быстрый!»
											</h4>
											<p class="documents__card-info">
												pdf, 2,5mb, 20.01.2020
											</p>
										</div>
									</a>
								</li>
								<li class="personel__docs-list-item">
									<a href="#" class="documents__card">
										<svg width="40" height="40" aria-hidden="true" class="icon-doc">
											<use xlink:href="#doc"></use>
										</svg>
										<div class="documents__card-content">
											<h4 class="documents__card-title">
												Волеизъявление юридического лица
											</h4>
											<p class="documents__card-info">
												pdf, 2,5mb, 01.04.2019
											</p>
										</div>
									</a>
								</li>
								<li class="personel__docs-list-item">
									<a href="#" class="documents__card">
										<svg width="40" height="40" aria-hidden="true" class="icon-doc">
											<use xlink:href="#doc"></use>
										</svg>
										<div class="documents__card-content">
											<h4 class="documents__card-title">
												Волеизъявление физического лица
											</h4>
											<p class="documents__card-info">
												pdf, 2,5mb, 01.04.2019
											</p>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>

<section class="callback">
	<div class="container">
		<div class="callback__row">
			<h2 class="callback__heading">
				Остались вопросы?
			</h2>
			<form action="/" method="POST" class="callback__form" data-need-validation>
				<div class="callback__form-main-wrapper">
					<div class="callback__input-wrapper">
						<input type="tel" name="tel" class="callback__input js-phone-input" required data-parsley-phone placeholder="+7">
					</div>
					<button type="submit" class="callback__submit-btn">
						Обратный звонок
					</button>
				</div>

				<label class="open-account__privacy-policy-checkbox">
					<input type="checkbox" name="policy" class="open-account__privacy-policy-checkbox-input" checked="" required="">
					<span class="open-account__privacy-policy-checkbox-mark open-account__privacy-policy-checkbox-mark--white">
						<svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
							<use xlink:href="#checkmark"></use>
						</svg>
					</span>
					<span class="open-account__privacy-policy-checkbox-text">
						Нажимая кнопку "Обратный звонок", я соглашаюсь с условиями обработки персональных данных
					</span>
				</label>
			</form>
		</div>
	</div>
</section>