<section class="deposit-table">
    <div class="container">
        <div class="inner-container">
            <div class="deposit-table__wrapper">
                <div class="deposit-table__bg">
                    <div class="deposit-table__bg-col">
                        
                    </div>
                    <div class="deposit-table__bg-col">
                        <div class="deposit-table__bg-image-wrapper">
                            <img src="img/deposit-bg.jpg" alt="" class="deposit-table__bg-image" />
                        </div>
                    </div>
                    <div class="deposit-table__bg-col">
                        <div class="deposit-table__bg-image-wrapper">
                            <img src="img/deposit-bg.jpg" alt="" class="deposit-table__bg-image" />
                        </div>
                    </div>

                </div>
                <table>
                    <tbody>
                        <tr>
                            <th>
                                Вид депозита
                            </th>
                            <td>
                                <p class="deposit-table__name">«Классический»</p>
                              
                            </td>
                            <td>
                                <p class="deposit-table__name">
                                    С возможностью частичного<br />
                                    изъятия и полного досрочного<br />
                                    закрытия
                                </p>
                              
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Выплата процентов
                            </th>
                            <td>
                                <div class="deposit-table__rates">
                                    <div class="deposit-table__rates-item">
                                        <div class="deposit-table__rates-item-amount">
                                            4,0%
                                        </div>
                                        <div class="deposit-table__rates-item-details">от 50 000 <br />до 9 999 999,00 ₽</div>
                                    </div>
                                    <div class="deposit-table__rates-item">
                                        <div class="deposit-table__rates-item-amount">
                                            4,5%
                                        </div>
                                        <div class="deposit-table__rates-item-details">от 10 000 000<br />до 99 999 999,00 ₽</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="deposit-table__rates">
                                    <div class="deposit-table__rates-item">
                                        <div class="deposit-table__rates-item-amount">
                                            3,0%
                                        </div>
                                        <div class="deposit-table__rates-item-details">от 50 000 <br />до 9 999 999,00 ₽</div>
                                    </div>
                                    <div class="deposit-table__rates-item">
                                        <div class="deposit-table__rates-item-amount">
                                            3,5%
                                        </div>
                                        <div class="deposit-table__rates-item-details">от 10 000 000<br />до 99 999 999,00 ₽</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Выплата процентов
                            </th>
                            <td>
                                Ежемесячно или в конце срока
                            </td>
                            <td>
                                Ежемесячно или в конце срока
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Возможность пополнения
                            </th>
                            <td>
                                В течение первой половины срока Депозита
                                <p class="deposit-table__remark">
                                    мининимальная сумма пополнения 100 000 рублей
                                </p>
                            </td>
                            <td>
                                В течение первой половины срока Депозита
                                <p class="deposit-table__remark">
                                    мининимальная сумма пополнения 100 000 рублей
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Возможность изъятия
                            </th>
                            <td>
                                Без изъятий
                            </td>
                            <td>
                                Возможность полногодосрочного изъятия
                                <p class="deposit-table__remark">
                                    при условии минус 1% от действующей ставки
                                </p>
                                Возможность частичного изъятия
                                <p class="deposit-table__remark">
                                    не более 80% от первоначальной суммы
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Примечание
                            </th>
                            <td>
                                Свыше 100 000 000 рублей ставка устанавливается Банком индивидуально
                            </td>
                            <td>
                                Свыше 100 000 000 рублей ставка устанавливается Банком индивидуально
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
