<section class="documents">
    <div class="container">
        <div class="inner-container">
            <h2 class="documents__heading">
                Документы
            </h2>
            <div class="documents__content">
                <ul class="documents__list">
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Программы кредитования, действующие с 01.04.2020
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Общие условия договора потреб.кредит с 03.02.2020
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Волеизъявление физического лица/ИП в отношении кредитной истории
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Анкета-заявление на предоставление потребительского кредита по программам Банка (Заемщик)
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Анкета-заявление на предоставление потребительского кредита по программам Банка (Созаемщик, Поручитель)
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Памятка Заёмщику по потребительскому кредиту
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Справка о доходах по форме Банка
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Социально значимые предприятия
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Корпоративные предприятия
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Диапазоны значений ПСК
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="documents__list-item">
                        <a href="#" class="documents__card">
                            <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc" />
                            </svg>
                            <div class="documents__card-content">
                                <h4 class="documents__card-title">
                                    Условия программы кредитования Ипотечный
                                </h4>
                                <p class="documents__card-info">
                                    pdf, 2,5mb, 20.01.2020
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>