<section class="flexible-tariffs">
    <div class="container">
        <div class="inner-container">
            <h2 class="flexible-tariffs__heading">
                Гибкие пакеты
            </h2>
            <p class="flexible-tariffs__remark">
                Мы создали для вас максимально комфортные условия
            </p>
            <div class="flexible-tariffs__content">
                <ul class="flexible-tariffs__list">
                    <li class="flexible-tariffs__list-item">
                        <div class="flexible-tariffs__card">
                            <img src="img/tariffs/tariffs-1.jpg" alt="" class="flexible-tariffs__card-image" />
                            <h3 class="flexible-tariffs__card-title">
                                Базовый
                            </h3>
                            <div class="flexible-tariffs__card-info">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Абонентская плата
                                            </th>
                                            <td>
                                                <b>
                                                    390 ₽ / мес.
                                                </b>

                                                <div class="show-more-info">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-info">
                                                        <use xlink:href="#info" />
                                                    </svg>
                                                    <div class="show-more-info__dropdown">
                                                        <div class="show-more-info__dropdown-inner">
                                                            <p>
                                                                Текст выпадашки
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Подключение
                                            </th>
                                            <td>
                                                <b>
                                                    0 ₽
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Платежи
                                            </th>
                                            <td>
                                                <b>
                                                    3 бесплатно
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Снятие наличных
                                            </th>
                                            <td>
                                                от 1,5%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Внесение наличных по корпоративной карте
                                            </th>
                                            <td>
                                                0 ₽
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Перевод физическим лицам
                                            </th>
                                            <td>
                                                от 1,3%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flexible-tariffs__card-links">
                                <a href="#" class="flexible-tariffs__card-learn-more">
                                    Узнать больше
                                </a>
                                <a href="#" class="flexible-tariffs__card-link">
                                    открыть
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="flexible-tariffs__list-item">
                        <div class="flexible-tariffs__card flexible-tariffs__card--white">
                            <img src="img/tariffs/tariffs-2.jpg" alt="" class="flexible-tariffs__card-image" />
                            <h3 class="flexible-tariffs__card-title">
                                Комфортный
                            </h3>
                            <div class="flexible-tariffs__card-info">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Абонентская плата
                                            </th>
                                            <td>
                                                <b>
                                                    390 ₽ / мес.
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Подключение
                                            </th>
                                            <td>
                                                <b>
                                                    0 ₽
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Платежи
                                            </th>
                                            <td>
                                                <b>
                                                    3 бесплатно
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Снятие наличных
                                            </th>
                                            <td>
                                                от 1,5%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Внесение наличных по корпоративной карте
                                            </th>
                                            <td>
                                                0 ₽
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Перевод физическим лицам
                                            </th>
                                            <td>
                                                от 1,3%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flexible-tariffs__card-links">
                                <a href="#" class="flexible-tariffs__card-learn-more">
                                    Узнать больше
                                </a>
                                <a href="#" class="flexible-tariffs__card-link">
                                    открыть
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="flexible-tariffs__list-item">
                        <div class="flexible-tariffs__card flexible-tariffs__card--white">
                            <img src="img/tariffs/tariffs-3.jpg" alt="" class="flexible-tariffs__card-image" />
                            <h3 class="flexible-tariffs__card-title">
                                Мобильный бизнес
                            </h3>
                            <div class="flexible-tariffs__card-info">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                Абонентская плата
                                            </th>
                                            <td>
                                                <b>
                                                    390 ₽ / мес.
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Подключение
                                            </th>
                                            <td>
                                                <b>
                                                    0 ₽
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Платежи
                                            </th>
                                            <td>
                                                <b>
                                                    3 бесплатно
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Снятие наличных
                                            </th>
                                            <td>
                                                от 1,5%
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Внесение наличных по корпоративной карте
                                            </th>
                                            <td>
                                                0 ₽
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Перевод физическим лицам
                                            </th>
                                            <td>
                                                от 1,3%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="flexible-tariffs__card-links">
                                <a href="#" class="flexible-tariffs__card-learn-more">
                                    Узнать больше
                                </a>
                                <a href="#" class="flexible-tariffs__card-link">
                                    открыть
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="flexible-tariffs__message">* <a href="#">В рамках акции</a> с 05.03.2020 г. по 31.08.2020 г. в течение 6 месяцев с даты подключения. Со стандартными условиями Вы можете ознакомиться в <em>тарифах</em> РКО ЮЛ и ИП.</div>
        </div>
    </div>
</section>
