<section class="for-business js-for-business">
    <div class="container">
        <div class="for-business__row">
            <div class="for-business__left-column">
                <div class="for-business__tabs">
                    <div class="for-business__tabs-items">
                        <div class="for-business__tabs-item active">
                            <div class="for-business__card">
                                <h4 class="for-business__card-title">
                                    Удобный банк для среднего и крупного бизнеса
                                </h4>
                                <div class="for-business__card-text">
                                    <p>
                                        Выбираете банк для обслуживание? Мы поможем опре- делиться! Выбираете банк для обслуживание? Мы поможем определиться! Выбираете банк для обслуживание? 
                                    </p>
                                </div>
                                <a href="#" class="for-business__card-link">
                                    узнать больше
                                    <svg width="8" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="for-business__tabs-item">
                            <div class="for-business__card">
                                <h4 class="for-business__card-title">
                                    Удобный банк для среднего и крупного бизнеса 2
                                </h4>
                                <div class="for-business__card-text">
                                    <p>
                                        Выбираете банк для обслуживание? Мы поможем опре- делиться! Выбираете банк для обслуживание? Мы поможем определиться! Выбираете банк для обслуживание? 
                                    </p>
                                </div>
                                <a href="#" class="for-business__card-link">
                                    узнать больше
                                    <svg width="8" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="for-business__tabs-item">
                            <div class="for-business__card">
                                <h4 class="for-business__card-title">
                                    Удобный банк для среднего и крупного бизнеса 3
                                </h4>
                                <div class="for-business__card-text">
                                    <p>
                                        Выбираете банк для обслуживание? Мы поможем опре- делиться! Выбираете банк для обслуживание? Мы поможем определиться! Выбираете банк для обслуживание? 
                                    </p>
                                </div>
                                <a href="#" class="for-business__card-link">
                                    узнать больше
                                    <svg width="8" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="for-business__tabs-nav">
                        <a href="#" class="for-business__tabs-nav-link active">
                            <span class="for-business__countdown"></span>
                            <div class="for-business__tabs-nav-link-icon-container">
                                <img src="img/for-business/rocket.svg" alt="" class="for-business__tabs-nav-link-icon" onload="SVGInject(this)"/>
                            </div>
                            Оптимальные проценты
                        </a>
                        <a href="#" class="for-business__tabs-nav-link">
                            <span class="for-business__countdown"></span>
                            <div class="for-business__tabs-nav-link-icon-container">
                                <img src="img/for-business/clock.svg" alt="" class="for-business__tabs-nav-link-icon" onload="SVGInject(this)"/>
                            </div>
                            Индивидуальные кредитные условия
                        </a>
                        <a href="#" class="for-business__tabs-nav-link">
                            <span class="for-business__countdown"></span>
                            <div class="for-business__tabs-nav-link-icon-container">
                                <img src="img/for-business/light.svg" alt="" class="for-business__tabs-nav-link-icon" onload="SVGInject(this)"/>
                            </div>
                            Персональный менеджер
                        </a>
                    </div>
                </div>
            </div>
            <div class="for-business__right-column">
                <form action="/" method="POST" class="for-business__form" data-need-validation>
                    <h4 class="for-business__form-title">
                        Выбираете банк для обслуживания?
                    </h4>
                    <p class="for-business__form-text">
                        Поможем определиться:
                    </p>

                    <input type="tel" class="for-business__form-input js-phone-input" placeholder="+7" required data-parsley-phone/>

                    <button type="submit" class="for-business__form-submit">
                        бесплатная консультация
                    </button>
                    <label class="open-account__privacy-policy-checkbox">
                        <input type="checkbox" name="policy" class="open-account__privacy-policy-checkbox-input" checked="" required="" data-parsley-multiple="policy">
                        <span class="open-account__privacy-policy-checkbox-mark">
                            <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="open-account__privacy-policy-checkbox-text">
                            Нажимая кнопку "Отправить", я соглашаюсь с условиями обработки персональных данных
                        </span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>
