<section class="general-rules">
    <div class="container">
        <div class="inner-container">
            <h2 class="general-rules__heading">
                Общие условия
            </h2>

            <div class="general-rules__table">
                <div class="general-rules__backplate"></div>
                <table>
                    <tr>
                        <th>цель кредита</th>
                        <td>
                            <div class="text">
                                <b>Потребительские нужды</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>цель кредита</th>
                        <td>
                            <div class="text">
                                <span class="amount">
                                    30 000
                                </span>
                                <b>
                                    рублей
                                </b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>цель кредита</th>
                        <td>
                            <ul>
                                <li>
                                    <span class="text">
                                        <p>
                                            Для клиентов, относящихся к категории «Руководящий состав»
                                        </p>
                                        <span class="amount">
                                            2 000 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                    </span>
                                </li>
                                <li>
                                    <span class="text">
                                        <p>
                                            Для клиентов, зарегистрированных в качестве самозанятых
                                        </p>
                                        <span class="amount">
                                            2 000 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                    </span>
                                </li>
                                <li>
                                    <span class="text">
                                        <p>
                                            Для остальных клиентов
                                        </p>
                                        <span class="amount">
                                            1 000 000
                                        </span>
                                        <b>
                                            рублей
                                        </b>
                                        <svg width="20" height="20" aria-hidden="true" class="icon-info">
                                            <use xlink:href="#info" />
                                        </svg>
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Срок кредита</th>
                        <td>
                            <div class="link-group">
                                <div class="text">
                                    <b>от 12 до 84 месяцев</b>
                                </div>
                                <a href="#" class="details-link">
                                    подробнее
                                    <svg width="14" height="8" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Процентная ставка по кредиту с ДСЖ*</th>
                        <td>
                            <div class="text">
                                <b>от 10,2 % до 16,9% годовых</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Способ выдачи кредита</th>
                        <td>
                            <div class="text">
                                Единовременное зачисление денежных средств на счет заемщика, открытый в Банке
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Обеспечение</th>
                        <td>
                            <div class="text">
                                Поручительство (по желанию Клиента)
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="table-remark">
                <p>
                    ¹ Не применяется при наличии положительной кредитной истории
                </p>
                <p>
                    ² В случае, если клиент не относится к категории клиентов с положительной кредитной истории, при условии отсутствия отрицательной кредитной истории
                </p>
                <p>
                    ³ ПАО Сбербанк, Банк ВТБ (ПАО), ПАО «Промсвязьбанк», ПАО «АК БАРС» БАНК, АО «Альфа-Банк», ПАО Банк «ФК Открытие»
                </p>
            </div>
        </div>
    </div>
</section>


<section class="asv">
    <div class="container">
        <div class="inner-container">
            <div class="asv__row">
                <div class="asv__text-col">
                    <p>
                        Государственная система страхования вкладов (ССВ) создана специально для защиты прав вкладчиков российских банков.
                    </p>
                </div>
                <div class="asv__insurance-col">
                    <span class="asv__insurance-from-date">
                        Действует с 07.10.2020 
                    </span>
                    <img src="img/asv.jpg" alt="" class="asv__insurance-image">
                </div>
            </div>
        </div>
    </div>
</section>
