<section class="catalog">
    <div class="container">
        <div class="catalog__layout-row">
            <div class="catalog__left-col">
                <div class="catalog__menu">
                    <a href="#" class="catalog__menu-link">
                        Расчетно-кассовое обслуживание
                    </a>
                    <a href="#" class="catalog__menu-link active">
                        Кредиты бизнеcу
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Депозиты бизнесу
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Банковские гарантии
                    </a>
                    <a href="#" class="catalog__menu-link">
                        Пластиковые карты
                    </a>
                </div>
            </div>
            <div class="catalog__right-col">
                <h1 class="catalog__main-heading catalog__main-lots">
                    Реализация залогового имущества
                </h1>

                <div class="catalog__main-inner-nav">
                    <div class="tabs-nav tabs-nav--compact">
                        <a href="#" class="tabs-nav__link active">
                            Транспорт
                        </a>
                        <a href="#" class="tabs-nav__link">
                            Недвижимость
                        </a>
                        <a href="#" class="tabs-nav__link">
                            Оборудование
                        </a>
                    </div>
                </div>
                <ul class="catalog__lots-list">
                    <li class="catalog__lots-list-item">
                        <div class="catalog__lots-card">
                            <div class="catalog__lots-card-slider js-lots-slider">
                                <div class="catalog__lots-card-slider-wrapper">
                                    <button class="catalog__lots-card-slider-arrow catalog__lots-card-slider-arrow--prev">
                                        <svg width="18" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left" />
                                        </svg>
                                    </button>
                                    <button class="catalog__lots-card-slider-arrow catalog__lots-card-slider-arrow--next">
                                        <svg width="18" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </button>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/1.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/1.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/1.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="catalog__lots-card-slider-pagination"></div>
                            </div>
                            <div class="catalog__lots-card-row">
                                <div class="catalog__lots-card-left-col">
                                    <h3 class="catalog__lots-card-heading">
                                        Автозаправочная станция (АЗС)
                                    </h3>
                                    <div class="catalog__lots-card-description">
                                        Республика Татарстан, г. Зеленодольск, ул. Волжская 22
                                    </div>
                                    <div class="catalog__lots-card-text">
                                        <p>
                                            Состояние объекта: Автозаправочная станция находится в стадии строительства, под брендом ЛУКОЙЛ. Характеристики АЗС: Резервуары (кол-во 4 шт.) - 4 шт. по 60 м³, Резервуар аварийного слива 1 шт. по 25 м³.
                                            ТРК - Шельф - 3 шт. : 2- 4-х пистолетная (бензин), Операторная, площадь - 34,4 м². Навес - перекрытия и крыша металлические, фундамент - железобетонный столбчатый, полы бетонные.
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__lots-card-right-col">
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Общая площадь
                                        </div>
                                        <div class="catalog__lots-card-info-value">
                                            2370 м²
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Год постройки
                                        </div>
                                        <div class="catalog__lots-card-info-value">
                                            2013
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Стоимость
                                        </div>
                                        <div class="catalog__lots-card-info-value catalog__lots-card-info-value--large">
                                            990 940 847&nbsp;₽
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <a href="#to-contacts" class="catalog__lots-call-link">Купить</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="catalog__lots-list-item">
                        <div class="catalog__lots-card">
                            <div class="catalog__lots-card-slider js-lots-slider">
                                <div class="catalog__lots-card-slider-wrapper">
                                    <button class="catalog__lots-card-slider-arrow catalog__lots-card-slider-arrow--prev">
                                        <svg width="18" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left" />
                                        </svg>
                                    </button>
                                    <button class="catalog__lots-card-slider-arrow catalog__lots-card-slider-arrow--next">
                                        <svg width="18" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </button>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/2.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/2.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/2.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="catalog__lots-card-slider-pagination"></div>
                            </div>
                            <div class="catalog__lots-card-row">
                                <div class="catalog__lots-card-left-col">
                                    <h3 class="catalog__lots-card-heading">
                                        Помещение
                                    </h3>
                                    <div class="catalog__lots-card-description">
                                        Республика Татарстан, г. Зеленодольск, ул. Волжская 22
                                    </div>
                                    <div class="catalog__lots-card-text">
                                        <p>
                                            Помещение на 3-ем этаже здания (Мегга мебель). Помещение коридорного типа, 2 сан узла, высокие потолки, запасной выход, камера хранения ценностей, светлые просторные офисы.
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__lots-card-right-col">
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Общая площадь
                                        </div>
                                        <div class="catalog__lots-card-info-value">
                                            2370 м²
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Год постройки
                                        </div>
                                        <div class="catalog__lots-card-info-value">
                                            2013
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Стоимость
                                        </div>
                                        <div class="catalog__lots-card-info-value catalog__lots-card-info-value--large">
                                            990 940 847&nbsp;₽
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <a href="#to-contacts" class="catalog__lots-call-link">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="catalog__lots-list-item">
                        <div class="catalog__lots-card">
                            <div class="catalog__lots-card-slider js-lots-slider">
                                <div class="catalog__lots-card-slider-wrapper">
                                    <button class="catalog__lots-card-slider-arrow catalog__lots-card-slider-arrow--prev">
                                        <svg width="18" height="18" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left" />
                                        </svg>
                                    </button>
                                    <button class="catalog__lots-card-slider-arrow catalog__lots-card-slider-arrow--next">
                                        <svg width="18" height="18" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right" />
                                        </svg>
                                    </button>
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/3.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/3.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="catalog__lots-card-slider-card">
                                                    <img src="img/lots/3.jpg" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="catalog__lots-card-slider-pagination"></div>
                            </div>
                            <div class="catalog__lots-card-row">
                                <div class="catalog__lots-card-left-col">
                                    <h3 class="catalog__lots-card-heading">
                                        Помещение
                                    </h3>
                                    <div class="catalog__lots-card-description">
                                        Республика Татарстан, г. Зеленодольск, ул. Волжская 22
                                    </div>
                                    <div class="catalog__lots-card-text">
                                        <p>
                                            Участок: площадь участка 10 соток, участок ровный, расположен близи леса, установлен металлический забор, выдвижные ворота, по периметру установлено дополнительное освещение и видеокамеры, отдельный выход в
                                            лес
                                        </p>
                                        <p>
                                            Дом. Площадь дома 125 кв.м. Год постройки 2016. Этажность дома: 2 этажа, подвал, а так же в подвале находится винный погреб. Материал стен оцилиндрованное бревно. В доме находится настоящая русская печь,
                                            как из сказки. Установленные деревянные окна Holtz. На крыше дома находиться солнечная батарея.
                                        </p>
                                        <p>
                                            Баня: Площадь, 19 кв.м. Год постройки 2016. В бане проложена система «теплые» полы. Материал стен оцилиндрованное бревно. В бане находиться отдельно парная, помывочная, предбанник. Все коммуникации
                                            проложены
                                        </p>
                                        <p>
                                            Гараж: Площадь: 65 кв.м. Год постройки 2016. Материал стен оцилиндрованный кирпич. В гараже находится подвал. Так же на участке находится сарай, в котором находится скважина для воды.
                                        </p>
                                    </div>
                                </div>
                                <div class="catalog__lots-card-right-col">
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Общая площадь
                                        </div>
                                        <div class="catalog__lots-card-info-value">
                                            2370 м²
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Год постройки
                                        </div>
                                        <div class="catalog__lots-card-info-value">
                                            2013
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <div class="catalog__lots-card-info-key">
                                            Стоимость
                                        </div>
                                        <div class="catalog__lots-card-info-value catalog__lots-card-info-value--large">
                                            990 940 847&nbsp;₽
                                        </div>
                                    </div>
                                    <div class="catalog__lots-card-info">
                                        <a href="#to-contacts" class="catalog__lots-call-link">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="career-contacts__card career-contacts__card--lots" id="contacts">
                    <div class="career-contacts__card-left-col">
                        <h3 class="career-contacts__card-heading">
                            Контакты для связи
                        </h3>
                        <div class="career-contacts__card-text">
                            По вопросам приобретения обращайтесь к нашему специалисту
                        </div>
                    </div>
                    <div class="career-contacts__card-right-col">
                        <h4 class="career-contacts__card-title">
                            Байков Павел
                        </h4>
                        <div class="career-contacts__text">
                            <p>
                                специалист Отдела по работе с просроченной задолженностью и реализации непрофильных активов ООО КБЭР «Банк Казани»
                            </p>
                        </div>
                        <div class="career-contacts__items">
                            <div class="career-contacts__item">
                                <div class="career-contacts__item-key">
                                    Телефон
                                </div>
                                <div class="career-contacts__item-value">
                                    <a href="tel:+78435249715">8 843 524-97-15</a>
                                </div>
                                
                            </div>
                            <div class="career-contacts__item">
                                <div class="career-contacts__item-key">
                                    E-mail
                                </div>
                                <div class="career-contacts__item-value">
                                    <a href="mailto:anketa@bankofkazan.ru">anketa@bankofkazan.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
