<section class="product-navigation product-navigation--short js-product-nav js-product-nav-short">
    <div class="navigation__bank-menu-slot"></div>

    <div class="fullscreen-nav-menu-backplate"></div>
    <div class="fullscreen-nav-menu">
        <div class="container">
            <div class="fullscreen-nav-menu__content">
                <div class="product-navigation__card-menu-items">
                    <div class="product-navigation__card-menu-item js-product-nav-menu-item">
                        <div class="product-navigation__card-menu-item-row">
                            <div class="product-navigation__card-menu-item-left-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        ТАРИФЫ
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Доверительный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Кредит на большие цели
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Пенсионный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Потребительский классический
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-navigation__card-menu-item-right-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Полезное
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Оплатить кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Подобрать кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Отправить заявку
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Нужен кредит?
                                    </h5>
                                    <a href="#" class="product-navigation__link product-navigation__extra-link">
                                        заявка на кредит
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-navigation__card-menu-item js-product-nav-menu-item">
                        <div class="product-navigation__card-menu-item-row">
                            <div class="product-navigation__card-menu-item-left-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        ТАРИФЫ
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Доверительный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Кредит на большие цели
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Пенсионный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Потребительский классический
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-navigation__card-menu-item-right-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Полезное
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Оплатить кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Подобрать кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Отправить заявку
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Нужен кредит?
                                    </h5>
                                    <a href="#" class="product-navigation__link product-navigation__extra-link">
                                        заявка на кредит
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-navigation__card-menu-item js-product-nav-menu-item">
                        <div class="product-navigation__card-menu-item-row">
                            <div class="product-navigation__card-menu-item-left-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        ТАРИФЫ
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Доверительный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Кредит на большие цели
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Пенсионный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Потребительский классический
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        <a href="#">Со ссылкой</a>
                                    </h5>
                                </div>
                            </div>
                            <div class="product-navigation__card-menu-item-right-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Сервисы
                                    </h5>
                                    <a href="#" class="navigation__menu-card-services-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-wallet-new">
                                            <use xlink:href="#wallet-new"></use>
                                        </svg>
                                        Оплатить кредит
                                    </a>
                                    <a href="#" class="navigation__menu-card-services-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-finger">
                                            <use xlink:href="#finger"></use>
                                        </svg>
                                        Подобрать кредит
                                    </a>
                                    <div class="navigation__promos">
                                        <a href="#" class="navigation__promo">
                                            <img src="img/promo/2.jpg" alt="" />
                                            <div class="navigation__promo-row">
                                                <div class="navigation__promo-left-col">
                                                    <h5 class="navigation__promo-title">
                                                        Кредит «Доверительный»
                                                    </h5>
                                                    <div class="navigation__promo-rate">
                                                        от 7,6%
                                                    </div>
                                                </div>
                                                <div class="navigation__promo-right-col">
                                                    <div class="navigation__promo-arrow">
                                                        <svg width="10" height="14" aria-hidden="true" class="icon-arrow-right">
                                                            <use xlink:href="#arrow-right"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-navigation__card-menu-item js-product-nav-menu-item">
                        <div class="product-navigation__card-menu-item-row">
                            <div class="product-navigation__card-menu-item-left-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        ТАРИФЫ
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Доверительный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Кредит на большие цели
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Пенсионный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Потребительский классический
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-navigation__card-menu-item-right-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Полезное
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Оплатить кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Подобрать кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Отправить заявку
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Нужен кредит?
                                    </h5>
                                    <a href="#" class="product-navigation__link product-navigation__extra-link">
                                        заявка на кредит
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-navigation__card-menu-item js-product-nav-menu-item">
                        <div class="product-navigation__card-menu-item-row">
                            <div class="product-navigation__card-menu-item-left-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Карты
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="catalog-cards.html#to-mir" class="product-navigation__card-menu-item-link">
                                                Карта МИР Привилегия
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Кредит на большие цели
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Пенсионный
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Потребительский классический
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-navigation__card-menu-item-right-col">
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Полезное
                                    </h5>
                                    <ul class="product-navigation__card-menu-item-list">
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Оплатить кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Подобрать кредит
                                            </a>
                                        </li>
                                        <li class="product-navigation__card-menu-item-list-item">
                                            <a href="#" class="product-navigation__card-menu-item-link">
                                                Отправить заявку
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-navigation__card-menu-item-link-block">
                                    <h5 class="product-navigation__card-menu-item-heading">
                                        Нужен кредит?
                                    </h5>
                                    <a href="#" class="product-navigation__link product-navigation__extra-link">
                                        заявка на кредит
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="product-navigation__close-btn js-product-nav-close">
                    <svg width="34" height="34" aria-hidden="true" class="icon-cross">
                        <use xlink:href="#cross" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="product-navigation__logo-bar">
            <a href="index.html" class="product-navigation__logo-link">
                <img src="img/logo-white.svg" alt="" class="product-navigation__logo-image" />
                <img src="img/logo-violet.svg" alt="" class="product-navigation__logo-image" />
            </a>
        </div>
        <div class="product-navigation__categories">
            <div class="product-navigation__categories-content">
                <div class="product-navigation__categories-links">
                    <a href="index.html" class="product-navigation__categories-link js-product-nav-category-link active">
                        Частным лицам
                    </a>
                    <a href="index-business.html" class="product-navigation__categories-link js-product-nav-category-link">
                        Бизнесу
                    </a>
                </div>
                <form action="/" method="POST" class="product-navigation__search-form js-product-navigation-search-form">
                    <input type="search" name="q" class="product-navigation__search-form-input" placeholder="Поиск" />
                </form>
                <div class="product-navigation__about-bank-title">
                    О Банке
                </div>
            </div>
            <button class="product-navigation__search-close-btn js-product-nav-close-btn">
                <svg width="28" height="28" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </button>
            <button class="product-navigation__search-submit-btn js-product-nav-search-btn">
                <svg width="28" height="28" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search" />
                </svg>
            </button>
        </div>
    </div>
</section>
