<section class="product-navigation product-navigation--short js-product-nav js-product-nav-short">
   
    <div class="navigation__bank-menu-slot">
       
    </div>
    <div class="container">
        <div class="product-navigation__logo-bar">
            <a href="index.html" class="product-navigation__logo-link">
                <img src="img/logo-white.svg" alt="" class="product-navigation__logo-image" />
                <img src="img/logo-violet.svg" alt="" class="product-navigation__logo-image" />
            </a>
        </div>
        <div class="product-navigation__categories">
            <div class="product-navigation__categories-content">
                <div class="product-navigation__categories-links">
                    <a href="#" class="product-navigation__categories-link js-product-nav-category-link active">
                        Частным лицам
                    </a>
                    <a href="#" class="product-navigation__categories-link js-product-nav-category-link">
                        Бизнесу
                    </a>
                </div>
                <form action="/" method="POST" class="product-navigation__search-form js-product-navigation-search-form">
                    <input type="search" name="q" class="product-navigation__search-form-input" placeholder="Поиск" />
                </form>
                <div class="product-navigation__about-bank-title">
                    О Банке
                </div>
            </div>
            <button class="product-navigation__search-close-btn js-product-nav-close-btn">
                <svg width="28" height="28" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </button>
            <button class="product-navigation__search-submit-btn js-product-nav-search-btn">
                <svg width="28" height="28" aria-hidden="true" class="icon-search">
                    <use xlink:href="#search" />
                </svg>
            </button>
        </div>
     
    </div>
</section>
