<section class="new-about-bank-intro">
    <div class="new-about-bank-intro__bg">
        <img src="img/about-bank.jpg" alt="" class="new-about-bank-intro__bg-image" />
    </div>
    <div class="container">
        <div class="inner-container">
            <div class="tabs-nav tabs-nav--light tabs-nav--compact new-about-bank-intro__links">
                <a href="#" class="tabs-nav__link active">
                    О банке
                </a>
                <a href="#" class="tabs-nav__link">
                    Реквизиты банка
                </a>
                <a href="#" class="tabs-nav__link">
                    Лицензии и руководство банка
                </a>
                <a href="#" class="tabs-nav__link">
                    Открытая информация
                </a>
                <a href="#" class="tabs-nav__link">
                    Карьера
                </a>
                <a href="#" class="tabs-nav__link">
                    О налогообложении
                </a>
            </div>
            <div class="new-about-bank-intro__heading">
                О банке
            </div>
            <div class="new-about-bank-intro__bottom-text">
                <div class="new-about-bank-intro__bottom-subheading">
                    Миссия банка
                </div>
                <h3 class="new-about-bank-intro__bottom-heading">
                    Мы делаем обращение с деньгами простым и естественным
                </h3>
            </div>
        </div>
    </div>
</section>
<section class="new-about-bank-experience">
    <div class="container">
        <div class="inner-container">
            <div class="new-about-bank-experience__row">
                <div class="new-about-bank-experience__col">
                    <h2 class="new-about-bank-experience__heading">
                        Наш опыт
                    </h2>
                    <div class="new-about-bank-experience__text">
                        <p>
                            ООО КБЭР ”Банк Казани” - универсальный региональный коммерческий банк, основанный в 1990 году и являющийся старейшим финансовым учреждением столицы Татарстана
                        </p>
                    </div>
                </div>
                <div class="new-about-bank-experience__col">
                    <div class="new-about-bank-experience__image-block">
                        <img src="img/about-bank-exp.jpg" alt="" class="new-about-bank-experience__image-block-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new-about-bank-success">
    <div class="container">
        <div class="inner-container">
            <h2 class="new-about-bank-success__heading">
                Успехи банка
            </h2>
            <div class="new-about-bank-success__achievements">
                <ul class="new-about-bank-success__achievements-list">
                    <li class="new-about-bank-success__achievements-item">
                        <div class="new-about-bank-success__achievements-card">
                            <img src="img/about-bank-new/capital.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                            <h4 class="new-about-bank-success__achievements-card-title">
                                Капитал
                            </h4>
                            <div class="new-about-bank-success__achievements-card-amount">
                                2,2 млрд
                            </div>
                        </div>
                    </li>
                    <li class="new-about-bank-success__achievements-item">
                        <div class="new-about-bank-success__achievements-card">
                            <img src="img/about-bank-new/amounts.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                            <h4 class="new-about-bank-success__achievements-card-title">
                                Активы
                            </h4>
                            <div class="new-about-bank-success__achievements-card-amount">
                                175 место
                            </div>
                        </div>
                    </li>
                    <li class="new-about-bank-success__achievements-item">
                        <div class="new-about-bank-success__achievements-card">
                            <img src="img/about-bank-new/offices.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                            <h4 class="new-about-bank-success__achievements-card-title">
                                Развитие сети
                            </h4>
                            <div class="new-about-bank-success__achievements-card-amount">
                                15 офисов
                            </div>
                            <div class="new-about-bank-success__achievements-card-remark">
                                Казань, Наб. Челны., Нижнекамск, Москва, Нижний Новгород
                            </div>
                        </div>
                    </li>
                    <li class="new-about-bank-success__achievements-item">
                        <div class="new-about-bank-success__achievements-card">
                            <img src="img/about-bank-new/profit.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                            <h4 class="new-about-bank-success__achievements-card-title">
                                Прибыль
                            </h4>
                            <div class="new-about-bank-success__achievements-card-amount">
                                47,5 млн
                            </div>
                            <div class="new-about-bank-success__achievements-card-remark">
                                Чистая прибыль за 1 полугодие 2020 года
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="new-about-bank-products">
    <div class="new-about-bank-products__bg">
        <img src="img/about-bank-products.jpg" alt="" class="new-about-bank-products__bg-image" />
    </div>
    <div class="container">
        <div class="inner-container">
            <h2 class="new-about-bank-products__heading">
                Основные продукты
            </h2>
            <ol class="new-about-bank-products__list">
                <li class="new-about-bank-products__list-item">
                    Комплексное банковское обслуживание предпринимателей и юридических лиц
                </li>
                <li class="new-about-bank-products__list-item">
                    Платежные операции
                </li>
                <li class="new-about-bank-products__list-item">
                    Депозиты
                </li>
                <li class="new-about-bank-products__list-item">
                    Целевое и потребительское кредитование
                </li>
                <li class="new-about-bank-products__list-item">
                    Вклады и переводы
                </li>
            </ol>
        </div>
    </div>
</section>

<section class="new-about-bank-advantages">
    <div class="container">
        <div class="inner-container">
            <h2 class="new-about-bank-advantages__heading">
                Преимущества работы с нами
            </h2>

            <div class="new-about-bank-advantages__items">
                <ul class="advantages__list">
                    <li class="advantages__list-item">
                        <a href="#" class="advantages__card">
                            <h4 class="advantages__card-title">
                                Надежность
                            </h4>
                            <div class="advantages__card-text">
                                <p>
                                    Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                </p>
                            </div>
                            <div class="advantages__card-btns">
                                <div class="advantages__card-btns-arrow">
                                    <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                                <div class="advantages__card-btns-icon-container">
                                    <img src="img/for-business/verified.svg" alt="" class="advantages__card-btns-icon" />
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="advantages__list-item">
                        <a href="#" class="advantages__card">
                            <h4 class="advantages__card-title">
                                Доходность
                            </h4>
                            <div class="advantages__card-text">
                                <p>
                                    Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                </p>
                            </div>
                            <div class="advantages__card-btns">
                                <div class="advantages__card-btns-arrow">
                                    <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                                <div class="advantages__card-btns-icon-container">
                                    <img src="img/for-business/money.svg" alt="" class="advantages__card-btns-icon" />
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="advantages__list-item">
                        <a href="#" class="advantages__card">
                            <h4 class="advantages__card-title">
                                Развитие
                            </h4>
                            <div class="advantages__card-text">
                                <p>
                                    Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                </p>
                            </div>
                            <div class="advantages__card-btns">
                                <div class="advantages__card-btns-arrow">
                                    <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                                <div class="advantages__card-btns-icon-container">
                                    <img src="img/for-business/computer.svg" alt="" class="advantages__card-btns-icon" />
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="advantages__list-item">
                        <a href="#" class="advantages__card">
                            <h4 class="advantages__card-title">
                                Лояльность
                            </h4>
                            <div class="advantages__card-text">
                                <p>
                                    Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                </p>
                            </div>
                            <div class="advantages__card-btns">
                                <div class="advantages__card-btns-arrow">
                                    <svg width="9" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                                <div class="advantages__card-btns-icon-container">
                                    <img src="img/for-business/heart.svg" alt="" class="advantages__card-btns-icon" />
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
