<section class="new-asv">

    <div class="container">
        <div class="inner-container">
            <div class="new-asv__row">
                <img src="img/new-asv.png" alt="" class="new-asv__logo">
                <div class="new-asv__content">
                    <p>
                        Остатки на счетах ИП и субъектах малого предпринимательства на сумму<br> до <strong>1 400 000</strong> рублей застрахованы АСВ
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>