<section class="news-catalog">
    <div class="container">
        <div class="news-catalog__layout">
            <div class="news-catalog__sidebar">
                <nav class="news-catalog__nav">
                    <a href="#" class="news-catalog__nav-link active">
                        Все новости
                    </a>
                    <a href="#" class="news-catalog__nav-link">
                        Интервью
                    </a>
                    <a href="#" class="news-catalog__nav-link">
                        События
                    </a>
                    <a href="#" class="news-catalog__nav-link">
                        Обьявления
                    </a>
                </nav>
            </div>
            <div class="news-catalog__main">
                <h2 class="news-catalog__heading">
                   
                    Новости
                </h2>
                <div class="news-catalog__results">
                    <ul class="news-catalog__list">
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-with-image">
                                <div class="news-catalog__card-with-image-container">
                                    <img src="img/news/1.jpg" alt="" />
                                </div>
                                <h4 class="news-catalog__card-with-image-title">
                                    О режиме работы офисов
                                </h4>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-without-image">
                                <h4 class="news-catalog__card-without-image-title">
                                    О режиме работы офисов
                                </h4>
                                <div class="news-catalog__card-without-image-text">
                                    <p>
                                        Уважаемые клиенты!
                                    </p>
                                    <p>
                                        ООО КБЭР "Банк Казани" информирует Вас об изменении режима работы офисов с 12 мая 2020г.
                                    </p>
                                </div>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-with-image">
                                <div class="news-catalog__card-with-image-container">
                                    <img src="img/news/2.jpg" alt="" />
                                </div>
                                <h4 class="news-catalog__card-with-image-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-without-image">
                                <h4 class="news-catalog__card-without-image-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <div class="news-catalog__card-without-image-text">
                                    <p>
                                        Уважаемые клиенты, будьте бдительны!
                                    </p>
                                </div>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item news-catalog__list-item--fullwidth">
                            <form class="news-catalog__subscription-form" id="news-subscription">
                                <img src="img/subscription-form-bg.jpg" alt="" class="news-catalog__subscription-form-bg">
                                <div class="news-catalog__subscription-form-content">
                                    <h3 class="news-catalog__subscription-form-heading">
                                        Узнавайте о новых событиях первым
                                    </h3>
                                    <div class="news-catalog__subscription-form-text">
                                        <p>
                                            Подписывайтесь на рассылку от Банка Казани, и будьте в курсе всех актуальных событий
                                        </p>
                                    </div>
                                    <div class="news-catalog__subscription-form-btns">
                                        <input type="email" name="email" class="news-catalog__subscription-form-input" placeholder="E-mail">
                                        <button type="submit" class="news-catalog__subscription-form-submit">
                                            Подписаться
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-with-image">
                                <div class="news-catalog__card-with-image-container">
                                    <img src="img/news/3.jpg" alt="" />
                                </div>
                                <h4 class="news-catalog__card-with-image-title">
                                    О внесении в единый реестр инвестиционных советников сведений об ООО КБЭР «Банк Казани»
                                </h4>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-without-image">
                                <h4 class="news-catalog__card-without-image-title">
                                    О внесении в единый реестр инвестиционных советников сведений об ООО КБЭР «Банк Казани»
                                </h4>
                                <div class="news-catalog__card-without-image-text">
                                    <p>
                                        Банк России 23.04.2020 принял положительное решение о внесении сведений об ООО КБЭР «Банк Казани» в единый реестр инвестиционных советников.
                                    </p>
                                </div>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-with-image">
                                <div class="news-catalog__card-with-image-container">
                                    <img src="img/news/1.jpg" alt="" />
                                </div>
                                <h4 class="news-catalog__card-with-image-title">
                                    О режиме работы офисов
                                </h4>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-without-image">
                                <h4 class="news-catalog__card-without-image-title">
                                    О режиме работы офисов
                                </h4>
                                <div class="news-catalog__card-without-image-text">
                                    <p>
                                        Уважаемые клиенты!
                                    </p>
                                    <p>
                                        ООО КБЭР "Банк Казани" информирует Вас об изменении режима работы офисов с 12 мая 2020г.
                                    </p>
                                </div>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-with-image">
                                <div class="news-catalog__card-with-image-container">
                                    <img src="img/news/2.jpg" alt="" />
                                </div>
                                <h4 class="news-catalog__card-with-image-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-without-image">
                                <h4 class="news-catalog__card-without-image-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <div class="news-catalog__card-without-image-text">
                                    <p>
                                        Уважаемые клиенты, будьте бдительны!
                                    </p>
                                </div>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item news-catalog__list-item--fullwidth">
                            <form class="news-catalog__subscription-form" data-need-validation>
                                <div class="news-catalog__subscription-form-content">
                                    <h3 class="news-catalog__subscription-form-heading">
                                        Бесплатная консультация
                                    </h3>
                                    <div class="news-catalog__subscription-form-text">
                                        <p>
                                            Обратитесь за бесплатной консультацией по любым вопросам
                                        </p>
                                    </div>
                                    <div class="news-catalog__subscription-form-btns">
                                        <input type="tel" name="tel" class="news-catalog__subscription-form-input js-phone-input" placeholder="Телефон" required data-parsley-phone>
                                        <button type="submit" class="news-catalog__subscription-form-submit">
                                            Обратиться
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-with-image">
                                <div class="news-catalog__card-with-image-container">
                                    <img src="img/news/3.jpg" alt="" />
                                </div>
                                <h4 class="news-catalog__card-with-image-title">
                                    О внесении в единый реестр инвестиционных советников сведений об ООО КБЭР «Банк Казани»
                                </h4>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                        <li class="news-catalog__list-item">
                            <a href="#" class="news-catalog__card-without-image">
                                <h4 class="news-catalog__card-without-image-title">
                                    О внесении в единый реестр инвестиционных советников сведений об ООО КБЭР «Банк Казани»
                                </h4>
                                <div class="news-catalog__card-without-image-text">
                                    <p>
                                        Банк России 23.04.2020 принял положительное решение о внесении сведений об ООО КБЭР «Банк Казани» в единый реестр инвестиционных советников.
                                    </p>
                                </div>
                                <div class="news-catalog__date">
                                    12 мая 2020
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pagination">
                    <a href="#" class="pagination__back">
                        <svg width="10" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                        <span class="pagination__link-text">
                            Назад
                        </span>
                    </a>
                    <ul class="pagination__list">
                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                1
                            </a>
                        </li>
                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                2
                            </a>
                        </li>
                        <li class="pagination__list-item active">
                            <a href="#" class="pagination__link">
                                3
                            </a>
                        </li>

                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                4
                            </a>
                        </li>
                        <li class="pagination__list-item pagination__list-item--more">
                            <a href="#" class="pagination__link">
                                ...
                            </a>
                        </li>
                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                45
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="pagination__next">
                        <div class="pagination__link-text">
                            Вперед
                        </div>

                        <svg width="10" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
