<section class="news">
    <div class="container">
        <div class="news__row">
            <h2 class="news__heading">
                <a href="news.html">
                    Новости банка
                </a>
               
            </h2>
            <div class="news__content">
                <ul class="news__list">
                    <li class="news__list-item">
                        <a href="#" class="news__card">
                            <div class="news__card-preview-backdrop">
                                <img src="img/preview.jpg" alt="" class="news__card-preview-backdrop-image">
                            </div>
                            <h4 class="news__card-title">
                                Банк Казани подвел итоги акции «Зима подарков» и определил победителей
                            </h4>
                            <span class="news__card-date">
                                9 октября 2020
                            </span>
                        </a>
                    </li>
                    <li class="news__list-item">
                        <a href="#" class="news__card">
                            <div class="news__card-preview-backdrop">
                                <img src="img/preview.jpg" alt="" class="news__card-preview-backdrop-image">
                            </div>
                            <h4 class="news__card-title">
                                Банк Казани предупреждает об участившихся случаях мошенничества
                            </h4>
                            <span class="news__card-date">
                                9 октября 2020
                            </span>
                        </a>
                    </li>
                    <li class="news__list-item">
                        <a href="#" class="news__card">
                            <div class="news__card-preview-backdrop">
                                <img src="img/preview.jpg" alt="" class="news__card-preview-backdrop-image">
                            </div>
                            <h4 class="news__card-title">
                                О временном приостановлении работы ОО «Нижегородский №1»
                            </h4>
                            <span class="news__card-date">
                                9 октября 2020
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
