<section class="offices js-bank-offices">
    <div class="container">
        <h1 class="offices__heading">
            Офисы и банкоматы в

            <div class="offices__city">
                <div class="offices__city-current">
                    Казани
                </div>
                <div class="offices__city-dropdown">
                    <div class="offices__city-dropdown-inner">
                        <a href="#" class="offices__city-dropdown-link">
                            Н.Новгород
                        </a>
                        <a href="#" class="offices__city-dropdown-link">
                            Москва
                        </a>
                    </div>
                </div>
            </div>
            <a href="#"> </a>
        </h1>
        <form action="/" class="offices__filters">
            <div class="offices__filters-top-row">
                <div class="offices__filters-regular js-office-categories">
                    <label class="offices__checkbox">
                        <input type="checkbox" name="all" class="offices__checkbox-input" id="all-offices" checked/>
                        <span class="offices__checkbox-content">
                            Все
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="offices" class="offices__checkbox-input" id="offices" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet">
                                <use xlink:href="#droplet" />
                            </svg>
                            Офисы
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="bankomats" class="offices__checkbox-input" id="bankomats" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet green">
                                <use xlink:href="#droplet" />
                            </svg>
                            Банкоматы “Банка Казани”
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="partners" class="offices__checkbox-input" id="partners-bankomats" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet blue">
                                <use xlink:href="#droplet" />
                            </svg>
                            Банкоматы партнеров
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="checkbox" name="terminals" class="offices__checkbox-input" id="terminals" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet red">
                                <use xlink:href="#droplet" />
                            </svg>
                            Терминалы
                        </span>
                    </label>

                    <!-- <span class="long-element" style="flex-shrink: 0; width:800px; height: 20px; background-color: red;"></span>
                    <span class="long-element" style="flex-shrink: 0; width:200px; height: 20px; background-color: blue;"></span> -->
                </div>
                <div class="offices__filters-regimes">
                    <label class="offices__checkbox">
                        <input type="radio" name="viewmode" class="offices__checkbox-input js-offices-results-view-toggle" checked />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-droplet green">
                                <use xlink:href="#droplet-with-hole" />
                            </svg>
                            На карте
                        </span>
                    </label>
                    <label class="offices__checkbox">
                        <input type="radio" name="viewmode" class="offices__checkbox-input js-offices-results-view-toggle" />
                        <span class="offices__checkbox-content">
                            <svg width="18" height="25" aria-hidden="true" class="icon-list-view green">
                                <use xlink:href="#list-view" />
                            </svg>
                            Списком
                        </span>
                    </label>
                </div>
            </div>
            <div class="offices__filters-bottom-row">
                <label class="catalog__filters-checkbox offices__filters-small-checkbox">
                    <input type="checkbox" class="catalog__filters-checkmarks-input" name="allday"/>
                    <span class="catalog__filters-checkbox-mark">
                        <svg width="15" height="15" aria-hidden="true" class="icon-checkmark">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="catalog__filters-checkbox-text">
                        Круглосуточно
                    </span>
                </label>
                <label class="catalog__filters-checkbox offices__filters-small-checkbox">
                    <input type="checkbox" class="catalog__filters-checkmarks-input" name="cash"/>
                    <span class="catalog__filters-checkbox-mark">
                        <svg width="15" height="15" aria-hidden="true" class="icon-checkmark">
                            <use xlink:href="#checkmark"></use>
                        </svg>
                    </span>
                    <span class="catalog__filters-checkbox-text">
                        Внесение наличных
                    </span>
                </label>
            </div>
        </form>
        <div class="offices__results-views">
            <div class="offices__results-view js-offices-results-view">
                <div class="offices__map-wrapper">
                    <div class="offices__city-search">
                        <input type="text" class="offices__city-search-input" id="suggest">
                        <svg width="14" height="14" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"></use>
                        </svg>
                    </div>
                   
                    <div class="offices__map-container">
                        <div class="offices__map js-main-offices-map"></div>
                    </div>
                    <div class="offices__balloon js-offices-balloon-container">

                    </div>
                </div>
            </div>
            <div class="offices__results-view js-offices-results-view" id="map-list">
                <div class="offices__list-view-group" data-type="offices">
                    <h2 class="offices__list-view-heading">
                        Офисы
                    </h2>
                    <div class="offices__list-view-top-row">
                        <form action="/" class="offices__list-view-search-form">
                            <input type="search" name="q" class="offices__list-view-search-input" placeholder="Поиск адреса" />
                            <button type="submit" class="offices__list-view-search-submit-btn">
                                <svg width="20" height="20" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="offices__work-time">
                            <p class="offices__list-view-feature">
                                Часы работы
                            </p>
                        </div>
                        <div class="offices__currency-course">
                            <p class="offices__list-view-feature">
                                Курс валют
                            </p>
                        </div>
                        <div class="offices__functionality">
                            <p class="offices__list-view-feature">
                                Функционал
                            </p>
                        </div>
                    </div>
                    <div class="offices__list-view-accordions">
                        <div class="offices__list-view-accordion js-offices-accordion" data-cash data-allday>
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">
                                            
                                            ДО "Декабристов"<span class="offices__no-fee">0%

                                                <span class="offices__features-item-dropdown">
                                                    <span class="offices__features-item-dropdown-content">
                                                        Беспроцентная выдача наличных
                                                    </span>
                                                </span>
                                            </span><br />Отделение банка
                                        
                                        </div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    78
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__bankomat-options">
                                    <div class="offices__bankomat-options-items">
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-out">
                                                    <use xlink:href="#bankomat-out"></use>
                                                </svg>
                                                Банкомат<br />
                                                выдает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-in">
                                                    <use xlink:href="#bankomat-in"></use>
                                                </svg>
                                                Банкомат<br />
                                                принимает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="offices"></div>
                                </div>
                            </div>
                        </div>
                        <div class="offices__list-view-accordion js-offices-accordion" data-allday>
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<span class="offices__no-fee">0%

                                            <span class="offices__features-item-dropdown">
                                                <span class="offices__features-item-dropdown-content">
                                                    Беспроцентная выдача наличных
                                                </span>
                                            </span>
                                        </span><br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    79
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__bankomat-options">
                                    <div class="offices__bankomat-options-items">
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-out">
                                                    <use xlink:href="#bankomat-out"></use>
                                                </svg>
                                                Банкомат<br />
                                                выдает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-in">
                                                    <use xlink:href="#bankomat-in"></use>
                                                </svg>
                                                Банкомат<br />
                                                принимает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="offices"></div>
                                </div>
                            </div>
                        </div>
                        <div class="offices__list-view-accordion js-offices-accordion">
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    82
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__bankomat-options">
                                    <div class="offices__bankomat-options-items">
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-out">
                                                    <use xlink:href="#bankomat-out"></use>
                                                </svg>
                                                Банкомат<br />
                                                выдает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-in">
                                                    <use xlink:href="#bankomat-in"></use>
                                                </svg>
                                                Банкомат<br />
                                                принимает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="offices"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offices__list-view-group" data-type="bankomats">
                    <h2 class="offices__list-view-heading">
                        Банкоматы “Банка Казани”
                    </h2>
                    <div class="offices__list-view-top-row">
                        <form action="/" class="offices__list-view-search-form">
                            <input type="search" name="q" class="offices__list-view-search-input" placeholder="Поиск адреса" />
                            <button type="submit" class="offices__list-view-search-submit-btn">
                                <svg width="20" height="20" aria-hidden="true" class="icon-search">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="offices__work-time">
                            <p class="offices__list-view-feature">
                                Часы работы
                            </p>
                        </div>
                        <div class="offices__currency-course">
                            <p class="offices__list-view-feature">
                                Курс валют
                            </p>
                        </div>
                        <div class="offices__functionality">
                            <p class="offices__list-view-feature">
                                Функционал
                            </p>
                        </div>
                    </div>
                    <div class="offices__list-view-accordions">
                        <div class="offices__list-view-accordion js-offices-accordion" data-cash>
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">
                                            
                                            ДО "Декабристов"<br />Отделение банка
                                        </div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    76,30
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__bankomat-options">
                                    <div class="offices__bankomat-options-items">
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-out">
                                                    <use xlink:href="#bankomat-out"></use>
                                                </svg>
                                                Банкомат<br />
                                                выдает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-in">
                                                    <use xlink:href="#bankomat-in"></use>
                                                </svg>
                                                Банкомат<br />
                                                принимает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="bankomats"></div>
                                </div>
                            </div>
                        </div>
                        <div class="offices__list-view-accordion js-offices-accordion" data-cash>
                            <div class="offices__list-view-accordion-header">
                                <div class="offices__list-view-accordion-address">
                                    <div class="offices__list-view-accordion-arrow js-accordion-btn">
                                        <svg width="14" height="9" aria-hidden="true" class="icon-arrow-up">
                                            <use xlink:href="#arrow-up"></use>
                                        </svg>
                                    </div>
                                    <div class="offices__list-view-accordion-content">
                                        <div class="offices__list-view-accordion-address-name js-accordion-btn">
                                            улица Декабристов, д.183
                                        </div>
                                        <div class="offices__list-view-accordion-address-office">ДО "Декабристов"<br />Отделение банка</div>
                                        <a href="#" class="office__list-view-accordion-show-on-map js-accordion-btn">
                                            <span>Смотреть на карте</span>
                                            <span>Свернуть</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="offices__schedule">
                                    пн.-пт. 10:00-18:00, <br />
                                    сб. нерабочий день
                                </div>
                                <div class="offices__currency">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    покупка
                                                </th>
                                                <th>
                                                    продажа
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    USD
                                                </th>
                                                <td>
                                                    76,30
                                                </td>
                                                <td>
                                                    77,30
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    EUR
                                                </th>
                                                <td>
                                                    82,30
                                                </td>
                                                <td>
                                                    83,30
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="offices__bankomat-options">
                                    <div class="offices__bankomat-options-items">
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-out">
                                                    <use xlink:href="#bankomat-out"></use>
                                                </svg>
                                                Банкомат<br />
                                                выдает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="offices__bankomat-options-item">
                                            <h5 class="offices__bankomat-options-item-heading">
                                                <svg width="32" height="32" aria-hidden="true" class="icon-bankomat-in">
                                                    <use xlink:href="#bankomat-in"></use>
                                                </svg>
                                                Банкомат<br />
                                                принимает
                                            </h5>
                                            <div class="offices__bankomat-options-currencies">
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-rub">
                                                        <use xlink:href="#rub"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-usd">
                                                        <use xlink:href="#usd"></use>
                                                    </svg>
                                                </div>
                                                <div class="offices__bankomat-options-currency-item">
                                                    <svg width="14" height="14" aria-hidden="true" class="icon-eur">
                                                        <use xlink:href="#eur"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="offices__list-view-accordion-body js-accordion-content">
                                <div class="offices__list-view-accordion-map-container">
                                    <div class="offices__list-view-accordion-map js-offices-inner-map" data-lat="55.831082" data-lng="49.079644" data-type="bankomats"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
