<section class="open-account js-open-account">
    <img src="img/open-account-bg.jpg" alt="" class="open-account__bg-image">
    <div class="container">
        <div class="inner-container">
            <div class="open-account__content">
                <div class="open-account__top-row">
                    <div class="open-account__left-col">
                        <h2 class="open-account__heading">
                            Открыть расчётный счёт
                        </h2>
                        <div class="open-account__text">
                            <p>
                                Получить реквизиты счёта за 5 минут
                            </p>
                        </div>
                    </div>
                    <div class="open-account__right-col">
                        <div class="open-account__steps">
                            <!-- <a href="#" class="open-account__step active">
                                1
                            </a>
                            <a href="#" class="open-account__step">
                                2
                            </a>
                            <a href="#" class="open-account__step">
                                3
                            </a> -->
                        </div>
                    </div>
                </div>
                <form method="POST" action="/" class="open-account__form">
                    <div class="open-account__form-layer active">
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    ФИО Руководителя
                                </span>
                                <input type="text" name="name" class="open-account__form-input"/>
                            </label>
                        </div>
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    Мобильный телефон
                                </span>
                                <input type="tel" name="phone" class="open-account__form-input"/>
                            </label>
                        </div>
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    E-mail
                                </span>
                                <input type="email" name="email" class="open-account__form-input"/>
                            </label>
                        </div>
                        <div class="open-account__form-info">
                            <p class="open-account__form-info-text">
                                На данный e-mail вам будут отправлены реквизиты
                            </p>
                        </div>
                        <div class="open-account__privacy-policy">
                            <label class="open-account__privacy-policy-checkbox">
                                <input type="checkbox" name="policy" class="open-account__privacy-policy-checkbox-input" checked>
                                <span class="open-account__privacy-policy-checkbox-mark">
                                    <svg width="16" height="16" aria-hidden="true" class="icon-checkmark">
                                        <use xlink:href="#checkmark" />
                                    </svg>
                                </span>
                                <span class="open-account__privacy-policy-checkbox-text">
                                    Нажимая кнопку "Отправить", я соглашаюсь с условиями обработки персональных данных
                                </span>
                            </label>
                        </div>
                        <div class="open-account__btns-row">
                            <div class="open-account__btns-login">
                                Уже зарегистрированы? <a href="#">Личный кабинет</a>
                            </div>
                            <a href="#" class="open-account__btns-next-btn">
                                Перейти далее
                            </a>
                        </div>
                    </div>
                    <div class="open-account__form-layer">
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    Название компании
                                </span>
                                <input type="text" name="name" class="open-account__form-input"/>
                            </label>
                        </div>
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    ИНН
                                </span>
                                <input type="text" name="name" class="open-account__form-input"/>
                            </label>
                        </div>
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    КПП
                                </span>
                                <input type="text" name="name" class="open-account__form-input"/>
                            </label>
                        </div>
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    Адрес
                                </span>
                                <input type="text" name="name" class="open-account__form-input"/>
                            </label>
                        </div>
                        
                        
                       
                        <div class="open-account__btns-row">
                            <div class="open-account__btns-login">
                                Уже зарегистрированы? <a href="#">Личный кабинет</a>
                            </div>
                            <a href="#" class="open-account__btns-next-btn">
                                Перейти далее
                            </a>
                        </div>
                    </div>
                    <div class="open-account__form-layer">
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    Поле 1
                                </span>
                                <input type="text" name="name" class="open-account__form-input"/>
                            </label>
                        </div>
                        <div class="open-account__form-input-row">
                            <label class="open-account__form-label">
                                <span class="open-account__form-label-text">
                                    Поле 2
                                </span>
                                <input type="text" name="name" class="open-account__form-input"/>
                            </label>
                        </div>
                        
                        
                        <div class="open-account__btns-row">
                            <div class="open-account__btns-login">
                                Уже зарегистрированы? <a href="#">Личный кабинет</a>
                            </div>

                            <button type="submit" class="open-account__submit">
                                Отправить заявку
                            </button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>