<section class="personel">
    <div class="container">
        <div class="inner-container">
            <div class="article__categories">
                <div class="tabs-nav tabs-nav--compact">
                    <a href="#" class="tabs-nav__link">
                        О банке
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Реквизиты банка
                    </a>
                    <a href="#" class="tabs-nav__link active">
                        Лицензии и руководство банка
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Открытая информация
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Вакансии
                    </a>
                    <a href="#" class="tabs-nav__link">
                        Устав
                    </a>
                </div>
            </div>
            <h1 class="article__main-heading">
                Руководство банка и лицензии
            </h1>
            <div class="personel__content">
                <div class="personel__item">
                    <div class="personel__item-top">
                        <h2 class="personel__item-heading">
                            Руководство ООО КБЭР "Банк Казани"
                        </h2>
                        <h3 class="personel__item-subheading">
                            Наблюдательный совет:
                        </h3>
                    </div>
                    <div class="personel__item-bottom">
                        <ul class="personel__team-list">
                            <li class="personel__team-list-item">
                                <div class="personel__team-card">
                                    <p class="personel__team-role">
                                        Председатель Наблюдательного Совета
                                    </p>
                                    <p class="personel__team-name">
                                        Долгих Алексей Сергеевич
                                    </p>
                                </div>
                            </li>
                            <li class="personel__team-list-item">
                                <div class="personel__team-card">
                                    <p class="personel__team-role">
                                        Члены Наблюдательного Совета:
                                    </p>
                                    <p class="personel__team-name">
                                        Бачурин Олег Сергеевич
                                    </p>
                                    <p class="personel__team-name">
                                        Газикашев Анвар Аглямович
                                    </p>
                                    <p class="personel__team-name">
                                        Мухаметшин Ирек Рафилович
                                    </p>
                                    <p class="personel__team-name">
                                        Прокопьев Оскар Валерьевич
                                    </p>
                                    <p class="personel__team-name">
                                        Шафигуллин Радик Равилович
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="personel__item">
                    <div class="personel__item-top">
                        <h2 class="personel__item-heading">
                            Правление ООО КБЭР "Банк Казани"
                        </h2>
                    </div>
                    <div class="personel__item-bottom">
                        <ul class="personel__team-list">
                            <li class="personel__team-list-item">
                                <div class="personel__team-card">
                                    <p class="personel__team-role">
                                        Председатель Правления
                                    </p>
                                    <p class="personel__team-name">
                                        Бачурин Олег Сергеевич - член Правления
                                    </p>
                                </div>
                            </li>
                            <li class="personel__team-list-item">
                                <div class="personel__team-card">
                                    <p class="personel__team-role">
                                        Главный бухгалтер
                                    </p>
                                    <p class="personel__team-name">
                                        Ковалева Наталья Анатольевна
                                    </p>
                                </div>
                            </li>
                            <li class="personel__team-list-item">
                                <div class="personel__team-card">
                                    <p class="personel__team-role">
                                        Заместитель Председателя Правления
                                    </p>
                                    <p class="personel__team-name">
                                        Гайнутдинова Галия Рафаезовна - член Правления
                                    </p>
                                </div>
                            </li>
                            <li class="personel__team-list-item">
                                <div class="personel__team-card">
                                    <p class="personel__team-role">
                                        Заместитель главного бухгалтера
                                    </p>
                                    <p class="personel__team-name">
                                        Макаева Лариса Вакилевна
                                    </p>
                                </div>
                            </li>
                            <li class="personel__team-list-item">
                                <div class="personel__team-card">
                                    <p class="personel__team-role">
                                        Заместитель Председателя Правления
                                    </p>
                                    <p class="personel__team-name">
                                        Сергеев Николай Анатольевич - член Правления
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="personel__item">
                    <div class="personel__item-top">
                        <h2 class="personel__item-heading">
                            Лицензии и нормативные документы

                        </h2>
                    </div>
                    <div class="personel__item-bottom">
                        <ul class="personel__docs-list">
                            <li class="personel__docs-list-item">
                                <a href="#" class="documents__card">
                                    <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <div class="documents__card-content">
                                        <h4 class="documents__card-title">
                                            Анкета кредит «Быстрый!»
                                        </h4>
                                        <p class="documents__card-info">
                                            pdf, 2,5mb, 20.01.2020
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="personel__docs-list-item">
                                <a href="#" class="documents__card">
                                    <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <div class="documents__card-content">
                                        <h4 class="documents__card-title">
                                            Волеизъявление юридического лица
                                        </h4>
                                        <p class="documents__card-info">
                                            pdf, 2,5mb, 01.04.2019
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="personel__docs-list-item">
                                <a href="#" class="documents__card">
                                    <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <div class="documents__card-content">
                                        <h4 class="documents__card-title">
                                            Волеизъявление физического лица
                                        </h4>
                                        <p class="documents__card-info">
                                            pdf, 2,5mb, 01.04.2019
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="personel__docs-list-item">
                                <a href="#" class="documents__card">
                                    <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <div class="documents__card-content">
                                        <h4 class="documents__card-title">
                                            Перечень необходимых документов на мониторинг (свыше 15 млн. руб)
                                        </h4>
                                        <p class="documents__card-info">
                                            pdf, 2,5mb, 01.04.2019
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="personel__docs-list-item">
                                <a href="#" class="documents__card">
                                    <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <div class="documents__card-content">
                                        <h4 class="documents__card-title">
                                            Общие условия кредитования
                                        </h4>
                                        <p class="documents__card-info">
                                            pdf, 2,5mb, 01.04.2019
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="personel__docs-list-item">
                                <a href="#" class="documents__card">
                                    <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <div class="documents__card-content">
                                        <h4 class="documents__card-title">
                                            Перечень документов Быстрый! (44-ФЗ 223-ФЗ)
                                        </h4>
                                        <p class="documents__card-info">
                                            pdf, 2,5mb, 01.04.2019
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="personel__docs-list-item">
                                <a href="#" class="documents__card">
                                    <svg width="40" height="40" aria-hidden="true" class="icon-doc">
                                        <use xlink:href="#doc"></use>
                                    </svg>
                                    <div class="documents__card-content">
                                        <h4 class="documents__card-title">
                                            Перечень необходимых документов на мониторинг (до 15 млн. руб.)
                                        </h4>
                                        <p class="documents__card-info">
                                            pdf, 2,5mb, 01.04.2019
                                        </p>
                                    </div>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
