<section class="picture-block">
    <div class="container">
        <div class="inner-container">
            <div class="article__content">
                <div class="article__image-block">
                    <div class="article__image-block-row">
                        <div class="article__image-block-left-col">
                            <h2>
                                <a href="#">
                                    Заголовок H2
                                </a>
                            </h2>
                            <p>Оформление <a href="#">финансируемого контракта</a> (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.</p>
                            <p>
                                До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы, Клиентом
                                направляется реестр планируемого расходования средств.
                            </p>
                            <p>
                                Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                            </p>

                            <a href="#" class="picture-block__btn">
                                Подробнее
                            </a>
                        </div>
                        <div class="article__image-block-right-col">
                            <figure>
                                <img src="img/article-image-block.jpg" alt="">
                                <figcaption>Подпись к фотографии</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>