<section class="products js-tabs js-products-slider">
    <div class="container">
        <h2 class="products__heading">
            Популярные продукты банка
        </h2>
        <div class="products__top-row">
            <div class="products__tabs-nav">
                <div class="tabs-nav">
                    <a href="#" class="tabs-nav__link js-tabs-nav active">
                        Начало бизнеса
                    </a>
                    <a href="#" class="tabs-nav__link js-tabs-nav">
                        Образование
                    </a>
                    <a href="#" class="tabs-nav__link js-tabs-nav">
                        Семья
                    </a>
                    <a href="#" class="tabs-nav__link js-tabs-nav">
                        Пенсионерам
                    </a>
                    <a href="#" class="tabs-nav__link js-tabs-nav">
                        Зарплатные проекты
                    </a>
                </div>
            </div>

            <div class="products__nav">
                <button class="products__slider-arrow products__slider-arrow--prev">
                    <span class="products__slider-arrow-content">
                        <svg width="17" height="28" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left" />
                        </svg>
                    </span>
                </button>
                <button class="products__slider-arrow products__slider-arrow--next">
                    <div class="products__slider-arrow-content">
                        <svg width="17" height="28" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </div>
                </button>
            </div>
        </div>

        <div class="products__content">
            <div class="tab-items">
                <div class="tab-items__item js-tabs-item active">
                    <div class="products__slider-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-1); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-1.jpg" alt="" class="products__card-image" />

                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-1">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-2); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-2.jpg" alt="" class="products__card-image" />
                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-2">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-3);">
                                            <img src="img/products/image-3.jpg" alt="" class="products__card-image" />
                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-3">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#detailed" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#general" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-4);">
                                            <img src="img/products/image-1.jpg" alt="" class="products__card-image" />
                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-4">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#detailed" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#general" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-items__item js-tabs-item">
                    <div class="products__slider-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-5); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-1.jpg" alt="" class="products__card-image" />

                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-5">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-6); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-2.jpg" alt="" class="products__card-image" />

                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-6">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-7); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-3.jpg" alt="" class="products__card-image" />

                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-7">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-items__item js-tabs-item">
                    <div class="products__slider-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-8); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-1.jpg" alt="" class="products__card-image" />

                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-8">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-items__item js-tabs-item">
                    <div class="products__slider-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-9); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-2.jpg" alt="" class="products__card-image" />

                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-9">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-items__item js-tabs-item">
                    <div class="products__slider-wrapper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="products__card">
                                        <span class="products__card-tag">
                                            Кредиты бизнесу
                                        </span>
                                        <div class="products__card-image-container" style="clip-path: url(#product-card-10); --overlay-color: rgba(0, 0, 0, 0.2);" ie-style="--overlay-color: rgba(0, 0, 0, 0.2);">
                                            <img src="img/products/image-3.jpg" alt="" class="products__card-image" />

                                            <svg height="0" width="0" preserveAspectRatio="none">
                                                <defs>
                                                    <clipPath id="product-card-10">
                                                        <rect fill="#FFFFFF" rx="10" ry="10" x="0" y="0" width="100" height="100" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </div>
                                        <h5 class="products__card-title">Экспресс <br />оборотный</h5>
                                        <div class="products__card-text-content">
                                            <p>
                                                Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья и полуфабрикатов, товаров и прочее)
                                            </p>
                                        </div>
                                        <div class="products__card-prices">
                                            <div class="products__card-prices-items">
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Откройте расчётный счёт
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            за 5 минут
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="products__card-prices-item">
                                                    <div class="products__card-prices-card">
                                                        <p class="products__card-prices-card-small-text">
                                                            Ведение счета
                                                        </p>
                                                        <p class="products__card-prices-card-large-text">
                                                            от 500 руб.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="products__card-links">
                                            <a href="#general" class="products__card-link-text">
                                                Подробнее
                                                <svg width="8" height="24" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right" />
                                                </svg>
                                            </a>
                                        </div>
                                        <a href="#detailed" class="products__card-link-wrapper"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
