<section class="program-advantages">
    <div class="container">
        <div class="inner-container">
            <h2 class="program-advantages__heading">
                Преимущества программы
            </h2>
            <div class="program-advantages__content">
                <ul class="program-advantages__list">
                    <li class="program-advantages__list-item">
                        <div class="program-advantages__card">
                            <div class="program-advantages__card-top-row">
                                Реквизиты доступны сразу
                                <div class="program-advantages__card-icon-container">
                                    <img src="img/for-business/fire.svg" alt="">
                                </div>
                            </div>
                            <div class="program-advantages__card-bottom-row">
                                <div class="program-advantages__card-text">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="program-advantages__list-item">
                        <div class="program-advantages__card">
                            <div class="program-advantages__card-top-row">
                                Без визита в банк
                                <div class="program-advantages__card-icon-container">
                                    <img src="img/for-business/ok.svg" alt="">
                                </div>
                            </div>
                            <div class="program-advantages__card-bottom-row">
                                <div class="program-advantages__card-text">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="program-advantages__list-item">
                        <div class="program-advantages__card">
                            <div class="program-advantages__card-top-row">
                                Всего за 5 минут
                                <div class="program-advantages__card-icon-container">
                                    <img src="img/for-business/bubble.svg" alt="">
                                </div>
                            </div>
                            <div class="program-advantages__card-bottom-row">
                                <div class="program-advantages__card-text">
                                    <p>
                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>