<section class="rating rating--with-border">
    <div class="container">
        <div class="rating__row">
            <h2 class="rating__heading">
                Оцените нашу новую главную страницу
            </h2>
            <form action="/" method="POST" class="rating__form js-rating-stars">
                <label class="rating__form-star">
                    <input type="checkbox" class="rating__form-star-input" name="rating" checked>
                    <svg width="40" height="40" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <label class="rating__form-star">
                    <input type="checkbox" class="rating__form-star-input" name="rating" checked>
                    <svg width="40" height="40" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <label class="rating__form-star">
                    <input type="checkbox" class="rating__form-star-input" name="rating" checked>
                    <svg width="40" height="40" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <label class="rating__form-star">
                    <input type="checkbox" class="rating__form-star-input" name="rating">
                    <svg width="40" height="40" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <label class="rating__form-star">
                    <input type="checkbox" class="rating__form-star-input" name="rating">
                    <svg width="40" height="40" aria-hidden="true" class="icon-star">
                        <use xlink:href="#star" />
                    </svg>
                </label>
                <input type="hidden" name="total-rating" class="rating__form-total-rating">
                <button type="submit" class="rating__form-submit">
                    Оставить отзыв
                </button>
            </form>
        </div>
    </div>
</section>