<div class="rules__text" data-id="block1">
    <div class="special-conditions">
        <ul class="special-conditions__list">
            <li class="special-conditions__list-item">
                <div class="special-conditions__card">
                    <h4 class="special-conditions__card-title">
                        Расходные операции
                    </h4>
                    <div class="special-conditions__text">
                        <p>
                            Не предусмотрены
                        </p>
                    </div>
                </div>
            </li>
            <li class="special-conditions__list-item">
                <div class="special-conditions__card">
                    <h4 class="special-conditions__card-title">
                        Расходные операции
                    </h4>
                    <div class="special-conditions__text">
                        <p>
                            На основной счет вклада(с капитализацией процентов)
                        </p>
                        <p>
                            На счет для выплаты процентов
                        </p>
                    </div>
                </div>
            </li>
            <li class="special-conditions__list-item">
                <div class="special-conditions__card">
                    <h4 class="special-conditions__card-title">
                        Снятие процентов
                    </h4>
                    <div class="special-conditions__text">
                        <p>
                            Со счета для выплаты процентов
                        </p>
                    </div>
                </div>
            </li>
            <li class="special-conditions__list-item">
                <div class="special-conditions__card">
                    <h4 class="special-conditions__card-title">
                        Досрочный отзыв
                    </h4>
                    <div class="special-conditions__text">
                        <p>
                            По ставке вклада «До востребования»*
                        </p>
                    </div>
                </div>
            </li>
            <li class="special-conditions__list-item">
                <div class="special-conditions__card">
                    <h4 class="special-conditions__card-title">
                        Пролонгация
                    </h4>
                    <div class="special-conditions__text">
                       
                        <div class="special-conditions__show-more-accordion js-accordion">
                            <div class="special-conditions__show-more-content js-accordion-content">
                                <p>
                                    Вклад переоформляется на новый срок на условиях по вкладу «Городской стабильный Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, iure. Sint enim ipsum aperiam fuga, voluptas cumque at molestiae facilis.
                                </p>
                            </div>
                            <a href="#" class="special-conditions__show-more-btn js-accordion-btn">
                                <span>
                                    Развернуть
                                </span>
                                <span>
                                    Свернуть
                                </span>
                            </a>
                           
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="rules__text" data-id="block1">
    <p>
        Для клиентов категории «Зарплатный клиент»: наличие поступлений заработной платы на банковскую карту Банка в течение последних 12 месяцев.
    </p>
</div>
<div class="rules__text" data-id="block2">
    <p>
        Для клиентов категории «Зарплатный клиент»: наличие поступлений заработной платы на банковскую карту Банка в течение последних 12 месяцев.
    </p>
</div>

<section class="rules js-tabs js-tabs-constructor">
    <div class="container">
        <div class="inner-container">
            <div class="rules__nav">
                <div class="tabs-nav">
                    <a href="#block1" class="tabs-nav__link js-tabs-nav active">
                        Особые условия
                    </a>
                    <a href="#block2" class="tabs-nav__link js-tabs-nav">
                        Штрафные санкции
                    </a>
                </div>
            </div>
            <div class="rules__content">
                <div class="tab-items js-tab-items"></div>
            </div>
        </div>
    </div>
</section>
