<section class="search">
    <div class="container">
        <div class="inner-container">
            <div class="search__results">
                <p class="search__found-results">
                    Найдено 14 результатов:
                </p>
                <ul class="search__results-list">
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <span class="search__results-card-label">
                                Кредиты бизнесу
                            </span>
                            <div class="search__results-card-text">
                                <p>
                                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                                </p>
                            </div>
                            <div class="search__results-description">
                                <p>Оформление <em>финансируемого контракта</em> (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.</p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <span class="search__results-card-label">
                                Кредиты бизнесу
                            </span>
                            <div class="search__results-card-text">
                                <p>
                                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                                </p>
                            </div>
                            <div class="search__results-description">
                                <p>
                                    Оформление финансируемого контракта (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <span class="search__results-card-label">
                                Кредиты бизнесу
                            </span>
                            <div class="search__results-card-text">
                                <p>
                                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                                </p>
                            </div>
                            <div class="search__results-description">
                                <p>
                                    Оформление финансируемого контракта (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <span class="search__results-card-label">
                                Кредиты бизнесу
                            </span>
                            <div class="search__results-card-text">
                                <p>
                                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                                </p>
                            </div>
                            <div class="search__results-description">
                                <p>
                                    Оформление финансируемого контракта (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.
                                </p>
                            </div>
                        </a>
                    </li>
                    <li class="search__results-list-item">
                        <a href="#" class="search__results-card">
                            <span class="search__results-card-label">
                                Кредиты бизнесу
                            </span>
                            <div class="search__results-card-text">
                                <p>
                                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                                </p>
                            </div>
                            <div class="search__results-description">
                                <p>
                                    Оформление финансируемого контракта (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="pagination">
                    <a href="#" class="pagination__back">
                        <svg width="10" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left" />
                        </svg>
                        <span class="pagination__link-text">
                            Назад
                        </span>
                       
                    </a>
                    <ul class="pagination__list">
                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                1
                            </a>
                        </li>
                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                2
                            </a>
                        </li>
                        <li class="pagination__list-item active">
                            <a href="#" class="pagination__link">
                                3
                            </a>
                        </li>

                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                4
                            </a>
                        </li>
                        <li class="pagination__list-item pagination__list-item--more">
                            <a href="#" class="pagination__link">
                                ...
                            </a>
                        </li>
                        <li class="pagination__list-item">
                            <a href="#" class="pagination__link">
                                45
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="pagination__next">
                        <div class="pagination__link-text">
                            Вперед
                        </div>
                       
                        <svg width="10" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
