<section class="similar-news">
    <div class="container">
        <div class="inner-container">
            <h2 class="similar-news__heading">
                Похожие новости
            </h2>
        </div>
    </div>
    <div class="similar-news__slider js-similar-news-slider">
        <button class="similar-news__slider-arrow similar-news__slider-arrow--prev">
            <svg width="28" height="46" aria-hidden="true" class="icon-arrow-left">
                <use xlink:href="#arrow-left" />
            </svg>
        </button>
        <button class="similar-news__slider-arrow similar-news__slider-arrow--next">
            <svg width="28" height="46" aria-hidden="true" class="icon-arrow-left">
                <use xlink:href="#arrow-right" />
            </svg>
        </button>
        <div class="container">
            <div class="inner-container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="similar-news__slider-card">
                                <div class="similar-news__slider-card-image-container">
                                    <img
                                        src="img/similar-news.jpg
                                    "
                                        alt=""
                                        class="similar-news__slider-card-image"
                                    />
                                </div>
                                <h4 class="similar-news__slider-card-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <span class="similar-news__slider-card-date">
                                    12 мая 2020
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="similar-news__slider-card">
                                <div class="similar-news__slider-card-image-container">
                                    <img
                                        src="img/similar-news.jpg
                                    "
                                        alt=""
                                        class="similar-news__slider-card-image"
                                    />
                                </div>
                                <h4 class="similar-news__slider-card-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <span class="similar-news__slider-card-date">
                                    12 мая 2020
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="similar-news__slider-card">
                                <div class="similar-news__slider-card-image-container">
                                    <img
                                        src="img/similar-news.jpg
                                    "
                                        alt=""
                                        class="similar-news__slider-card-image"
                                    />
                                </div>
                                <h4 class="similar-news__slider-card-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <span class="similar-news__slider-card-date">
                                    12 мая 2020
                                </span>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="similar-news__slider-card">
                                <div class="similar-news__slider-card-image-container">
                                    <img
                                        src="img/similar-news.jpg
                                    "
                                        alt=""
                                        class="similar-news__slider-card-image"
                                    />
                                </div>
                                <h4 class="similar-news__slider-card-title">
                                    Как обезопасить себя и своих близких от участившихся случаев мошенничества
                                </h4>
                                <span class="similar-news__slider-card-date">
                                    12 мая 2020
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
