<div class="special-conditions">
    <ul class="special-conditions__list">
        <li class="special-conditions__list-item">
            <div class="special-conditions__card">
                <h4 class="special-conditions__card-title">
                    Расходные операции
                </h4>
                <div class="special-conditions__text">
                    <p>
                        Не предусмотрены
                    </p>
                </div>
            </div>
        </li>
        <li class="special-conditions__list-item">
            <div class="special-conditions__card">
                <h4 class="special-conditions__card-title">
                    Расходные операции
                </h4>
                <div class="special-conditions__text">
                    <p>
                        На основной счет вклада(с капитализацией процентов)
                    </p>
                    <p>
                        На счет для выплаты процентов
                    </p>
                </div>
            </div>
        </li>
        <li class="special-conditions__list-item">
            <div class="special-conditions__card">
                <h4 class="special-conditions__card-title">
                    Снятие процентов
                </h4>
                <div class="special-conditions__text">
                    <p>
                        Со счета для выплаты процентов
                    </p>
                </div>
            </div>
        </li>
        <li class="special-conditions__list-item">
            <div class="special-conditions__card">
                <h4 class="special-conditions__card-title">
                    Досрочный отзыв
                </h4>
                <div class="special-conditions__text">
                    <p>
                        По ставке вклада «До востребования»*
                    </p>
                </div>
            </div>
        </li>
        <li class="special-conditions__list-item">
            <div class="special-conditions__card">
                <h4 class="special-conditions__card-title">
                    Пролонгация
                </h4>
                <div class="special-conditions__text">
                    <p>
                        Вклад переоформляется на новый срок на условиях по вкладу «Городской стабильный...
                    </p>
                    <div class="special-conditions__show-more-accordion js-accordion">
                        <a href="#" class="special-conditions__show-more-btn js-accordion-btn">
                            <span>
                                Развернуть
                            </span>
                            <span>
                                Свернуть
                            </span>
                        </a>
                        <div class="special-conditions__show-more-content js-accordion-content">
                            <p>
                                Вклад переоформляется на новый срок на условиях по вкладу «Городской стабильный...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
