<section class="two-column-table">
    <div class="container">
        <div class="inner-container">
            <h2 class="two-column-table__heading">
                Параметры программы. Страховые риски и выплаты
            </h2>
            <div class="two-column-table__content">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Основные страховые риски (основная программа)
                            </th>
                            <th>
                                Страховые выплаты
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Дожитие до окончания срока действия Договора страхования (далее - «Дожитие»)
                            </th>
                            <td>
                                100% ГСС + ДСС
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Смерть по любой причине (далее - «Смерть ЛП»)
                            </th>
                            <td>
                                100% страховой суммы, указанной в Договоре срахования
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Смерть в результате несчастного случая (далее - «Смерть НС»)
                            </th>
                            <td>
                                100% страховой суммы по данному риску, указанной в Договоре страхования. Также осуществляется страховая выплата по страховому риску «Смерть ЛП»
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Смерть в результате дорожно-транспортного происшествия (далее - «Смерть ДТП»)
                            </th>
                            <td>
                                100% страховой суммы, указанной в Договоре страховвания. Также осуществляется страховая выплата по страховым рискам «Смерть НС» и «Смерть ЛП»
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Освобождение от уплаты взносов по Инвалидности 1, 2 гр. по ЛП (на весь срок действия Договора, далее - JECD Инвалидность ЛП)
                            </th>
                            <td>
                                Освобождение от уплаты очередных страховых взносов на весь срок нетрудоспособности
                            </td>
                        </tr>
                        <tr>
                            <th>
                                «Дожитие Застрахованного до потери постоянной работы по независящим от него причинам» (далее - «Потеря работы»)
                            </th>
                            <td>
                                Освобождение от уплаты очередных страховых взносов на срок 1 год
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Телемедицина - сервис дистанционного общения с медицинскими специалистами
                            </th>
                            <td>
                                Общая стоимость оказанных Застрахованному медицинских услуг по данному сервису не может превысить размер страховой суммы, указанной для данной программы в Договоре страхования
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                        <th>
                            Дополнительные страховые риски
                        </th>
                        <th>
                            Страховые выплаты
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Телесные повреждения в результате несчастного случая (далее - «Травмы»)
                            </th>
                            <td>
                                Производится в соответствующем проценте от СС по данному риску согласно Таблице страховых выплат по риску «Травмы»
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="two-column-table__remark">
                <p>
                    *Освобождение от уплаты страховой премии / страховых взносов в результате смертельно опасного заболевания и/или назначения проведения хирургического вмешательства
                </p>
            </div>
        </div>
    </div>
</section>