<div class="bank-menu bank-menu--product">
    <div class="bank-menu__inner">
        <div class="container">
            <div class="bank-menu__links">
                <a href="#" class="bank-menu__link">
                    Общая информация
                </a>
                <a href="#" class="bank-menu__link">
                    Реквизиты банка
                </a>
                <a href="#" class="bank-menu__link">
                    Лицензии и руководство банка
                </a>
                <a href="#" class="bank-menu__link">
                    Открытая информация
                </a>
                <a href="#" class="bank-menu__link">
                    Карьера
                </a>
                <a href="#" class="bank-menu__link">
                    Устав
                </a>
                <a href="#" class="bank-menu__link">
                    Инсайдерам
                </a>
            </div>
        </div>
    </div>
</div>