<div class="cookies">
    <button class="cookies__close-btn">
        <svg width="15" height="15" aria-hidden="true" class="icon-cross">
            <use xlink:href="#cross" />
        </svg>
    </button>
    <div class="cookies__row">
        <div class="cookies__warning">
            <svg width="15" height="15" aria-hidden="true" class="icon-warning">
                <use xlink:href="#warning" />
            </svg>
        </div>
        <div class="cookies__message">
            Разрешить данному сайту обрабатывать данные, согласно
            <a href="#">
                Политике обработки данных
            </a>
        </div>
        <div class="cookies__buttons">
            <a href="#" class="cookies__accept">
                Разрешаю
            </a>
        </div>
    </div>
</div>
