<footer class="page-footer">
    <div class="container">
        <nav class="page-footer__top-nav">
            <a href="#" class="page-footer__top-nav-link">
                О банке
            </a>
            <a href="#" class="page-footer__top-nav-link">
                Реквизиты банка
            </a>
            <a href="#" class="page-footer__top-nav-link">
                Пресс-центр
            </a>
            <a href="#" class="page-footer__top-nav-link">
                Вакансии
            </a>
        </nav>
        <div class="page-footer__top-section">
            <div class="page-footer__top-section-row">
                <div class="page-footer__top-col">
                    <nav class="page-footer__nav">
                        <div class="page-footer__nav-section">
                            <h4 class="page-footer__nav-section-heading">
                                Частным лицам
                            </h4>
                            <ul class="page-footer__nav-section-list">
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Кредиты
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Вклады
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Пластиковые карты
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Онлайн страхование
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Платежи и переводы
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Брокерское обслуживание
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Реализация залогового имущества
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Расчетно-кассовое обслуживание
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="index.html#to-currency" class="page-footer__nav-section-link">
                                        Обмен валют
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-footer__nav-section">
                            <h4 class="page-footer__nav-section-heading">
                                Бизнесу
                            </h4>
                            <ul class="page-footer__nav-section-list">
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Расчетно-кассовое обслуживание
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Кредиты
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Депозиты бизнесу
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Банковские гарантии
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Пластиковые карты
                                    </a>
                                </li>
                                <li class="page-footer__nav-section-list-item">
                                    <a href="#" class="page-footer__nav-section-link">
                                        Онлайн-сервис
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="page-footer__top-col">
                    <ul class="page-footer__info-list">
                        <li class="page-footer__info-list-item">
                            <div class="page-footer__info-card">
                                <a href="tel:+78007751877" class="page-footer__phone-link">8 (800) 77-518-77</a>
                                <p class="page-footer__phone-link-remark">
                                    Звонок по России бесплатный
                                </p>
                            </div>
                        </li>
                        <li class="page-footer__info-list-item">
                            <div class="page-footer__info-card">
                                <a href="#" class="page-footer__offices-link">
                                    Офисы и банкоматы
                                </a>
                            </div>
                        </li>
                        <li class="page-footer__info-list-item">
                            <div class="page-footer__info-card">
                                <h4 class="page-footer__info-card-heading">
                                    Мобильное приложение:
                                </h4>
                                <div class="page-footer__mobile-apps">
                                    <a href="#" class="page-footer__mobile-apps-link">
                                        <img src="img/app-store.png" alt="" class="page-footer__mobile-apps-link-img" />
                                    </a>
                                    <a href="#" class="page-footer__mobile-apps-link">
                                        <img src="img/google-store.png" alt="" class="page-footer__mobile-apps-link-img" />
                                    </a>
                                </div>
                                <div class="page-footer__qr-code">
                                    <img src="img/qr.jpg" alt="" class="page-footer__qr-code-image">
                                    <div class="page-footer__qr-code-text">
                                        Отсканируйте QR код и установите мобильный банк
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="page-footer__info-list-item">
                            <div class="page-footer__info-card">
                                <h4 class="page-footer__info-card-heading">
                                    Социальные сети
                                </h4>
                                <div class="page-footer__social">
                                    <a href="#" class="page-footer__social-link">
                                        <img src="img/social/facebook.svg" alt="Фейсбук" class="page-footer__social-link-img" />
                                    </a>
                                    <a href="#" class="page-footer__social-link">
                                        <img src="img/social/vkontakte.svg" alt="Вконтакте" class="page-footer__social-link-img" />
                                    </a>
                                    <a href="#" class="page-footer__social-link">
                                        <img src="img/social/instagram.svg" alt="Инстаграм" class="page-footer__social-link-img" />
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-section">
            <div class="page-footer__bottom-section-top">
                <div class="page-footer__bottom-section-info">
                    <a href="#">Информация о лицах, под контролем которых находится банк;</a><a href="#">Центр раскрытия корпоративной информации;</a><a href="#">Информация о максимальных процентных ставках по вкладам физических лиц;</a><a href="#">Раскрытие информации профессиональным участником рынка ценных бумаг</a>
                </div>
                <a href="#" class="page-footer__low-vision-version js-low-vision">
                    <svg width="22" height="18" aria-hidden="true" class="icon-glasses">
                        <use xlink:href="#glasses" />
                    </svg>
                    <span>
                        Версия для слабовидящих
                    </span>
                    <span>
                        Обычная версия сайта
                    </span>
                   
                </a>
            </div>
            <div class="page-footer__bottom-section-bottom">
                <div class="page-footer__license-info">
                    <p>© Банк Казани, 2020 <br />Лицензия № 708 от 27.05.2016г, ООО КБЭР “Банк Казани”</p>
                </div>
                <a href="#" class="page-footer__made-by">
                    Создание сайта
                    <img src="img/mark-weber-logo.svg" alt="" class="page-footer__made-by-logo" />
                </a>
                <a href="#" class="page-footer__old-version">
                    Перейти на старую версию сайта
                </a>
            </div>
        </div>
    </div>
</footer>
