<div class="modal js-modal" id="testmodal">
    <div class="modal__inner">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper">
            <h1 class="article__main-heading">
                Заголовок попапа
            </h1>
            <div class="article__description">
                <p>
                    Кредит на обеспечение исполнения обязательств по контракту в рамках 44-ФЗ, 223-ФЗ. Принятие решения в течение 8 рабочих часов!
                </p>
            </div>
            <div class="article__content modal__content">
                <figure>
                    <img src="img/modal-photo.jpg" alt="" />
                    <figcaption style="text-align: center;">Подпись к фотографии</figcaption>
                </figure>
                <h2>
                    Заголовок H2
                </h2>
                <p>Оформление <a href="#">финансируемого контракта</a> (дополнительного соглашения) с отражением реквизитов залогового счета Клиента в Банке.</p>
                <p>
                    До подписания кредитных договоров Клиент направляет в Банк смету планируемых расходов в рамках контракта по форме Банка. После подписания кредитной документации Банком, но до финансирования в рамках программы, Клиентом
                    направляется реестр планируемого расходования средств.
                </p>
                <p>
                    Внесение сведений о договоре залога в реестр уведомлений о залоге движимого имущества в нотариальном порядке
                </p>
                <h3>
                    Заголовок H3
                </h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Название столбца
                            </th>
                            <th>
                                Название второго столбца
                            </th>
                            <th>
                                Название третьего столбца
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                минимальная сумма
                            </th>
                            <td>
                                <div class="text">
                                    <span class="amount">
                                        500 000
                                    </span>
                                    <b>
                                        рублей
                                    </b>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                Максимальная сумма
                            </th>
                            <td>
                                <span class="text">
                                    <span class="amount">
                                        2 000 000
                                    </span>
                                    <b>
                                        рублей
                                    </b>
                                    <p>
                                        Без обеспечения
                                    </p>
                                </span>
                            </td>
                            <td>
                                <span class="text">
                                    <span class="amount">
                                        10 000 000
                                    </span>
                                    <b>
                                        рублей
                                    </b>
                                    <p>
                                        при поручительстве субъектов поддержки предпринимательства
                                    </p>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Срок кредита
                            </th>
                            <td>
                                <div class="text">
                                    <b>6 месяцев</b>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                Процентная ставка по кредиту
                            </th>
                            <td>
                                <div class="text">
                                    <b>
                                        13,5 % годовых
                                    </b>
                                    <svg width="20" height="20" aria-hidden="true" class="icon-info">
                                        <use xlink:href="#info"></use>
                                    </svg>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>
                                Процентная ставка по кредиту
                            </th>
                            <td>
                                <div class="text">
                                    <b>
                                        0,3%, но не менее 5 000 рублей
                                    </b>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <h3>
                    Заголовок списка H3
                </h3>
                <div class="article__lists-group">
                    <ul>
                        <li>
                            Пункт списка номер один
                        </li>
                        <li>
                            Второй пункт списка
                        </li>
                        <li>
                            Третий пункт списка
                        </li>
                        <li>
                            Четвертый пункт списка
                        </li>
                    </ul>
                    <ol>
                        <li>
                            Пункт списка номер один
                        </li>
                        <li>
                            Второй пункт списка
                        </li>
                        <li>
                            Третий пункт списка
                        </li>
                        <li>
                            Четвертый пункт списка
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" id="popuptable">
    <div class="modal__inner">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper">
            <div class="modal__table">
                <h2 class="modal__table-heading">
                    Процентная ставка, в процентах годовых
                </h2>
                <table>
                    <tr>
                        <th>
                            Срок кредита
                        </th>
                        <td colspan="2">
                            12 месяцев
                        </td>

                        <td colspan="2">
                            13-84 месяцев
                        </td>
                    </tr>
                    <tr class="with-divider">
                        <th>
                            Сумма кредита
                        </th>
                        <td>
                            <span class="remark">
                                до
                            </span>
                            300 000 руб.
                        </td>
                        <td>
                            <span class="remark">
                                от
                            </span>
                            1 000 000 руб.**
                        </td>
                        <td>
                            <span class="remark">
                                до
                            </span>
                            300 000 руб.
                        </td>
                        <td>
                            <span class="remark">
                                от
                            </span>
                            1 000 000 руб.**
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Категория
                        </th>
                        <td colspan="4">
                            Руководящий состав
                        </td>
                    </tr>
                    <tr>
                        <th>
                            При отказе от оформления Договора страхования жизни и здоровья и Договора расширенного страхования жизни, здоровья и потери работы
                        </th>
                        <td>
                            16,7%
                        </td>
                        <td>
                            14,4%
                        </td>
                        <td>
                            16,7%
                        </td>
                        <td>
                            14,4%
                        </td>
                    </tr>
                    <tr>
                        <th>
                            При оформлении Договора страхования жизни и здоровья
                        </th>
                        <td>
                            16,7%
                        </td>
                        <td>
                            Нет
                        </td>
                        <td>
                            16,7%
                        </td>
                        <td>
                            14,4%
                        </td>
                    </tr>
                    <tr class="with-divider">
                        <th>
                            При оформлении Договора расширенного страхования жизни, здоровья и потери работы
                        </th>
                        <td>
                            16,7%
                        </td>
                        <td>
                            7,9%*
                        </td>
                        <td>
                            16,7%
                        </td>
                        <td>
                            14,4%
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Категории
                        </th>
                        <td colspan="4">
                            <ul>
                                <li>
                                    «Зарплатный клиент»
                                </li>
                                <li>
                                    Клиенты с положительной кредитной историей в любом банке
                                </li>
                                <li>
                                    Клиенты, работающие на предприятии категории «Социально значимое предприятие» / «Корпоративное предприятие»
                                </li>
                                <li>
                                    Клиенты, подтверждающие доход Выпиской ИЛС
                                </li>
                                <li>
                                    Клиенты, зарегистрированные в качестве самозанятых2
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Категории
                        </th>
                        <td colspan="4">
                            <p>
                                * При условии оформления Договора расширенного страхования жизни, здоровья и потери работы на срок, равный сроку кредита с единовременной уплатой страховой премии за весь срок кредита по тарифу равному 4,0% в год от
                                размера страховой суммы (страховщик - ООО «Капитал Лайф Страхование Жизни» / ООО «СК «Ренессанс Жизнь»).
                            </p>
                            <p>
                                ** Оформление возможно для клиента категории «Зарплатный клиент» / клиента категории «Руководящий состав» - сотрудника организации, заключившей Договор на обслуживание расчетов по заработной плате с Банком.
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" id="ratingpopup">
    <div class="modal__inner">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper">
            <div class="modal__rating">
                <h1 class="article__main-heading">
                    Оставьте свой отзыв
                </h1>
                <div class="article__description">
                    <p>
                        Ваша оценка позволит нам сделать сайт лучше
                    </p>
                </div>
                <form action="/" method="POST" class="modal__rating-form" id="review-form">
                    <textarea name="comment" class="modal__rating-form-textarea"></textarea>
                    <div class="modal__rating-form-choose-rating">
                        Выберите оценку

                        <div class="rating__form js-rating-stars">
                            <label class="rating__form-star rating__form-star--small">
                                <input type="checkbox" class="rating__form-star-input" name="rating" checked />
                                <svg width="40" height="40" aria-hidden="true" class="icon-star">
                                    <use xlink:href="#star" />
                                </svg>
                            </label>
                            <label class="rating__form-star rating__form-star--small">
                                <input type="checkbox" class="rating__form-star-input" name="rating" checked />
                                <svg width="40" height="40" aria-hidden="true" class="icon-star">
                                    <use xlink:href="#star" />
                                </svg>
                            </label>
                            <label class="rating__form-star rating__form-star--small">
                                <input type="checkbox" class="rating__form-star-input" name="rating" checked />
                                <svg width="40" height="40" aria-hidden="true" class="icon-star">
                                    <use xlink:href="#star" />
                                </svg>
                            </label>
                            <label class="rating__form-star rating__form-star--small">
                                <input type="checkbox" class="rating__form-star-input" name="rating" />
                                <svg width="40" height="40" aria-hidden="true" class="icon-star">
                                    <use xlink:href="#star" />
                                </svg>
                            </label>
                            <label class="rating__form-star rating__form-star--small">
                                <input type="checkbox" class="rating__form-star-input" name="rating" />
                                <svg width="40" height="40" aria-hidden="true" class="icon-star">
                                    <use xlink:href="#star" />
                                </svg>
                            </label>
                            <input type="hidden" name="total-rating" class="rating__form-total-rating" />
                        </div>
                    </div>
                    <div class="modal__rating-form-message">
                        Спасибо! Ваш отзыв добавлен.
                    </div>
                    <button type="submit" class="callback__submit-btn modal__rating-submit">
                        отправить отзыв
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" id="application-register">
    <div class="modal__inner modal__inner--application-register">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper ">
            <div class="modal__application-register">
                <h3 class="modal__application-register-heading">
                    Выберите способ подачи заявки
                </h3>
                <div class="modal__application-register-text">
                    <p>
                        Автоматическое заполнение заявки по данным госуслуг сэкномит ваше время и повысит шанс одобрения кредита
                    </p>
                </div>
                <div class="modal__application-register-btns">
                    <a href="#" class="modal__application-register-gos">
                        <img src="img/goslogo.svg" alt="" class="modal__application-register-gos-logo" />
                        Войти через госулуги
                    </a>
                    <a href="#" class="modal__application-register-nogos">
                        Продолжить без госуслуг
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="application-code">
    <div class="modal__inner modal__inner--application-code">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper ">
            <div class="modal__application-code">
                <h3 class="modal__application-code-heading">
                    Код подтверждения
                </h3>
                <form action="/" method="POST" class="modal__application-code-form js-application-code-form">
                    <div class="modal__application-code-form-row js-enter-code">
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                    </div>
                    <div class="modal__application-code-form-message">
                        Мы отправили код на номер +7 987 654 32 10
                    </div>
                    <a href="#" class="modal__application-code-form-resend-link">
                        <svg width="22" height="22" aria-hidden="true" class="icon-resend">
                            <use xlink:href="#resend"></use>
                        </svg>
                        Отправить повторно
                    </a>
                    <div class="modal__application-code-form-text">
                        Вводя код, я подтверждаю, что ознакомлен и подписываю <a href="#">соглашение</a> о порядке использоания электронной подписии согласен на <a href="#">обработку персональных данных</a>
                    </div>
                    <div class="modal__application-code-form-btns">
                        <button type="submit" class="modal__application-code-form-btn-submit">Отправить</button>
                        <a href="#" class="modal__application-code-form-btn-close js-go-back-from-code">
                            Вернутся назад
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="application-success">
    <div class="modal__inner modal__inner--success">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper modal__content-wrapper--success">
            <div class="modal__success">
                <div class="modal__success-image-container">
                    <img src="img/modal-success.jpg" alt="" class="modal__success-image">
                </div>
                <div class="modal__success-content">
                    <svg width="22" height="22" aria-hidden="true" class="icon-success-checkmark">
                        <use xlink:href="#success-checkmark"></use>
                    </svg>
                    <h3 class="modal__success-heading">
                        Спасибо, заявка отправлена!
                    </h3>
                    <div class="modal__success-text">
                        <p>
                            В ближайшее время мы с вами свяжемся!
                        </p>
                    </div>
                    <a href="#" class="modal__success-btn">
                        Вернутся на главную
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="application-code-2">
    <div class="modal__inner modal__inner--application-code modal__inner--application-code-2">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper ">
            <div class="modal__application-code">
                <h3 class="modal__application-code-heading">
                    Код подтверждения
                </h3>
                <form action="/" method="POST" class="modal__application-code-form js-application-code-form">
                    <div class="modal__application-code-form-row js-enter-code">
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                        <div class="modal__application-code-form-col">
                            <input type="tel" class="modal__application-code-form-input" />
                        </div>
                    </div>
                    <div class="modal__application-code-form-message">
                        Мы отправили код на номер +7 987 654 32 10
                    </div>
                    <a href="#" class="modal__application-code-form-resend-link">
                        <svg width="22" height="22" aria-hidden="true" class="icon-resend">
                            <use xlink:href="#resend"></use>
                        </svg>
                        Отправить повторно
                    </a>
                    <div class="modal__application-code-form-text">
                        Вводя код, я подтверждаю, что ознакомлен и подписываю <a href="#">соглашение</a> о порядке использоания электронной подписии согласен на <a href="#">обработку персональных данных</a>
                    </div>
                    <div class="modal__application-code-form-btns">
                        <button type="submit" class="modal__application-code-form-btn-submit js-curexc-next-step js-close-modal">Отправить</button>
                        <a href="#" class="modal__application-code-form-btn-close js-close-modal">
                            Назад
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="exc-rate-change">
    <div class="modal__inner modal__inner--application-code modal__inner--application-code-2">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper ">
            <div class="modal-info-block">
                <div class="h3 red">Курс валют изменился!</div>
                <p>Курс и сумма оплаты будут обновлены</p>
                <button type="button" class="modal__application-code-form-btn-submit js-close-modal">Подтвердить</button>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="reminder">
    <div class="modal__inner modal__inner--application-code modal__inner--application-code-2">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper ">
            <div class="modal-info-block">
                <div class="h3">Напоминаем!</div>
                <p>Для завершения операции потребуются документы удостоверяющие личность</p>
                <button type="button" class="modal__application-code-form-btn-submit js-close-modal">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" id="mob-curexc-adv">
    <div class="modal__inner modal__inner--curexc-adv">
        <button class="modal__close-btn js-close-modal">
            <svg width="22" height="22" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__content-wrapper">
            <div class="curexc-adv-info"></div>
        </div>
    </div>
</div>