<div class="success">
    <div class="success__card">
        <button class="success__card-close">
            <svg width="20" height="20" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross" />
            </svg>
        </button>
        <div class="success__card-image-container">
            <img src="img/global-success.jpg" alt="" class="success__card-image">
        </div>
        <div class="success__card-content">
            <h4 class="success__card-heading">
                <svg width="20" height="20" aria-hidden="true" class="icon-checkmark">
                    <use xlink:href="#checkmark" />
                </svg>
                Спасибо за подписку
            </h4>
            <div class="success__card-text">
                <p>
                    Все новые события и новости нашего банкавы будете узнавать первым!
                </p>
            </div>
            <div class="success__card-btns">
                <a href="#" class="success__card-back-link">
                    Вернуться на главную
                </a>
                <a href="#" class="success__card-news-link">
                    Перейти в Новости
                </a>
            </div>
        </div>
    </div>
</div>