.application {
    margin-bottom: 7rem;
    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.application__form {
    padding-top: 6rem;
    padding-left: 6.6rem;
    padding-right: 9rem;
    padding-bottom: 7.4rem;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    position: relative;
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;

    box-shadow: 0 0.5rem 1rem rgba(black, 0.05);

    &--new-callback {
        box-shadow: none;
        border-radius: 0;
        border: none;
        padding: 0;
        margin: 0;
        background: transparent;
        overflow: visible;
        max-width: 100rem;
        margin-bottom: 7rem;

        @include breakpoint(mobile) {
            margin-bottom: 4rem;
        }
    }

    .low-vision & {
        box-shadow: none;
        border: 1px solid black;
    }
    @include breakpoint(mobile) {
        padding: 2.5rem 2rem;
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;

        padding: 0;

        border: none;
        box-shadow: none;
        border-radius: 0;
        overflow: visible;
        background: transparent;
        padding-top: 2.4rem;
    }
}

.application__form-heading {
    font-weight: 500;
    font-size: 3rem;
    line-height: 120%;
    color: #000000;
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

.application__form-progress {
    position: absolute;
    left: -1px;
    top: 0;
    right: -1px;

    height: 1rem;
    background: #f0f0f0;

    @include breakpoint(mobile) {
        height: 0.5rem;
    }
}

.application__form-progress-bar {
    width: 100%;
    height: 100%;
    // --progress: 40%;
    transition: transform 0.4s, clip-path 0.4s;
    transform-origin: left center;
    overflow: hidden;

    @supports (display: grid) {
        background: linear-gradient(250.44deg, #9546aa 14.49%, #d98bed 129.54%);
        clip-path: polygon(0% 0%, var(--progress, 0%) 0%, var(--progress, 0%) 100%, 0% 100%);

        .low-vision & {
            background: rgb(194, 194, 194);
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/progressbar-bg.svg');
        background-size: auto 100%;
        background-repeat: repeat-x;
        background-position: left center;
        display: none;

        .low-vision & {
            filter: grayscale(100%);
        }

        @supports (display: grid) {
            display: block;
        }
    }
}

.application__form-fields {
    display: flex;
    flex-direction: column;
}

.application__form-fields-group {
    margin-bottom: 2rem;
    display: flex;
    @include breakpoint(mobile) {
        margin-bottom: 1.5rem;
    }
}

.application__form-label {
    display: flex;
    align-items: flex-start;
    width: 100%;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.appliaction__form-label-text {
    width: 37rem;
    padding-right: 2rem;

    .application__form--new-callback & {
        width: 25.4rem;
    }
    @include breakpoint(mobile) {
        padding: 0;
        width: 100%;
    }
}

.application__form-input-wrapper {
    width: 30%;
    flex-grow: 1;
    position: relative;

    &--short {
        max-width: 36rem;
    }
    @include breakpoint(mobile) {
        padding: 0;
        width: 100%;
    }
    .icon-success {
        width: 2.5rem;
        height: 2.5rem;
        fill: #94c22b;
        position: absolute;
        right: 1.8rem;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.2s;

        .low-vision & {
            fill: black;
        }
        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
            right: 1.3rem;
        }
    }

    .parsley-errors-list {
        color: var(--primary-color);
        font-size: 1.2rem;

        color: #ff6969;

        .low-vision & {
            font-size: 1.6rem;
            color: black;
        }
    }
    .parsley-errors-list.filled {
        margin-top: 0.5rem;
    }

    .range-slider__element-wrapper {
        height: 6.2rem;
        @include breakpoint(mobile) {
            height: 4rem;
        }
    }
}

.appliaction__form-label-text {
    font-size: 2rem;
    line-height: 130%;
    margin-top: 1.5rem;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }
}

.application__form-input {
    width: 100%;
    font: inherit;
    font-weight: 500;
    font-size: 2.2rem;
    height: 6.2rem;
    padding-left: 2.4rem;
    padding-right: 6.4rem;
    background: #f5f5f5;
    border-radius: 0.4rem;
    transition: background-color 0.2s, border-color 0.2s;
    background-image: none !important;
    border: 1px solid transparent;

    display: block;
    &.parsley-success {
        background: #e6f6c1;
        & ~ .icon-success {
            opacity: 1;
        }
    }

    &.parsley-error {
        border-color: #ff6969;
    }

    .low-vision & {
        border-color: black;
        background-color: #fff;
    }

    @include placeholder {
        color: #b8b8b8;
    }

    @include breakpoint(mobile) {
        height: 4rem;
        font-size: 16px;
        padding-left: 1.3rem;
        padding-right: 3rem;
    }
}

.application__form-submit {
    align-self: flex-end;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
    padding: 2.2rem 1.8rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    margin-top: 1rem;
    transition: background-color 0.2s;

    .application__form-btns-row & {
        margin: 0;
    }

    &:hover {
        background-color: var(--primary-color-hover);
    }

    .low-vision & {
        background-color: black;
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding: 1.5rem 1.6rem;
        border-radius: 0.8rem;
    }
}

.application__form-submit-content {
    display: flex;
    align-items: center;

    svg {
        width: 0.85rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-left: 1rem;
        fill: white;
    }
}

.application__form-success {
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #fff;
    z-index: 50;
    border: 1px solid var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    .success-shown & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s, visibility 0.3s;
    }
    @include breakpoint(mobile) {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }
}

.application__form-success-row {
    display: flex;
    flex-grow: 1;

    @include breakpoint(mobile) {
        flex-direction: column;
        flex-grow: 1;
    }
}

.application__form-success-left-col,
.application__form-success-right-col {
    width: 50%;
    flex-direction: column;
    display: flex;

    @include breakpoint(mobile) {
        width: 100%;

        flex-basis: 50%;
    }
}

.application__form-success-heading {
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 4.6rem;
    margin-bottom: 4rem;
    color: var(--primary-color);

    img {
        width: 2.2rem;
        height: 2.2rem;
        display: inline-block;
        margin-left: 1rem;

        @include breakpoint(mobile) {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    .application__form--small & {
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin-bottom: 3rem;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;

        .application__form--small & {
            font-size: 2.2rem;
            line-height: 1.2;
            margin-bottom: 2rem;
        }
    }
}

.application__form-success-text {
    font-size: 1.8rem;
    line-height: 3.4rem;
    margin-bottom: 6rem;
    color: #959595;

    .application__form--small & {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3.3rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 2.4rem;
        .application__form--small & {
            font-size: 1.6rem;
            line-height: 1.2;
            margin-bottom: 2.4rem;
        }
    }
}

.application__form-success-return-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    padding: 2rem 3.5rem;
    border-radius: 1rem;
    display: inline-flex;
    align-self: flex-start;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    flex-shrink: 0;
    background-color: var(--primary-color);
    transition: background-color 0.2s;
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: var(--secondary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.2;
        padding: 1.6rem 2rem;
        border-radius: 0.8rem;
    }
}

.application__form-success-left-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem;

    .application__form--small & {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    @include breakpoint(mobile) {
        padding: 3rem;

        .application__form--small & {
            padding-top: 2rem;
            padding-bottom: 2rem;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.application__form-success-right-col {
    background-color: var(--primary-color);
    color: white;
    position: relative;
    z-index: 1;
    padding: 8rem 7rem;
    display: flex;
    flex-direction: column;
    .application__form--small & {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    @include breakpoint(mobile) {
        padding: 3rem 3rem;
        flex-grow: 1;

        .application__form--small & {
            display: none;
        }
    }
}

.application__form-success-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();

    z-index: -1;
}

.application__form-success-right-heading {
    font-weight: bold;
    font-size: 5rem;
    line-height: 120%;
    margin-bottom: 3rem;

    .application__form--small & {
        font-size: 2.8rem;
        line-height: 120%;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
}

.application__form-success-marketplace-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.application__form-success-marketplace-link {
    display: block;
    margin-bottom: 2.7rem;
    &:last-child {
        margin-bottom: 0 !important;
    }

    .application__form--small & {
        margin-bottom: 2rem;
    }

    @include breakpoint(mobile) {
        margin-bottom: 1.4rem;
    }
}

.application__form-success-marketplace-link-image {
    height: 6.7rem;
    flex-shrink: 0;
    display: block;
    width: auto;

    .application__form--small & {
        height: 5.2rem;
    }

    @include breakpoint(mobile) {
        height: 4rem;
    }
}

.application__form-steps-numbers {
    font-size: 1.8rem;
    line-height: 120%;
    margin-bottom: 3rem;
    color: #aaaaaa;

    .low-vision & {
        color: black;
    }
    @include breakpoint(mobile) {
        margin-bottom: 1.8rem;
        font-size: 1.4rem;
    }
}

.application__form-use-account {
    padding: 6rem;
    border-radius: 1rem;
    color: white;
    background-color: #0065b2;
    background-image: url('../img/gosuslugi-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 6rem;

    &:link,
    &:visited {
        color: white;
    }

    .low-vision & {
        color: black !important;
        background: white;
        background-image: none;
        border: 1px solid black;
    }

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        padding: 1.8rem;
        margin-bottom: 3rem;
        border-radius: 0.8rem;
        flex-direction: column;
        background-image: none;
    }
}

.application__form-use-account-heading {
    font-size: 2.4rem;
    line-height: 120%;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        font-weight: 500;
    }
}

.application__form-use-account-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
}

.application__form-use-account-left-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.application__form-use-account-right-col {
    width: 24rem;
    flex-shrink: 0;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
    }
}

.application__form-use-account-logo {
    width: 100%;
    height: auto;
    margin-bottom: 3.4rem;

    .low-vision & {
        filter: grayscale(100%) brightness(0);
    }

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        width: 65%;
    }
}

.application__form-use-account-link {
    align-self: stretch;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    background-color: #fff;
    color: #0065b2;
    text-align: center;
    text-transform: uppercase;
    padding: 2.2rem;
    border-radius: 1rem;
    transition: color 0.2s, background-color 0.2s;
    &:link,
    &:visited {
        color: #0065b2;
    }

    &:hover {
        color: black;
    }

    .low-vision & {
        background-color: black !important;
        color: white !important;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
        padding: 1.3rem 2rem;
        border-radius: 0.4rem;
    }
}

.application__form-steps-layers,
.application__form-inner-tabs-items {
    position: relative;
}

.application__form-steps-layer,
.application__form-inner-tabs-item {
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, transform 0s linear 0.4s, visibility 0s linear 0.4s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translateX(20%);

    &.active {
        position: relative;
        opacity: 1;
        visibility: inherit;
        z-index: 2;
        transform: translateX(0);
        transition: all 0.4s, transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.application__form-btns-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.application__form-back-btn {
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 120%;
    transition: color 0.2s;
    color: var(--primary-color);
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    svg {
        width: 0.9rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-right: 0.9rem;
        fill: currentColor;
    }

    &:hover {
        color: var(--primary-color-hover);
    }

    .low-vision & {
        color: black !important;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;

        svg {
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 0.4rem;
        }
    }
}

.application__form-back-btn-content {
    display: flex;
    align-items: center;
}

.application__form-inner-tabs-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
    @include breakpoint(mobile) {
        overflow-y: hidden;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        margin: -1rem calc(-1 * var(--content-padding));
        padding: 1rem var(--content-padding);
        @include noScrollbar();
        &::after {
            content: '';
            flex-shrink: 0;
            height: 1px;
            width: var(--content-padding);
        }
    }
}

.application__form-inner-tabs-checkbox {
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 2.2rem;
    line-height: 1.2;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    user-select: none;
}

.application__form-inner-tabs-checkbox-input {
    @include visuallyHidden();
}

.application__form-inner-tabs-checkbox-text {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    line-height: 1.2;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    transition: background-color 0.2s, color 0.2s;
    font-weight: 500;

    svg {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
        margin-left: 0.8rem;
        fill: #808080;
        transition: fill 0.2s;

        .low-vision & {
            fill: black;
        }
    }
    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 120%;
        padding: 0.6rem 1rem;
        border-radius: 0.4rem;
        margin-right: 0.5rem;
    }
}

.application__form-inner-tabs-checkbox-input:checked ~ .application__form-inner-tabs-checkbox-text {
    background: #ecf3dc;
    color: var(--primary-color);

    svg {
        fill: var(--primary-color);
    }

    .low-vision & {
        background: black !important;
        color: white !important;

        svg {
            fill: black !important;
        }
    }
}

.application__form-file-upload {
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.application__form-file-upload-dropzone {
    background: #d9f3eb;
    border: 1px dashed #c4c4c4;
    color: black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.9rem;
    line-height: 2.3rem;
    position: relative;
    background: #fbfbfb;
    padding: 5rem;
    min-height: 45rem;
    transition: border-color 0.2s;

    &.dragged-over {
        border-color: var(--primary-color);
    }

    .low-vision & {
        border-color: black !important;
        background: white;
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        min-height: 20rem;
        padding: 2rem;
    }
}

.application__form-file-upload-file {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 1.8rem;
    line-height: 1.2;
    margin-top: 1.5rem;

    svg {
        width: 1.4rem;
        height: 1.4rem;
        margin-left: 1rem;
        flex-shrink: 0;
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;

        svg {
            width: 1rem;
            height: 1rem;
            margin-left: 0.8rem;
        }
    }
}

.application__form-file-upload-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &.hidden {
        display: none;
    }
    input[type='file'] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        cursor: pointer;
    }
}

.application__form-file-upload-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: auto;
    cursor: default;
}

.application__form-file-upload-message-choose-file {
    display: flex;
    align-items: center;
    padding: 2.2rem 2.4rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    color: black;
    background-color: #fff;
    border-radius: 1rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
    transition: color 0.2s, background-color 0.2s;
    svg {
        width: 1.3rem;
        height: 1.3rem;
        flex-shrink: 0;
        margin-left: 1.4rem;
        fill: currentColor;
    }

    @include breakpoint(mobile) {
        padding: 1.3rem 2.2rem;
        font-size: 1.2rem;

        svg {
            margin-left: 0.8rem;
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.application__form-file-upload-message-format {
    font-weight: 300;
    font-size: 1rem;
    line-height: 130%;
    color: #717171;

    .low-vision & {
        color: black !important;
        font-size: 1.4rem;
    }
    p {
        margin-bottom: 0.8rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
    }
}

.application__form-file-upload-action {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hidden {
        display: none;
    }
}

.application__form-file-upload-action-heading {
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

.application__form-file-upload-action-image {
    width: 12.4rem;
    margin: 0 auto;

    @include breakpoint(mobile) {
        width: 10rem;
    }
}

.application__form-file-upload:not(.fileupload-full) .application__form-file-upload-dropzone:hover .application__form-file-upload-message-choose-file {
    background-color: black;
    color: white;
}

.application__form-file-upload-files-heading {
    font-size: 1.8rem;
    line-height: 130%;
    margin-bottom: 3rem;
    font-weight: 400;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}

.application__form-file-upload-files {
    width: 100%;
    align-self: stretch;
    display: none;
    &.shown {
        display: block;
    }
}

.application__form-file-upload-files-list {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        margin: -1.2rem;
    }
}

.application__form-file-upload-files-list-item {
    width: 12rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

    @include breakpoint(mobile) {
        width: 50%;
        margin: 0;
        padding: 1.2rem;
    }
}

.application__form-data {
    background: #f5f5f5;
    color: black;
    padding: 6rem;
    padding-top: 4rem;
    border-radius: 1rem;
    margin-bottom: 4rem;

    .low-vision & {
        background: white;
        color: black;
        border: 1px solid black;
    }

    @include breakpoint(mobile) {
        padding: 1.8rem;
        border-radius: 0.8rem;
        margin-bottom: 2rem;
        padding-bottom: 2.4rem;
    }
}

.application__form-data-block {
    padding-bottom: 4rem;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 4rem;
    display: flex;

    .low-vision & {
        border-color: black;
    }
    &:last-child {
        margin-bottom: 0;
        padding: 0;
        border: none;
    }

    @include breakpoint(mobile) {
        padding-bottom: 1.8rem;
        margin-bottom: 2rem;
        flex-direction: column;
    }
}

.application__form-data-block-left-col {
    width: 25rem;
    flex-shrink: 0;
    padding-right: 2rem;
    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        padding: 0;
    }
}

.application__form-data-block-right-col {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.application__form-data-block-heading {
    font-weight: 500;
    font-size: 2rem;
    line-height: 130%;
    display: flex;
    align-items: flex-start;
    position: relative;
    .show-more-info {
        position: absolute;
        right: 0;
        top: .5rem;

        @include breakpoint(mobile) {
            position: static;
        }
    }
    @supports (display: grid) {
        padding-top: 1.9rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        padding-top: 0;
        margin-bottom: 2rem;
    }
}

.application__form-data-block-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    @supports (display: grid) {
        display: block;
    }

    .parsley-errors-list {
        color: var(--primary-color);
        font-size: 1.2rem;

        color: #ff6969;

        .low-vision & {
            color: black;
            font-size: 1.6rem;
        }
    }
    .parsley-errors-list.filled {
        margin-top: 0.5rem;
    }
}

.application__form-data-block-input {
    background-color: #fff;
    width: 100%;
    color: black;
    height: 6.2rem;
    border-radius: 0.4rem;
    padding: 0 2.4rem;

    font-size: 1.4rem;
    line-height: 1.3;
    transition: all 0.2s;
    border: 1px solid transparent;
    &.parsley-error {
        border-color: #ff6969;
    }

    .low-vision & {
        border-color: black !important;
    }

    @include placeholder {
        color: rgba(white, 0);
    }

    @supports (display: grid) {
        padding-top: 1.6rem;
        @include placeholder {
            opacity: 0;
            transition: inherit;
            color: #b7b7b7;
        }

        .low-vision & {
            @include placeholder {
                color: black;
            }
        }
    }

    &:focus {
        @include placeholder {
            opacity: 1;
        }
    }

    @include breakpoint(mobile) {
        height: 52px;
        padding: 0 14px;
        font-size: 16px;
        padding-top: 20px;
    }
}

.application__form-data-block-label {
    font-size: 1.5rem;

    line-height: 130%;

    transition: transform 0.2s;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 66.66%;
    transform: scale(1) translateY(0);
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
    color: #959595;
    margin-bottom: 1.5rem;
    order: -1;

    .low-vision & {
        color: black !important;
    }

    @supports (display: grid) {
        display: block;
        position: absolute;
        top: 2.3rem;
        left: 2.4rem;
        margin-bottom: 0;
        color: #b7b7b7;
        font-size: 1.4rem;

        line-height: 130%;

        .low-vision & {
            color: black !important;
        }
    }

    @include breakpoint(mobile) {
        font-size: 14px;
        top: 18px;
        left: 14px;
    }
}

.application__form-data-block-input:focus ~ .application__form-data-block-label,
.application__form-data-block-input:not(:placeholder-shown) ~ .application__form-data-block-label {
    transform: scale(0.85) translateY(-1.3rem);
    cursor: default;
    pointer-events: none;
}

.application__form-data-block-row {
    display: flex;
    margin: 0 -2.5rem;
    margin-bottom: 2rem;
    
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
        margin-bottom: 1.8rem;
        flex-direction: column;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.application__form-data-block-col {
    padding: 0 2.5rem;
    flex-grow: 1;
    width: 100%;
    &--quarter {
        width: 23rem;
        flex-shrink: 0;
        flex-grow: 0;
    }
    &--half {
        width: 50%;
        flex-grow: 0;
    }

    @include breakpoint(mobile) {
        flex-shrink: 1;
        width: 100%;
        padding: 0;
        flex-grow: 0;
        margin-bottom: 1.8rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.application__form-data-checkbox {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    user-select: none;
    width: 100%;
    margin-bottom: 2rem;
   
    &:last-child {
        margin-bottom: 0;
    }
}

.application__form-data-checkbox-mark {
    width: 2.2rem;
    height: 2.2rem;
    flex-shrink: 0;
    margin-right: 1.2rem;
    border-radius: 0.4rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--primary-color);
        transition: opacity 0.2s;
        opacity: 0;
    }

    .low-vision & {
        border: 1px solid black;

        svg {
            fill: black;
        }
    }
}

.application__form-data-checkbox-input {
    @include visuallyHidden();
}

.application__form-data-checkbox-text {
    // width: 50%;
    // flex-grow: 1;
    padding-top: 0.2rem;
    font-size: 1.4rem;
    line-height: 130%;
    color: #959595;

    width: 100%;

    .low-vision & {
        color: black;
    }
    @include breakpoint(mobile) {
        font-size: 1.2rem;
    }
}

.application__form-data-checkbox-input:checked ~ .application__form-data-checkbox-mark svg {
    opacity: 1;
}

.application__form-data-checkbox-text-black {
    font-size: 2rem;
    line-height: 1;
    color: black;
    margin-bottom: 1.1rem;
    display: block;
    width: 100%;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
        margin-bottom: 0.8rem;
    }
}

.application__steps-new {
    margin-bottom: 5rem;
    margin-top: 5rem;

    @include breakpoint(mobile) {
        margin: 2.5rem 0;
    }
}

.application__steps-new-list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(mobile) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.application__steps-new-list-item {
    @include breakpointMF(small-tablet) {
        width: 30rem;
        flex-grow: 1;
        &:nth-child(3n) {
            flex-grow: 0;
            width: 28rem;

            .application__steps-card {
                padding-right: 0;
                &::before {
                    display: none;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        margin-bottom: 2.6rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.application__steps-card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 4rem;
    &::before {
        content: '';
        position: absolute;
        left: 5.8rem;
        right: 0;
        height: 1px;
        background-color: #94c22b;
        pointer-events: none;
        top: 2.8rem;

        .low-vision & {
            background-color: black;
        }
    }

    @include breakpoint(mobile) {
        padding: 0;
        &::before {
            display: none;
        }
    }
}

.application__steps-card-number {
    width: 5.8rem;
    height: 5.8rem;
    flex-shrink: 0;
    margin-bottom: 2.4rem;
    border: 1px solid #94c22b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 120%;
    color: #94c22b;
    border-radius: 50%;

    .low-vision & {
        border-color: black;
        color: black;
    }

    @include breakpoint(mobile) {
        width: 4.2rem;
        height: 4.2rem;
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
}

.application__steps-card-title {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 120%;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}

.application__steps-card-text {
    font-size: 1.8rem;
    line-height: 2.4rem;
    max-width: 30rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.3;
        max-width: none;
    }
}

.application__completion {
    display: flex;
    align-items: center;
    background: #fafafa;
    border-radius: 1rem;
    padding: 2.7rem 4rem;
    margin-bottom: 5rem;

    .low-vision & {
        background: transparent;
        border: 1px solid black;
    }

    @include breakpoint(mobile) {
        border-radius: 0.8rem;
        margin-bottom: 3rem;
        padding: 1.4rem 1.6rem;
    }
}

.application__completion-amount {
    font-weight: bold;
    font-size: 4rem;
    line-height: 130%;
    margin-right: 2.5rem;
    color: var(--primary-color);

    .low-vision & {
        color: black;
    }

    @include breakpoint(mobile) {
        font-size: 3rem;
        margin-right: 1.8rem;
    }
}

.application__completion-text {
    font-size: 2.2rem;
    line-height: 130%;
    color: black;

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.application__form-get-code {
    font-weight: 500;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    transition: color 0.2s, background-color 0.2s;
    padding: 2.1rem;
    border-radius: 1rem;
    line-height: 120%;
    color: white;
    text-transform: uppercase;
    flex-shrink: 0;
    margin-left: 2rem;
    align-self: flex-start;

    &:hover {
        background-color: var(--primary-color-hover);
    }

    .low-vision & {
        background-color: black;
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 1rem;
        padding: 0.8rem 1.2rem;
        height: 4rem;
        border-radius: 0.4rem;
        margin-left: 1rem;
        margin-top: 2.3rem;
    }
}

.application__form-code-input-wrapper {
    flex-shrink: 0;
    margin-right: 1.6rem;
    border: 1px solid #e7e7e7;
    border-radius: 0.4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    display: flex;
    align-items: center;
    height: 6.2rem;
    transition: border-color 0.2s;

    .low-vision & {
        border-color: black;
    }

    &.code-error {
        border-color: #ff6969;
    }
    @include breakpoint(mobile) {
        height: 4rem;
        margin-right: 0;
        flex-shrink: 1;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }
}

.application__form-code-clear-input-btn {
    margin-left: 1rem;
    flex-shrink: 0;
    display: none;
    svg {
        fill: #ff6969;
        width: 2rem;
        height: 2rem;
        display: block;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    .application__form-code-input-wrapper.code-error & {
        display: block;
    }
}

.application__form-fields-group--phone-confirmation {
    padding-left: 37rem;
    align-items: center;
    display: none;

    &.shown {
        display: flex;
    }

    @include breakpoint(mobile) {
        padding: 0;
        flex-direction: column;
        align-items: initial;
    }
}

.application__form-code-input {
    font: inherit;
    font-weight: 500;
    font-size: 2.2rem;
    width: 10rem;

    .application__form-code-input-wrapper.code-error & {
        color: #ff6969;
    }

    @include breakpoint(mobile) {
        font-size: 16px;
        width: 50%;
        flex-grow: 1;
    }
}

.application__form-code-code-error {
    font-size: 1.4rem;
    line-height: 130%;
    color: #ff6969;
    margin-right: 1.6rem;
    display: none;

    &.shown {
        display: block;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        margin: 0;
        margin-top: 0.5rem;
    }
}

.application__form-code-code-message {
    font-size: 1.4rem;
    line-height: 130%;
    color: #808080;

    .low-vision & {
        font-size: 1.6rem;
        color: black;
    }

    a {
        color: var(--primary-color);

        &:link,
        &:visited {
            color: var(--primary-color);
        }

        &:hover {
            color: var(--primary-color-hover);
        }

        .low-vision & {
            color: black !important;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        margin: 0;
        margin-top: 0.5rem;
    }
}

.application__policy-row {
    display: flex;
    align-items: flex-start;

    @include breakpoint(mobile) {
        flex-wrap: wrap;
        align-items: initial;

        .application__form-submit {
            display: block;
            margin-top: 2rem;
            margin-left: auto;
        }
    }
}

.application__form-inner-tabs-nav--standalone {
    margin-bottom: 0;
    .application__form-inner-tabs-checkbox {
        margin-top: 0.7rem;
        margin-bottom: 0;
    }


    @include breakpoint(mobile) {
        margin-bottom: -1rem;
    }
   
}

.application__form-label--centered {
    align-items: center;

    @include breakpoint(mobile) {
        align-items: initial;
       
    }

    .appliaction__form-label-text {
        margin: 0;
        @include breakpoint(mobile) {
            margin-bottom: 1rem;

            br {
                display: none;
            }
        }
    }

    .application__form-inner-tabs-checkbox {
        margin: 0;
    }
}

textarea.application__form-input {
    resize: none;
    display: block;
    width: 100%;
    height: 13rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint(mobile) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.application__form-file-upload-dropzone--short {
    border-radius: 0.4rem;
    min-height: 14.5rem;
    padding: 3rem;


    @include breakpoint(mobile) {
        padding: 1.8rem;
        min-height: 12rem;
    }
}

.application__form-textarea-wrapper {
    position: relative;
    margin-bottom: 2rem;
}

.application__form-textarea-wrapper ~ .application__form-file-upload {
    margin-bottom: 0;
}

.application__form-file-upload-message-choose-file--with-shadow {
    box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.08);
}

.application__form-file-upload-message--short {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
    }

    .application__form-file-upload-message-choose-file {
        margin-bottom: 0;
        order: 2;
        margin: 0;
        margin-left: 2rem;

        @include breakpoint(mobile) {
            margin: 0;
            margin-top: 1.5rem;
            align-self: flex-start;
        }
    }

    .application__form-file-upload-message-format {
        text-align: left;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.4rem;
        color: #717171;
    }
}

.application__form-file-upload-message-format-heading {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 141%;
    margin-bottom: 1rem;
    color: black;

    &.hidden {
        display: none;
    }
}
