.callback {
    background-color: #f5f5f5;
    padding: 7rem 0;


    .low-vision & {
        background-color: transparent;
    }

    @include breakpoint(mobile) {
        padding-top: 2.4rem;
        padding-bottom: 3.3rem;
    }
}

.callback__row {
    display: flex;
    align-items: flex-start;
    @include breakpoint(mobile) {
        align-items: initial;
        flex-direction: column;
    }
}

.callback__heading {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 120%;
    max-width: 46rem;
    margin-right: 8rem;

    br {
        display: none;
    }
    @include breakpoint(mobile) {
        font-size: 2rem;
        max-width: auto;
        margin: 0;
        margin-bottom: 2.2rem;

        br {
            display: block;
        }
    }
}

.callback__form {
    .parsley-errors-list {
        font-size: 1.4rem;
        color: #b90e0e;
    }
    .parsley-errors-list.filled {
        margin-top: 0.5rem;
    }
}

.callback__form-main-wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.callback__input-wrapper {
    width: 100%;
    max-width: 30rem;
    margin-right: 2.4rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        max-width: none;
        margin: 0;
        margin-bottom: 1.6rem;
        flex-shrink: 1;
    }
}

.callback__input {
    padding: 1.9rem 2.2rem;
    width: 100%;
    background-color: #fff;
    font-size: 2rem;
    border-radius: 0.4rem;
    border: 1px solid white;
    transition: border-color .2s;

    .low-vision & {
        border-color: black;
    }
    &.parsley-error {
        border-color: #b90e0e;
    }
    @include placeholder {
        color: #a0a0a0;
    }

    @include breakpoint(mobile) {
        padding: 1.2rem 1.5rem;
        font-size: 1.4rem;
    }
}

.callback__submit-btn {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    padding: 2.2rem 3.4rem;
    border-radius: 1rem;
    background-color: var(--primary-color);
    white-space: nowrap;
    transition: background-color 0.2s;
    text-align: center;
    &:hover {
        background-color: var(--primary-color-hover);
    }

    .low-vision & {
        background-color: black;
        color: white;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.2;
        padding: 1.5rem 3rem;
        border-radius: 0.4rem;

        .low-vision & {
            font-size: 1.4rem;
        }
    }
}
