.products {
    padding-top: 8.5rem;
    padding-bottom: 4rem;

    &--other-credits {
        padding-top: 4rem;
    }

    @include breakpoint(mobile) {
        padding: 3rem 0;
        padding-bottom: 1.5rem;
    }
}

.products__heading {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 120%;
    margin-bottom: 5.5rem;

    
    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2.2rem;
        line-height: 120%;
        margin-bottom: 1.6rem;
    }
}

.products__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;

    .products__heading {
        margin-bottom: 0 !important;
    }

    @include breakpoint(mobile) {
        margin-bottom: 2.7rem;
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
    }
}

.products__all-products-link {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2;
    display: inline-flex;
    align-items: center;
    transition: color 0.2s;
    svg {
        fill: var(--primary-color);
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        margin-right: 2rem;
        transition: fill 0.2s;
    }
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    .no-touch &:hover,
    .touch &:active {
        color: var(--secondary-color);
        svg {
            fill: var(--secondary-color);
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.products__slider-wrapper {
    position: relative;

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        width: 51rem;

        @include breakpoint(mobile) {
            width: 25.8rem;


            .low-vision & {
                width: 32rem;
            }
        }
    }
}

.products__nav {
    display: flex;
    align-content: center;
}

.products__slider-arrow {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    margin-right: 3rem;
    display: block;
    transition: opacity 0.3s, visibility 0.3s;
    &:last-child {
        margin-right: 0;
    }

    body:not(.low-vision) &:not(.button-disabled):not(.swiper-button-disabled) {
        &:hover {
            .products__slider-arrow-content {
                background-color: var(--primary-color);
                svg {
                    fill: white;
                }
            }

          
        }

        
    }

    &.swiper-button-disabled,
    &.button-disabled {
        cursor: default;
        opacity: 0.5;
    }

    &.button-lock-hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.products__slider-arrow-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #94c22b;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    border-radius: 1rem;


    .low-vision & {
        border-color: black;
    }

    svg {
        fill: var(--primary-color);
        width: 1.3rem;
        height: 2.1rem;
        flex-shrink: 0;
        transition: fill 0.2s;
        .low-vision & {
            fill: black;
        }
    }
}

.products__card {
    position: relative;
    padding: 4.5rem;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: white;
    &:link,
    &:visited {
        color: white;
    }


    .low-vision & {
        color: black;
        border: 1px solid black;
        border-radius: 1rem;
        &:link,
        &:visited {
            color: black;
        }
    }

    @supports (clip-path: circle(50%)) {
        color: black;
        &:link,
        &:visited {
            color: black;
        }
    }

    @include breakpointMF(small-tablet) {
        .no-touch:not(.low-vision) &:hover {
            color: white;
            .products__card-image-container {
                height: 100%;

                svg rect {
                    height: 100%;
                }
            }

            .products__card-prices-card-small-text {
                color: rgba(white, 0.8);

              
            }

            .products__card-link-text {
                color: white;
                background-color: var(--primary-color);

                svg {
                    fill: white;
                }
            }

            .products__catalog-open-link {
                &:link,
                &:visited {
                    color: white;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        padding: 2rem;
        body:not(.low-vision) .products__slider-wrapper.last-slide-reached .swiper-slide:not(.swiper-slide-active) &,
        body:not(.low-vision) .products__slider-wrapper:not(.last-slide-reached) .swiper-slide-active & {
            color: white;

            .products__card-image-container {
                height: 100%;
                svg rect {
                    height: 100%;
                }
            }

            .products__card-prices-card-small-text {
                color: rgba(white, 0.8);
            }

            .products__card-link-text {
                color: white;
                background-color: var(--primary-color);

                svg {
                    fill: white;
                }
            }

            .products__catalog-open-link {
                &:link,
                &:visited {
                    color: white;
                }
            }
        }
    }
}


.products__card-link-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.products__card-tag {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid rgba(white, 0.4);
    color: white;
    align-self: flex-start;

    .low-vision & {
        color: black;
        border-color: black;
        font-size: 1.8rem;


        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }
    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1rem;
        line-height: 120%;
        padding: 0.6rem 0.9rem;
    }
}

.products__card-image-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  
    overflow: hidden;
    z-index: -1;
    transition: height 0.4s ease-out;
    will-change: height;

    border-radius: 0;
    height: 100%;

    .low-vision & {
        display: none;
    }

    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;

        rect {
            width: 100%;
            height: 100%;
            transition: height 0.4s;
            height: 31rem;

            @include breakpoint(mobile) {
                height: 17.2rem;
            }
        }
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--overlay-color, rgba(0, 0, 0, 0));
    }

    
}

.products__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.products__card-title {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.2;
    color: white;

    margin-top: 5rem;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .low-vision & {
        color: black;
        margin-top: 2rem;
    }
    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 2rem;
        line-height: 120%;
        margin-top: 6.2rem;
        min-height: 4.8rem;


        .low-vision & {
            font-size: 2.4rem;
            margin-top: 3rem;
        }
    }
}

.products__card-text-content {
    margin-top: 5rem;
    font-size: 2rem;
    line-height: 130%;
    transition: color 0.4s;

    min-height: 9rem;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        margin-top: 3rem;
        font-size: 1.2rem;
        line-height: 130%;
        min-height: auto;
        margin-bottom: 2rem;

        .low-vision & {
            font-size: 1.6rem;
        }
    }
}

.products__card-prices {
    margin-top: auto;
}

.products__card-prices-items {
    display: flex;
    flex-wrap: wrap;
    margin: -1.8rem;
    @include breakpoint(mobile) {
        margin: -1rem;
    }
}

.products__card-prices-item {
    width: 50%;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        padding: 1rem;

        .low-vision & {
            width: 100%;
        }
    }
}

.products__card-prices-card {
    border-top: 0.2rem solid var(--primary-color);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    transition: color 0.4s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .low-vision & {
        border-color: black;
    }
    @include breakpoint(mobile) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.products__card-prices-card-small-text {
    color: #a5a5a5;
    font-size: 1.6rem;
    line-height: 130%;
    margin-bottom: 0.5rem;
    transition: color 0.4s;
    .low-vision & {
        color: black !important; 
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 130%;
    }
}

.products__card-prices-card-large-text {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 120%;

    .low-vision & {
        color: black;
    }

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;

        .low-vision & {
            font-size: 1.8rem;
        }
    }
}

.products__card-link-text {
    display: inline-flex;
    align-items: center;
    padding: 2.4rem 2.8rem;
    background-color: var(--primary-color);
    color: white;
   
    border-radius: 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 120%;
    margin-top: 3rem;
    margin-left: auto;
    transition: background-color 0.4s, color 0.4s;
    position: relative;
    z-index: 80;
    svg {
        width: 0.9rem;
        height: 1.4rem;
        flex-shrink: 0;
        fill: white;
        margin-left: 2rem;
        transition: fill 0.4s;
        @include breakpoint(mobile) {
            width: 0.7rem;
            height: 1.1rem;
            margin-left: 1.5rem;
        }
    }




    &:link,
    &:visited {
        color: white;
    }


    .low-vision & {
        color: black;
        background: transparent;
        border: 1px solid black;
        &:link,
        &:visited {
            color: black;
        }
    
        svg {
            fill: black;
        }


        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }
   

    @supports (clip-path: circle(50%)) {
        background-color: #ecf3dc;
        color: var(--primary-color);

        svg {
            fill: var(--primary-color);
        }
        &:link,
        &:visited {
            color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        margin-top: 1rem;
        font-weight: 500;
        font-size: 1rem;
        line-height: 120%;
        padding: 1.4rem 1.6rem;
        border-radius: 0.8rem;


        .low-vision & {
            font-size: 1.4rem;
        }
    }
}

.products__card-links {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .products__card-link-text {
        margin-top: 0;
    }

    @include breakpoint(mobile) {
        margin-top: 1rem;
    }
}

.products__catalog-bottom-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
}

.products__catalog-open-link {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    text-transform: uppercase;
    transition: color 0.2s;
    &:link,
    &:visited {
        color: var(--primary-color);
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
    }
}

.products__catalog-conditions-link {
    display: inline-flex;
    align-items: center;
    background: #94c22b;
    border-radius: 1rem;
    padding: 2.4rem 2.7rem;
    color: white;
    transition: all 0.2s;
    font-weight: 500;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 120%;
    margin-left: auto;
    svg {
        fill: currentColor;
        width: 0.9rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-left: 1.4rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    @include breakpoint(mobile) {
        padding: 1.4rem 1.5rem;
        font-size: 1.2rem;
        margin: 0;
        margin-left: auto;
        align-self: flex-end;
        border-radius: 0.4rem;

        svg {
            width: 1rem;
            height: 1rem;
            margin-left: 1rem;
        }
    }
}

.products__catalog-condition {
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 130%;

    margin-top: 7rem;

    @include breakpoint(mobile) {
        margin-top: 3.5rem;
        font-size: 1.8rem;
    }
}
