.program-advantages {
    padding-top: 7.4rem;
    padding-bottom: 4rem;

    @include breakpoint(mobile) {
        padding: 4rem 0;
    }
}

.program-advantages__heading {
    font-weight: 500;
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: 4.2rem;
    @include breakpoint(mobile) {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
}

.program-advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin: -1.5rem;
    
    @include breakpoint(mobile) {
        margin: -1rem;
        justify-content: initial;
    }
}

.program-advantages__list-item {
    width: 33.33%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(small-tablet) {
        width: 50%;
    }

    @include breakpoint(mobile) {
        width: 100%;
        padding: 1rem;
    }
}

.program-advantages__card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    color: black;
    border-radius: 1rem;
    padding: 3.6rem;
    padding-top: 2.8rem;
    box-shadow: 0 1rem 1rem rgba(black, .05);


    .low-vision & {
        box-shadow: none;
        background: white;
        border: 1px solid black;
    }


    @include breakpoint(mobile) {
        padding: 2.5rem;
    }
}

.program-advantages__card-top-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-weight: 500;
    font-size: 2.2rem;
    line-height: 120%;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
    }
    
}

.program-advantages__card-icon-container {
    width: 5.4rem;
    height: 5.4rem;
    flex-shrink: 0;
    margin-left: 2rem;
   
    img {
        width: 100%;
        height: 100%;
        display: block;
        @include objectFitContain();


        .low-vision & {
            filter: grayscale(100%) brightness(0);
        }
    }

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
        margin-left: 1.5rem;
    }
}

.program-advantages__card-text {
    font-size: 1.8rem;
    line-height: 130%;

    .low-vision & {
        font-size: 1.8rem;
        @include breakpoint(mobile) {
            font-size: 1.6rem;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}



.program-advantages__card-arrow {
    width: 3.7rem;
    height: 3.7rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
    align-self: flex-start;

    svg {
        width: 1rem;
        height: 1.4rem;
        fill: var(--primary-color);
        flex-shrink: 0;

        .low-vision & {
            fill: white;
        }



    }


    .low-vision & {
        width: 4.5rem;
        height: 4.5rem;
        background-color: #000;

        @include breakpoint(mobile) {
            width: 3.4rem;
            height: 3.4rem;
        }
    }
}