.team {
    padding-bottom: 11rem;
    @include breakpoint(mobile) {
        padding-bottom: 4rem;
    }
}

.team__heading {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 120%;
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.team__slider {
    position: relative;

    .swiper-container {
        overflow: visible;
    }
    .swiper-slide {
        width: 51rem;
        display: flex;
        flex-direction: column;

        @include breakpoint(mobile) {
            width: 95%;
        }
    }
}

.team__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 9.2rem;
    height: 9.2rem;
    background: #531a62;
    z-index: 40;
    transition: background-color 0.3s;

    .low-vision & {
        background-color: #000 !important;
    }
    svg {
        fill: white;
        width: 2.8rem;
        height: 4.6rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .low-vision & {
            fill: white !important;
        }
    }

    &--prev {
        left: 0;

        svg {
            margin-left: -0.4rem;
        }
    }

    &--next {
        right: 0;

        svg {
            margin-left: 0.4rem;
        }
    }

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s, background-color 0.3s;
    }

    &:not(.swiper-button-disabled) {
        &:hover {
            background-color: var(--primary-color);
        }
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.team__card {
    position: relative;
    border-radius: 1rem;
    min-height: 32rem;
    overflow: hidden;
    padding: 5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    user-select: none;
    &:link,
    &:visited {
        color: white;
    }

    .low-vision & {
        color: black;
        border: 1px solid black;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 29, 84, 0.29), rgba(0, 29, 84, 0.29));
        z-index: 8;

        .low-vision & {
            display: none;
        }
    }

    &:hover {
        .team__card-image {
            transform: scale(1.04);
        }
    }

    @include breakpoint(mobile) {
        min-height: 20rem;
        padding: 2rem;
    }
}

.team__card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
    z-index: 5;
    transition: transform 0.5s;
    backface-visibility: hidden;

    .low-vision & {
        display: none;
    }
}

.team__card-row {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 20;
    svg {
        width: 5.4rem;
        height: 5.4rem;
        flex-shrink: 0;
        margin-left: 2rem;


        .low-vision & {
            filter: grayscale(100%);
        }
        @include breakpoint(mobile) {
            width: 3.4rem;
            height: 3.4rem;
        }
    }
}

.team__card-heading {
    font-size: 3.6rem;
    line-height: 120%;
    font-weight: 400;
    @include breakpoint(mobile) {
        font-size: 2rem;
    }
}
