{% set title = "Банк Казани - Заявка на кредит" %}
{% set activePage = "Home"  %}
{% set navigationText = "dark"  %}
{% extends "layout.html" %}
{% block content %}
    {% include "partials/bank-menu-product.html" %}
    {% include "blocks/navigation-short.html" %}
    <div data-barba="wrapper">
        <div data-barba="container" data-barba-namespace="home">
            {% include "blocks/application.html" %}
            {% include "blocks/advantages.html" %}
          
           
        </div>
    </div>
{% endblock %}