{% set title = "Банк Казани - О банке" %} {% set activePage = "Home" %} {% set navigationText = "dark" %} {% extends "layout.html" %} {% block content %} {% include "partials/bank-menu-product.html" %} {% include "blocks/navigation-short.html" %}
<div data-barba="wrapper">
    <div data-barba="container" data-barba-namespace="home">
        <section class="new-about-bank-intro">
            <div class="new-about-bank-intro__bg">
                <img src="img/career-bg.jpg" alt="" class="new-about-bank-intro__bg-image" />
            </div>
            <div class="container">
                <div class="inner-container">
                    <div class="tabs-nav tabs-nav--light tabs-nav--compact new-about-bank-intro__links">
                        <a href="#" class="tabs-nav__link">
                            О банке
                        </a>
                        <a href="#" class="tabs-nav__link">
                            Реквизиты банка
                        </a>
                        <a href="#" class="tabs-nav__link">
                            Лицензии и руководство банка
                        </a>
                        <a href="#" class="tabs-nav__link">
                            Открытая информация
                        </a>
                        <a href="#" class="tabs-nav__link active">
                            Карьера
                        </a>
                        <a href="#" class="tabs-nav__link">
                            О налогообложении
                        </a>
                    </div>
                    <div class="new-about-bank-intro__heading">
                        карьера
                    </div>
                    <div class="new-about-bank-intro__bottom-text">
                        <div class="new-about-bank-intro__bottom-subheading">
                            Миссия банка
                        </div>
                        <h3 class="new-about-bank-intro__bottom-heading">
                            Банк Казани — это команда!
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-about-bank-experience">
            <div class="container">
                <div class="inner-container">
                    <div class="new-about-bank-experience__row">
                        <div class="new-about-bank-experience__col">
                            <h2 class="new-about-bank-experience__heading">
                                Наша ценность
                            </h2>
                            <div class="new-about-bank-experience__text">
                                <p>
                                    ООО КБЭР «Банк Казани» старается быть лучшим работодателем для своих сотрудников. Мы убеждены, что итоги деятельности банка являются результатом коллективной работы всего персонала
                                </p>
                            </div>
                        </div>
                        <div class="new-about-bank-experience__col">
                            <div class="new-about-bank-experience__image-block">
                                <img src="img/career-team.jpg" alt="" class="new-about-bank-experience__image-block-image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="new-about-bank-success">
            <div class="container">
                <div class="inner-container">
                    <h2 class="new-about-bank-success__heading">
                        Почему нужно выбирать нас:
                    </h2>
                    <div class="new-about-bank-success__achievements">
                        <ul class="new-about-bank-success__achievements-list">
                            <li class="new-about-bank-success__achievements-item">
                                <div class="new-about-bank-success__achievements-card">
                                    <img src="img/about-bank-new/secure.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                                    <h4 class="new-about-bank-success__achievements-card-title new-about-bank-success__achievements-card-title--career">
                                        надежность
                                    </h4>
                                    <div class="new-about-bank-success__achievements-card-amount new-about-bank-success__achievements-card-amount--career">
                                        Мы работаемв стабильном банке
                                    </div>
                                </div>
                            </li>
                            <li class="new-about-bank-success__achievements-item">
                                <div class="new-about-bank-success__achievements-card">
                                    <img src="img/about-bank-new/money.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                                    <h4 class="new-about-bank-success__achievements-card-title new-about-bank-success__achievements-card-title--career">
                                        Честность
                                    </h4>
                                    <div class="new-about-bank-success__achievements-card-amount new-about-bank-success__achievements-card-amount--career">
                                        Мы получаем белую зарплату и премии
                                    </div>
                                </div>
                            </li>
                            <li class="new-about-bank-success__achievements-item">
                                <div class="new-about-bank-success__achievements-card">
                                    <img src="img/about-bank-new/growth.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                                    <h4 class="new-about-bank-success__achievements-card-title new-about-bank-success__achievements-card-title--career">
                                        Развитие
                                    </h4>
                                    <div class="new-about-bank-success__achievements-card-amount new-about-bank-success__achievements-card-amount--career">
                                        Мы учимся, развиваем свои концепции и строим карьеру
                                    </div>
                                </div>
                            </li>
                            <li class="new-about-bank-success__achievements-item">
                                <div class="new-about-bank-success__achievements-card">
                                    <img src="img/about-bank-new/unity.svg" alt="" class="new-about-bank-success__achievements-card-icon" />
                                    <h4 class="new-about-bank-success__achievements-card-title new-about-bank-success__achievements-card-title--career">
                                        Единство
                                    </h4>
                                    <div class="new-about-bank-success__achievements-card-amount new-about-bank-success__achievements-card-amount--career">
                                        Мы работаем сообща для достижения цели
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="team js-team">
            <div class="container">
                <div class="inner-container">
                    <h2 class="team__heading">
                        Команда Банка о банке
                    </h2>
                </div>
            </div>

            <div class="team__slider">
                <button class="team__arrow team__arrow--prev">
                    <svg width="28" height="46" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left" />
                    </svg>
                </button>
                <button class="team__arrow team__arrow--next">
                    <svg width="28" height="46" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </button>
                <div class="container">
                    <div class="inner-container">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="https://www.youtube.com/watch?v=bdANEb-RKHI&ab_channel=BankKazani" class="team__card" data-fancybox>
                                        <img src="img/team/1.jpg" alt="" class="team__card-image" />
                                        <div class="team__card-row">
                                            <h4 class="team__card-heading">
                                                Старший специалист
                                            </h4>
                                            <svg width="54" height="54" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="team__card">
                                        <img src="img/team/2.jpg" alt="" class="team__card-image" />
                                        <div class="team__card-row">
                                            <h4 class="team__card-heading">
                                                Заместитель директора
                                            </h4>
                                            <svg width="54" height="54" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="team__card">
                                        <img src="img/team/3.jpg" alt="" class="team__card-image" />
                                        <div class="team__card-row">
                                            <h4 class="team__card-heading">
                                                Заместитель директора
                                            </h4>
                                            <svg width="54" height="54" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="team__card">
                                        <img src="img/team/1.jpg" alt="" class="team__card-image" />
                                        <div class="team__card-row">
                                            <h4 class="team__card-heading">
                                                Старший специалист
                                            </h4>
                                            <svg width="54" height="54" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play" />
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="success-story">
            <div class="container">
                <div class="inner-container">
                    <h2 class="success-story__heading">
                        Истории успеха
                    </h2>
                    <div class="success-story__row">
                        <div class="success-story__left-col">
                            <h3 class="success-story__name">
                                Сергеев Николай Анатольевич
                            </h3>
                            <div class="success-story__role">
                                Заместитель Председателя Правления Банка
                            </div>
                            <div class="success-story__text">
                                <p>
                                    Навыки программирования умение формализовать экономические задачи, инициативность и стратегическое мышление позволили Николаю Анатольевичу возглавить отдел, затем управление, и стать Заместителем Председателя
                                    Правления банка.
                                </p>
                                <p>
                                    Качественный кредитный портфель Банка — результат работы его команды
                                </p>
                            </div>
                            <div class="success-story__history">
                                <ul class="success-story__history-list">
                                    <li class="success-story__history-list-item">
                                        <div class="success-story__history-card">
                                            <div class="success-story__history-card-year">
                                                2006 год
                                            </div>
                                            <div class="success-story__history-text">
                                                Практикант Банка Казани
                                            </div>
                                        </div>
                                    </li>
                                    <li class="success-story__history-list-item">
                                        <div class="success-story__history-card">
                                            <div class="success-story__history-card-year">
                                                2007 года
                                            </div>
                                            <div class="success-story__history-text">
                                                Принят на должность специалиста группы анализа банковских рисков
                                            </div>
                                        </div>
                                    </li>
                                    <li class="success-story__history-list-item">
                                        <div class="success-story__history-card">
                                            <div class="success-story__history-card-year">
                                                2011 год
                                            </div>
                                            <div class="success-story__history-text">
                                                Практикант Банка Казани
                                            </div>
                                        </div>
                                    </li>
                                    <li class="success-story__history-list-item">
                                        <div class="success-story__history-card">
                                            <div class="success-story__history-card-year">
                                                C 2015 года
                                            </div>
                                            <div class="success-story__history-text">
                                                Принят на должность специалиста группы анализа банковских рисков
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="success-story__right-col">
                            <div class="success-story__image-block">
                                <img src="img/success-story.jpg" alt="">
                                <div class="success-story__image-block-quote">
                                    В Банк Казани я пришел  совсем молодым практикантом, и теперь я Начальник Управления рисков
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="new-about-bank-products new-about-bank-products--dark-text">
            <div class="new-about-bank-products__bg">
                <img src="img/vacancies-bg.jpg" alt="" class="new-about-bank-products__bg-image" />
            </div>
            <div class="container">
                <div class="inner-container">
                    <h2 class="new-about-bank-products__heading">
                        Вакансии
                    </h2>
                    <ol class="new-about-bank-products__list">
                        <li class="new-about-bank-products__list-item">
                            <div class="new-about-bank-products__accordion js-accordion">
                                <div class="new-about-bank-products__accordion-btn js-accordion-btn">
                                    SQL разработчик

                                    <svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </div>
                                <div class="new-about-bank-products__accordion-content js-accordion-content">
                                    <div class="new-about-bank-products__accordion-text">
                                        <h4>
                                            Что будем делать
                                        </h4>
                                        <ul>
                                            <li>
                                                Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
                                            </li>
                                            <li>
                                                Настройка АБС "Новая Афина"
                                            </li>
                                            <li>
                                                Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы ожидаем от вас
                                        </h4>
                                        <ul>
                                            <li>
                                                Высшее техническое образование,
                                            </li>
                                            <li>
                                                Знание языка SQL, опыт написания сложных запросов к базе данных,
                                            </li>
                                            <li>
                                                Желательно понимание принципов работы финансовой организации
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы за это предлагаем
                                        </h4>
                                        <ul>
                                            <li>
                                                Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
                                            </li>
                                            <li>
                                                Просторный офис, оборудованное рабочее место
                                            </li>
                                            <li>
                                                Поддержку в период адаптации (система наставничества)
                                            </li>
                                            <li>
                                                Оборудованная комната приема пищи, автоматы с кофе и снеками
                                            </li>
                                            <li>
                                                Официальное оформление с 1-го рабочего дня
                                            </li>
                                            <li>
                                                График работы: 5/2, c 8.30-17.30 ч.
                                            </li>
                                            <li>
                                                Место работы: ул. Солдатская (ст.м. Козья Слобода)
                                            </li>
                                            <li>
                                                Заработная плата: оклад + ежеквартальные премии
                                            </li>
                                            <li>
                                                Возможность карьерного роста и профессионального развития в стабильном Банке
                                            </li>
                                            <li>
                                                Корпоративное обучение
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="new-about-bank-products__list-item">
                            <div class="new-about-bank-products__accordion js-accordion">
                                <div class="new-about-bank-products__accordion-btn js-accordion-btn">
                                    Администратор по информационной безопасности

                                    <svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </div>
                                <div class="new-about-bank-products__accordion-content js-accordion-content">
                                    <div class="new-about-bank-products__accordion-text">
                                        <h4>
                                            Что будем делать
                                        </h4>
                                        <ul>
                                            <li>
                                                Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
                                            </li>
                                            <li>
                                                Настройка АБС "Новая Афина"
                                            </li>
                                            <li>
                                                Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы ожидаем от вас
                                        </h4>
                                        <ul>
                                            <li>
                                                Высшее техническое образование,
                                            </li>
                                            <li>
                                                Знание языка SQL, опыт написания сложных запросов к базе данных,
                                            </li>
                                            <li>
                                                Желательно понимание принципов работы финансовой организации
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы за это предлагаем
                                        </h4>
                                        <ul>
                                            <li>
                                                Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
                                            </li>
                                            <li>
                                                Просторный офис, оборудованное рабочее место
                                            </li>
                                            <li>
                                                Поддержку в период адаптации (система наставничества)
                                            </li>
                                            <li>
                                                Оборудованная комната приема пищи, автоматы с кофе и снеками
                                            </li>
                                            <li>
                                                Официальное оформление с 1-го рабочего дня
                                            </li>
                                            <li>
                                                График работы: 5/2, c 8.30-17.30 ч.
                                            </li>
                                            <li>
                                                Место работы: ул. Солдатская (ст.м. Козья Слобода)
                                            </li>
                                            <li>
                                                Заработная плата: оклад + ежеквартальные премии
                                            </li>
                                            <li>
                                                Возможность карьерного роста и профессионального развития в стабильном Банке
                                            </li>
                                            <li>
                                                Корпоративное обучение
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="new-about-bank-products__list-item">
                            <div class="new-about-bank-products__accordion js-accordion">
                                <div class="new-about-bank-products__accordion-btn js-accordion-btn">
                                    Главный специалист Службы анализа банковских рисков

                                    <svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </div>
                                <div class="new-about-bank-products__accordion-content js-accordion-content">
                                    <div class="new-about-bank-products__accordion-text">
                                        <h4>
                                            Что будем делать
                                        </h4>
                                        <ul>
                                            <li>
                                                Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
                                            </li>
                                            <li>
                                                Настройка АБС "Новая Афина"
                                            </li>
                                            <li>
                                                Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы ожидаем от вас
                                        </h4>
                                        <ul>
                                            <li>
                                                Высшее техническое образование,
                                            </li>
                                            <li>
                                                Знание языка SQL, опыт написания сложных запросов к базе данных,
                                            </li>
                                            <li>
                                                Желательно понимание принципов работы финансовой организации
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы за это предлагаем
                                        </h4>
                                        <ul>
                                            <li>
                                                Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
                                            </li>
                                            <li>
                                                Просторный офис, оборудованное рабочее место
                                            </li>
                                            <li>
                                                Поддержку в период адаптации (система наставничества)
                                            </li>
                                            <li>
                                                Оборудованная комната приема пищи, автоматы с кофе и снеками
                                            </li>
                                            <li>
                                                Официальное оформление с 1-го рабочего дня
                                            </li>
                                            <li>
                                                График работы: 5/2, c 8.30-17.30 ч.
                                            </li>
                                            <li>
                                                Место работы: ул. Солдатская (ст.м. Козья Слобода)
                                            </li>
                                            <li>
                                                Заработная плата: оклад + ежеквартальные премии
                                            </li>
                                            <li>
                                                Возможность карьерного роста и профессионального развития в стабильном Банке
                                            </li>
                                            <li>
                                                Корпоративное обучение
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="new-about-bank-products__list-item">
                            <div class="new-about-bank-products__accordion js-accordion">
                                <div class="new-about-bank-products__accordion-btn js-accordion-btn">
                                    SQL разработчик

                                    <svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </div>
                                <div class="new-about-bank-products__accordion-content js-accordion-content">
                                    <div class="new-about-bank-products__accordion-text">
                                        <h4>
                                            Что будем делать
                                        </h4>
                                        <ul>
                                            <li>
                                                Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
                                            </li>
                                            <li>
                                                Настройка АБС "Новая Афина"
                                            </li>
                                            <li>
                                                Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы ожидаем от вас
                                        </h4>
                                        <ul>
                                            <li>
                                                Высшее техническое образование,
                                            </li>
                                            <li>
                                                Знание языка SQL, опыт написания сложных запросов к базе данных,
                                            </li>
                                            <li>
                                                Желательно понимание принципов работы финансовой организации
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы за это предлагаем
                                        </h4>
                                        <ul>
                                            <li>
                                                Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
                                            </li>
                                            <li>
                                                Просторный офис, оборудованное рабочее место
                                            </li>
                                            <li>
                                                Поддержку в период адаптации (система наставничества)
                                            </li>
                                            <li>
                                                Оборудованная комната приема пищи, автоматы с кофе и снеками
                                            </li>
                                            <li>
                                                Официальное оформление с 1-го рабочего дня
                                            </li>
                                            <li>
                                                График работы: 5/2, c 8.30-17.30 ч.
                                            </li>
                                            <li>
                                                Место работы: ул. Солдатская (ст.м. Козья Слобода)
                                            </li>
                                            <li>
                                                Заработная плата: оклад + ежеквартальные премии
                                            </li>
                                            <li>
                                                Возможность карьерного роста и профессионального развития в стабильном Банке
                                            </li>
                                            <li>
                                                Корпоративное обучение
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="new-about-bank-products__list-item">
                            <div class="new-about-bank-products__accordion js-accordion">
                                <div class="new-about-bank-products__accordion-btn js-accordion-btn">
                                    Администратор по информационной безопасности

                                    <svg width="14" height="9" aria-hidden="true" class="icon-arrow-down">
                                        <use xlink:href="#arrow-down" />
                                    </svg>
                                </div>
                                <div class="new-about-bank-products__accordion-content js-accordion-content">
                                    <div class="new-about-bank-products__accordion-text">
                                        <h4>
                                            Что будем делать
                                        </h4>
                                        <ul>
                                            <li>
                                                Реализация доработок в Автоматизированной Банковской Системе на языке PL / SQL БД Oracle
                                            </li>
                                            <li>
                                                Настройка АБС "Новая Афина"
                                            </li>
                                            <li>
                                                Поддержки пользователей в АБС, а именно: анализ причин возникновения нештатных ситуаций, по возможности исправление ошибок, в случае невозможности исправления своими силами – обращение к разработчику ПО
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы ожидаем от вас
                                        </h4>
                                        <ul>
                                            <li>
                                                Высшее техническое образование,
                                            </li>
                                            <li>
                                                Знание языка SQL, опыт написания сложных запросов к базе данных,
                                            </li>
                                            <li>
                                                Желательно понимание принципов работы финансовой организации
                                            </li>
                                        </ul>
                                        <h4>
                                            Что мы за это предлагаем
                                        </h4>
                                        <ul>
                                            <li>
                                                Полное погружение в ППО Банка и банковскую терминологию(депозиты, платежки, заявки, РМК, Новая Афина и т.п.)
                                            </li>
                                            <li>
                                                Просторный офис, оборудованное рабочее место
                                            </li>
                                            <li>
                                                Поддержку в период адаптации (система наставничества)
                                            </li>
                                            <li>
                                                Оборудованная комната приема пищи, автоматы с кофе и снеками
                                            </li>
                                            <li>
                                                Официальное оформление с 1-го рабочего дня
                                            </li>
                                            <li>
                                                График работы: 5/2, c 8.30-17.30 ч.
                                            </li>
                                            <li>
                                                Место работы: ул. Солдатская (ст.м. Козья Слобода)
                                            </li>
                                            <li>
                                                Заработная плата: оклад + ежеквартальные премии
                                            </li>
                                            <li>
                                                Возможность карьерного роста и профессионального развития в стабильном Банке
                                            </li>
                                            <li>
                                                Корпоративное обучение
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </section>

        <section class="career-contacts">
            <div class="container">
                <div class="inner-container">
                    <div class="career-contacts__card">
                        <div class="career-contacts__card-left-col">
                            <h3 class="career-contacts__card-heading">
                                Контакты для связи
                            </h3>
                            <div class="career-contacts__card-text">
                                Свяжитесь с нашими специалистами по телефону или отправьте ваше резюме по почте
                            </div>
                        </div>
                        <div class="career-contacts__card-right-col">
                            <h4 class="career-contacts__card-title">
                                Отдел подбора, оценки и развития персонала
                            </h4>
                            <div class="career-contacts__items">
                                <div class="career-contacts__item">
                                    <div class="career-contacts__item-key">
                                        Телефон
                                    </div>
                                    <div class="career-contacts__item-value">
                                        <a href="tel:+78435249715">8 843 524-97-15</a>
                                    </div>
                                    <a href="#" class="career-contacts__template">
                                        <svg width="25" height="32" aria-hidden="true" class="icon-file">
                                            <use xlink:href="#file" />
                                        </svg>
                                        <div class="career-contacts__template-content">
                                            <div class="career-contacts__template-text">
                                                Шаблон резюме
                                            </div>
                                            <div class="career-contacts__template-weight">
                                                PDF • 1.0 MB
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="career-contacts__item">
                                    <div class="career-contacts__item-key">
                                        E-mail
                                    </div>
                                    <div class="career-contacts__item-value">
                                        <a href="mailto:anketa@bankofkazan.ru">anketa@bankofkazan.ru</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
