{% set title = "Банк Казани - Кредит доверительный" %}
{% set activePage = "Home"  %}
{% set navigationText = "dark"  %}
{% extends "layout.html" %}
{% block content %}
    {% include "partials/bank-menu-product.html" %}
    {% include "blocks/navigation-short.html" %}
    <div data-barba="wrapper">
        <div data-barba="container" data-barba-namespace="home">
            {% include "blocks/article.html" %}
          
            {% include "blocks/other-credit-products.html" %}
        </div>
    </div>
{% endblock %}