{% set title = "Банк Казани - Таблица" %} {% set activePage = "Home" %} {% set navigationText = "dark" %} {% extends "layout.html" %} {% block content %} {% include "partials/bank-menu-product.html" %} {% include
"blocks/navigation-short-fullscreen.html" %}
<div data-barba="wrapper">
    <div data-barba="container" data-barba-namespace="home">
        <div class="catalog">
            <div class="container">
                <div class="catalog__layout-row">
                    <div class="catalog__left-col">
                        <div class="catalog__menu">
                            <a href="#" class="catalog__menu-link">
                                Расчетно-кассовое обслуживание
                            </a>
                            <a href="#" class="catalog__menu-link active">
                                Кредиты бизнеcу
                            </a>
                            <a href="#" class="catalog__menu-link">
                                Депозиты бизнесу
                            </a>
                            <a href="#" class="catalog__menu-link">
                                Банковские гарантии
                            </a>
                            <a href="#" class="catalog__menu-link">
                                Пластиковые карты
                            </a>
                        </div>
                    </div>
                    <div class="catalog__right-col">
                        <section class="text-block-1">
                            <div class="container">
                                <div class="inner-container">
                                    <div class="text-block-1__row">
                                        <div class="text-block-1__col">
                                            <div class="text-block-1__content">
                                                <h2>
                                                    Как отправить денежный перевод?
                                                </h2>
                                                <p>
                                                    Для того чтобы отправить денежный перевод, нужно лишь заполнить заявление на отправление перевода по форме банкав офисе Банка Казани
                                                </p>
                                                <ul>
                                                    <li>
                                                        Полное имя получателя (Ф.И.О. для физического лица, либо наименование юридического лица)
                                                    </li>
                                                    <li>
                                                        Сумма и валюта перевода
                                                    </li>
                                                    <li>
                                                        Страна и город, в который необходимо доставить деньги
                                                    </li>
                                                </ul>
                                                <ol>
                                                    <li>
                                                        Полное имя получателя (Ф.И.О. для физического лица, либо наименование юридического лица)
                                                    </li>
                                                    <li>
                                                        Сумма и валюта перевода
                                                    </li>
                                                    <li>Страна и город, в который необходимо доставить деньги</li>
                                                </ol>
                                            </div>
                                            <a href="#" class="text-block-1__link">
                                                заявка на кредит
                                            </a>
                                        </div>
                                        <div class="text-block-1__col">
                                            <img src="img/text-blocks/text-block-1.jpg" alt="" class="text-block-1__image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="text-block-payments">
                            <div class="container">
                                <div class="inner-container">
                                    <h3 class="text-block-payments__heading">
                                        Тарифы Систем денежных переводов
                                    </h3>
                                    <div class="text-block-payments__links">
                                        <a href="#" class="text-block-payments__link">
                                            <img src="img/text-blocks/western-union.jpg" alt="" class="text-block-payments__link-image" />
                                        </a>
                                        <a href="#" class="text-block-payments__link">
                                            <img src="img/text-blocks/corona.jpg" alt="" class="text-block-payments__link-image" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="text-block-protect">
                            <div class="container">
                                <div class="inner-container">
                                    <h2 class="text-block-protect__heading">
                                        Как защитить себя от мошенничества?
                                    </h2>
                                    <img src="img/text-blocks/hacker.jpg" alt="" class="text-block-protect__image" />
                                    <ul class="text-block-protect__actions-list">
                                        <li class="text-block-protect__actions-list-item">
                                            Используйте системы денежных переводов исключительно для отправления денег только ЗНАКОМЫМ Вам людям
                                        </li>
                                        <li class="text-block-protect__actions-list-item">
                                            Не сообщайте контрольный номер денежного перевода или какую-либо информацию о переводе никому, кроме получателя. Если мошеннику станут известны какие-либо детали перевода, он сможет получить перевод
                                        </li>
                                        <li class="text-block-protect__actions-list-item">
                                            Не отправляйте деньги, используя выдуманное имя получателя
                                        </li>
                                        <li class="text-block-protect__actions-list-item">
                                            Не отправляйте деньги без дополнительных мер предосторожности в следующих ситуациях
                                        </li>
                                        <li class="text-block-protect__actions-list-item">
                                            Перевод денег незнакомому лицу якобы для экстренной помощи близкому родственникув случае, если Вы не смогли связаться с родственником лично
                                        </li>
                                        <li class="text-block-protect__actions-list-item">
                                            Перевод в пользу незнакомого Вам лица или человека, с которым Вы общались исключительно через интернет
                                        </li>
                                    </ul>
                                    <div class="text-block-protect__message">
                                        <p>
                                            <strong>
                                                Помните!
                                            </strong>
                                        </p>

                                        <p>
                                            Помните, что после того, как деньги получены, Вы не сможете получить возврат денежных средств от системы денежных переводов или банка, даже если Вы стали жертвой мошенничества!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="text-block-advantages">
                            <div class="container">
                                <div class="inner-container">
                                    <h2 class="text-block-advantages__heading">
                                        Преимущества работы с нашим банком
                                    </h2>
                                    <ul class="text-block-advantages__list">
                                        <li class="text-block-advantages__list-item">
                                            <div class="text-block-advantages__card">
                                                <img src="img/text-blocks/shield.svg" alt="" class="text-block-advantages__card-icon" />
                                                <h3 class="text-block-advantages__card-title">
                                                    Надежность
                                                </h3>
                                                <div class="text-block-advantages__card-text">
                                                    <p>
                                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья. Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="text-block-advantages__list-item">
                                            <div class="text-block-advantages__card">
                                                <img src="img/text-blocks/card.svg" alt="" class="text-block-advantages__card-icon" />
                                                <h3 class="text-block-advantages__card-title">
                                                    Надежность
                                                </h3>
                                                <div class="text-block-advantages__card-text">
                                                    <p>
                                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья. Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="text-block-advantages__list-item">
                                            <div class="text-block-advantages__card">
                                                <img src="img/text-blocks/trend.svg" alt="" class="text-block-advantages__card-icon" />
                                                <h3 class="text-block-advantages__card-title">
                                                    Надежность
                                                </h3>
                                                <div class="text-block-advantages__card-text">
                                                    <p>
                                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья. Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="text-block-advantages__list-item">
                                            <div class="text-block-advantages__card">
                                                <img src="img/text-blocks/shield.svg" alt="" class="text-block-advantages__card-icon" />
                                                <h3 class="text-block-advantages__card-title">
                                                    Надежность
                                                </h3>
                                                <div class="text-block-advantages__card-text">
                                                    <p>
                                                        Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья. Пополнение оборотных средств (обновление товарного ассортимента, закуп сырья
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>

                        <section class="text-block-1">
                            <div class="container">
                                <div class="inner-container">
                                    <div class="text-block-1__row text-block-1__row--reversed">
                                        <div class="text-block-1__col">
                                            <div class="text-block-1__content">
                                                <h2>
                                                    Как отправить денежный перевод?
                                                </h2>
                                                <p>
                                                    Для того чтобы отправить денежный перевод, нужно лишь заполнить заявление на отправление перевода по форме банкав офисе Банка Казани
                                                </p>
                                                <ul>
                                                    <li>
                                                        Полное имя получателя (Ф.И.О. для физического лица, либо наименование юридического лица)
                                                    </li>
                                                    <li>
                                                        Сумма и валюта перевода
                                                    </li>
                                                    <li>
                                                        Страна и город, в который необходимо доставить деньги
                                                    </li>
                                                </ul>
                                                <ol>
                                                    <li>
                                                        Полное имя получателя (Ф.И.О. для физического лица, либо наименование юридического лица)
                                                    </li>
                                                    <li>
                                                        Сумма и валюта перевода
                                                    </li>
                                                    <li>Страна и город, в который необходимо доставить деньги</li>
                                                </ol>
                                            </div>
                                            <a href="#" class="text-block-1__link">
                                                заявка на кредит
                                            </a>
                                        </div>
                                        <div class="text-block-1__col">
                                            <img src="img/text-blocks/text-block-1.jpg" alt="" class="text-block-1__image" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
