*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --max-container-width: 148.8rem;
    --max-inner-container-width: 123.2rem;
    --content-padding: 4rem;
    --primary-color: #94c22b;
    --primary-color-hover: #7dad0d;
    --secondary-color: #641f76;
    --secondary-color-hover: #500c61;
    --dark-text-color: #000000;
    --light-text-color: #8a8a8a;
    --helvetica: 'Open Sans', 'HelveticaNeueCyr', 'Roboto', sans-serif;
    // --helvetica: 'HelveticaNeueCyr', 'Roboto', sans-serif;

    
  
    @include breakpoint(mobile) {
        --content-padding: 3rem;
    }
}



html {
    box-sizing: border-box;
    font-size: 9px;
    -webkit-text-size-adjust: 100%;
    @include noHighlight();

    @include breakpoint(large-desktop) {
        font-size: 8px;
    }

    @include breakpoint(desktop) {
        font-size: 7px;
    }

    @include breakpoint(laptop) {
        font-size: 6px;
    }

    @include breakpoint(tablet) {
        // font-size: 5px;
    }

    @include breakpoint(small-tablet) {
        font-size: 5px;
    }

    @include breakpoint(mobile) {
        font-size: 10px;
    }

    @include breakpoint(supersmall-mobile) {
        font-size: 9px;
    }
}

body {
    min-width: 320px;
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--helvetica);
}

ul,
ol {
    list-style: none;
}

ol {
    counter-reset: ordered-list;
    li {
        counter-increment: ordered-list;
        &::before {
            content: counter(ordered-list) '.';
        }
    }
}

input,
textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}

input:not([type='checkbox']):not([type='radio']) {
    appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

::-ms-clear { display: none; }

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    font: inherit;
    outline: none;
    display: inline-block;
}

a {
    text-decoration: none;
    &:link,
    &:visited {
        color: var(--primary-color);

       
    }
}

img {
    max-width: 100%;
    display: block;
}

img[data-sizes='auto'] {
    display: block;
    width: 100%;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.visually-hidden {
    @include visuallyHidden();
}

.swiper-slide {
    box-sizing: border-box;
    height: auto;
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

.icon-search {
    transform: scaleX(-1);
}

::selection {
    color: white;
    background-color: var(--primary-color);
}


.low-vision {
    ::selection {
        color: white;
        background-color: black;
    }
}


.barba-leave-active,
.barba-enter-active {
    transition: opacity 800ms ease;
}

.barba-leave,
.barba-enter-to {
    opacity: 1;
}

.barba-enter,
.barba-leave-to {
    opacity: 0;
}


.general-rules__table .landing-block-node-table {
    @include breakpoint(mobile) {
        padding-left: var(--content-padding);   
        margin-left: calc(var(--content-padding) * -1);
        padding-bottom: 2rem;

        &::-webkit-scrollbar {
            background-color: #f1f1f1;
            width: 0.5rem;
            height: 0.5rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
        }
        &::-webkit-scrollbar-button {
            display: none;
        }
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }
    }
}