@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}


@mixin noHighlight() {
    -webkit-tap-highlight-color: transparent;
}



@mixin visuallyHidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin fullpageBG {
    position: relative;
    background: none;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: calc((100vw - 100%) / 2 * -1);
        width: 100vw;
        top: 0;
        bottom: 0;
        @content;
    }
}

@mixin objectFitCover() {
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}
@mixin objectFitCoverRight() {
    object-fit: cover;
    object-position: right center;
    font-family: 'object-fit: cover; object-position: right center;';
}

@mixin objectFitCoverTop() {
    object-fit: cover;
    object-position: top;
    font-family: 'object-fit: cover; object-position: top;';
}
@mixin objectFitCoverBottom() {
    object-fit: cover;
    object-position: center bottom;
    font-family: 'object-fit: cover; object-position: center bottom;';
}
@mixin objectFitCoverBottomRight() {
    object-fit: cover;
    object-position: right bottom;
    font-family: 'object-fit: cover; object-position: right bottom;';
}

@mixin objectFitContain() {
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;';
}

@mixin objectFitContainBottom() {
    object-fit: contain;
    object-position: bottom;
    font-family: 'object-fit: contain; object-position: bottom;';
}

@mixin breakpoint($class) {
    @if $class == large-desktop {
        @media only screen and (max-width: (1600px)) {
            @content;
        }
    } @else if $class == desktop {
        @media only screen and (max-width: (1400px)) {
            @content;
        }
    } @else if $class == laptop {
        @media only screen and (max-width: (1200px)) {
            @content;
        }
    } @else if $class == tablet {
        @media only screen and (max-width: (1024px)) {
            @content;
        }
    } @else if $class == small-tablet {
        @media only screen and (max-width: (968px)) {
            @content;
        }
    } @else if $class == mobile {
        @media only screen and (max-width: (680px)) {
            @content;
        }
    } @else if $class == small-mobile {
        @media only screen and (max-width: (576px)) {
            @content;
        }
    } @else if $class == supersmall-mobile {
        @media only screen and (max-width: (370px)) {
            @content;
        }
    }
}

@mixin breakpointMF($class) {
    @if $class == large-desktop {
        @media only screen and (min-width: 1401px) {
            @content;
        }
    } @else if $class == desktop {
        @media only screen and (min-width: 1201px) {
            @content;
        }
    } @else if $class == laptop {
        @media only screen and (min-width: 1025px) {
            @content;
        }
    } @else if $class == tablet {
        @media only screen and (min-width: 969px) {
            @content;
        }
    } @else if $class == small-tablet {
        @media only screen and (min-width: 681px) {
            @content;
        }
    } @else if $class == mobile {
        @media only screen and (min-width: 577px) {
            @content;
        }
    }
}

@mixin noScrollbar {
    &::-webkit-scrollbar * {
        background: transparent;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar {
        display: none;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}
