@mixin h1 {
    font-size: 32px;
}

@mixin h2 {
    font-size: 24px;
}
@mixin h3 {
    font-size: 20px;
}
@mixin h4 {
    font-size: 18px;
}
@mixin h5 {
    font-size: 18px;
}

@mixin p {
    font-size: 16px;
}

@mixin a {
    &:link,
    &:visited {
        color: orange;
    }
}


.visual-editor-content {
    > * {
        margin: 20px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        @include p();
    }

    a {
        @include a();
    }

    h1 {
        @include h1();
    }

    h2 {
        @include h2();
    }

    h3 {
        @include h3();
    }

    h4 {
        @include h4();
    }

    h5 {
        @include h5();
    }
}

